<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://xml.zope.org/namespaces/i18n"
  i18n:domain="eea.climateadapt.observatory.frontpage"
  lang="en">
  <head>
    {{> partials/health-head }}
  </head>

  <body class="web-cca-observatory">
    {{> partials/edit-menu }}
    {{> partials/health-globalmenu }}

    <div class="health-top-wrapper">
      {{> partials/health-top }}
      {{> partials/health-homepage-tiles }}
    </div>

    <div class="content-container site-container main-area">
      <div id="content" class="health-homepage-specific">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 health-left">
            <p class="folder_health_context" i18n:translate=""></p>
            <!-- <div id="page-body"></div> -->
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 health-right">
            {{> partials/health-sidebar }}
          </div>
        </div>
      </div>
    </div>

    {{> partials/health-footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
