<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head }}
  </head>

  <body>
    {{> partials/edit-menu }}
    {{> partials/health-globalmenu }}

    <div class="health-top-wrapper">
      {{> partials/health-top }}
      {{> partials/health-homepage-tiles }}
    </div>

    <div class="content-container site-container main-area">
      <div id="content" class="health-homepage-specific">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 health-left">
            <p class="folder_health_context"></p>
            <!-- <div id="page-body"></div> -->
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 health-right">
            {{> partials/health-sidebar }}
          </div>
        </div>
      </div>
    </div>

    {{> partials/health-footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
