<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head }}
  </head>

  <body>
    {{> partials/edit-menu }}
    {{> partials/health-globalmenu }}
    {{> partials/health-top }}

    <div class="content-container site-container main-area">
      <div id="content" class="health-homepage-specific">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12 health-left">
            {{> partials/health-sidebar }}
          </div>
          <div class="col-lg-9 col-sm-6 col-xs-12 health-right">
            <div id="page-body"></div>
          </div>
        </div>
      </div>
    </div>

    {{> partials/footer-health }}
    {{> partials/bottom-scripts }}

  </body>
</html>
