<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/health-head }}
  </head>

  <body class="web-cca-observatory">
    {{> partials/edit-menu }}
    {{> partials/health-globalmenu }}

    <div class="content-container site-container main-area">
      <div id="content" >
        <div class="row">
          <div class="column col-lg-12">
            <div id="page-body"></div>
          </div>
        </div>
      </div>
    </div>

    {{> partials/health-footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
