<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head }}
  </head>

  <body>
    {{> partials/edit-menu }}
    {{> partials/globalmenu }}
    {{> partials/health-top }}

    <div class="content-container site-container main-area">
        <div class="row" id="content">
            <div class="column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                {{> partials/health-sidebar }}
                <div class="health_contribute">
                    <h4>Contribute to the Observatory</h4>
                    <a href="mailto:climate.adapt@eea.europa.eu" class="submit-widget button-field standard-button primary-button">Send us an email <i class="pull-right fa fa-envelope"></i></a>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="column col-lg-9 col-md-6 col-sm-6 col-xs-12">
                <p class="folder_health_context"></p>
                {{> partials/health-content-top }}
            </div>
        </div>
    </div>

    {{> partials/footer-health }}
    {{> partials/bottom-scripts }}

  </body>
</html>
