<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/compiled-css.css"/>
    <link rel="stylesheet" href="css/compiled-less.css"/>
    <!-- <link rel="stylesheet" href="static/css/slick.css"/> -->
    <!-- <link rel="stylesheet" href="static/css/slick&#45;theme.css"/> -->
    <!-- <link rel="stylesheet" href="static/css/style.css"/> -->
    <title>Climate-ADAPT</title>
  </head>

  <body>
    <div class="top-area">

    {{> partials/globalmenu }}
    {{> partials/frontpage-slides }}

    </div>

    {{> partials/frontpage-dynamic }}

    <div class="content-container">
      {{> partials/frontpage-main }}
    </div>

    {{> partials/footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
