<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head }}
  </head>

  <body class="web-cca">

    {{> partials/globalmenu }}
    {{> partials/frontpage-slides }}

    <div class="content-container">
      <div class="global-msg"></div>
    </div>

    {{> partials/frontpage-dynamic }}

    <div class="content-container">
      {{> partials/frontpage-main }}
    </div>

    {{> partials/footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
