<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head }}
  </head>

  <body>

    <div class="top-area">
      {{> partials/globalmenu }}
      {{> partials/frontpage-slides }}
    </div>

    {{> partials/frontpage-dynamic }}

    <div class="content-container">
      {{> partials/frontpage-main }}
    </div>

    {{> partials/footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
