<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head }}
  </head>

  <body>
    <div class="top-page-area">
      {{> partials/edit-menu }}
      {{> partials/globalmenu }}
    </div>

    <div class="content-container site-container">
      <div id="page-body"></div>
    </div>

    {{> partials/footer }}
    {{> partials/bottom-scripts }}

  </body>
</html>
