<footer class="footer">
  <div class="footer-nav">
    <div class="content-container">
      <nav>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Sitemap</a>
          </li>
          <li>
            <a href="#">Legal notice</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="content-container">
    <div class="footer-content flex-wrapper">
      <div class="site-info action-flex-item">
        <p>The European Climate Adaptation Platform Climate-ADAPT)is a partnership between the <a href="https://ec.europa.eu/">European Commission</a> and the <a href="https://www.eea.europa.eu/">European Environment Agency.</a></p>
        <div class="footer-logos-wrapper">
          <a href="https://ec.europa.eu/">
            <img src="static/images/ec_logo.png"/>
          </a>
          <a href="https://www.eea.europa.eu/">
            <img class="eea-logo" src="static/images/eea_mini.png"/>
          </a>
        </div>
      </div>
      <div class="eu-system action-flex-item">
        <p>EU Information Systems:</p>
        <ul class="footer-logos-list">
          <li>
            <a href="https://biodiversity.europa.eu/">
              <img src="static/images/bise-logo.png"/>
            </a>
          </li>
          <li>
            <a href="https://water.europa.eu/">
              <img src="static/images/wise-logo.png"/>
            </a>
          </li>
          <li>
            <a href="http://climate.copernicus.eu/">
              <img src="static/images/c3s-logo.png"/>
            </a>
          </li>
          <li>
            <a href="http://drmkc.jrc.ec.europa.eu/">
              <img src="static/images/drmkc-logo.png"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
