<div class="main-area">

  <div class="row first-row">
    <div class="main-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container info-section">
        <div class="content-body">
          <div class="info-title-section">
            <img src="static/images/share-info.png"/>
            <h5 class="info-title">Share <span>your </br> information</span></h5>
          </div>
          <p>Find out how to contribute different types of information to Climate-ADAPT</p>
          <div class="main-link-wrapper">
            <a class="standard-button info-button"
               href="../help/share-your-info">I want to learn more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <h2>EU Funding and Adaptation </h2>
        <ul class="box-listing">
          <li>
            <a href="../eu-adaptation-policy/funding/life">Life climate Action</a>
            <p>Developing innovative responses to the challenges of climate change.</p>
          </li>
          <li>
            <a href="../eu-adaptation-policy/funding/esi">ESI funds</a>
            <p>EU budget has an important role to play in promoting climate action.</p>
          </li>
          <li>
            <a href="../eu-adaptation-policy/funding/h2020">H2020</a>
            <p>Financial instrument implementing the Innovation Union.</p>
          </li>
        </ul>
        <div class="read-more-wrapper">
          <a href="../eu-adaptation-policy/funding" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div>

    <div class="main-box col-md-6 col-sm-12 col-xs-12">
      <div class="box-container">
        <img src="static/images/COM_logo.png"/>
        <p>Covenant of Mayors Initiative on Climate Change Adaptation – was set up by the European Commission to engage cities in taking action to adapt to climate change. It was launched in 2014 as a parallel adaptation initiative to the Covenant of Mayors, which focused on mitigation. In 2015, the European Commission merged the two initiatives in an effort to promote an integrated approach to climate and energy action.</p>
        <div class="read-more-wrapper">
          <a href="https://www.covenantofmayors.eu/en/" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div>
  </div>

    <div class="row second-row">
        <div class="main-box col-md-3 col-sm-6 col-xs-12">
            <div class="box-container fp-news-tile">
                <h2>News</h2>
                <ul>
                    <li>
                        <a href="#">
                            Hiding from a warmer climate in the forest
                        </a>
                        <p class="news-time">11 Jan 2018</p>
                    </li>
                    <li>
                        <a href="#">
                            Agriculture at risk in Italy: the potential impacts of climate change
                        </a>
                        <p class="news-time">09 Jan 2018</p>
                    </li>
                    <li>
                        <a href="#">
                            Trees' spring awakening is becoming less and less sensitive to altitude differences
                        </a>
                        <p class="news-time">26 Dec 2017</p>
                    </li>
                </ul>
                <div class="read-more-wrapper">
                    <a href="" class="read-more">
                        <i class="fa fa-angle-double-right"></i>
                        More news
                    </a>
                </div>
            </div>
        </div>

        <div class="main-box col-md-3 col-sm-6 col-xs-12">
            <div class="box-container fp-events-tile">
                <h2>Events</h2>
                <div>
                    <a href="#">
                        EU Adaptation  Strategy evaluation: public consultation meeting
                    </a>
                    <p class="news-time">23 Jan 2018</p>
                </div>
                <div>
                    <a href="#">
                        Public consultation launched on EU Adaptation Strategy
                    </a>
                    <p class="news-time">01 Mar 2018 </p>
                </div>
                <div>
                    <a href="#">
                        Stakeholder dialogue on solutions for strategic adaptation planning in European cities
                    </a>
                    <p class="news-time">01 Feb 2018</p>
                </div>
                <div class="read-more-wrapper">
                    <a href="" class="read-more">
                        <i class="fa fa-angle-double-right"></i>
                        More events
                    </a>
                </div>
            </div>
        </div>

        <div class="main-box col-md-3 col-sm-6 col-xs-12">
            <div class="box-container">
                <div class="newsletter-wrapper content-body">
                    <h4>Newsletter</h4>
                    <p>Check the <a href="../newsletter">European Climate Adaptation Newsletter</a> and register to receive it in your e-mail:</p>
                    <div class="main-link-wrapper">
                      <a href="http://eea-subscriptions.eu/user/register"
                         class="standard-button primary-button">
                          Sign me up!
                      </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-box col-md-3 col-sm-6 col-xs-12">
            <div class="box-container">
                <div class="rss-feed-wrapper content-body">
                    <i class="fa fa-rss"></i>
                    <p>Subscribe to our <strong>RSS feed</strong> <br/> and stay up to date!</p>
                    <div class="main-link-wrapper">
                      <a href="#"
                         class="standard-button primary-button">
                          Subscribe
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
