<div class="main-area">
  <div class="row">

    {{!-- Share your info --}}
    <div class="main-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="box-container info-section">
        <a href="../help/share-your-info">
          <div class="content-body">
            <img class="lazyload" data-src="{{ themeurl }}/static/images/share-info.svg" title="Information icon"/>
            <h5 class="info-title">Share <span>your information</span></h5>
            <p>Find out how to contribute different types of information to Climate-ADAPT</p>
          </div>
        </a>
      </div>
    </div>

    {{!-- Covenant of Mayors --}}
    <div class="main-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="box-container">
        <img class="lazyload" data-src="{{ themeurl }}static/images/COM_logo.png" title="Covenant of Mayors logo"/>
        <p class="covenant-text">The Covenant of Mayors initiative aims to engage and support cities and towns to commit to reaching the EU climate mitigation and adaptation targets. Signatory cities pledge action to support implementation of the EU 40% greenhouse gas-reduction target by 2030 and the adoption of a joint...</p>
        <div class="read-more-wrapper">
          <a href="../eu-adaptation-policy/covenant-of-mayors" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div>

    <div class="main-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="box-container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#news-tab">News</a>
          </li>
          <li>
            <a href="#events-tab">Events</a>
          </li>
        </ul>

        <div class="tab-content">
          {{!-- News tab --}}
          <div class="tab-pane active fade in" id="news-tab">
            <div class="fp-news-tile">
              <ul>
                <li>
                  <a href="#">
                    Hiding from a warmer climate in the forest
                  </a>
                  <p class="news-time">11 Jan 2018</p>
                </li>
                <li>
                  <a href="#">
                    Agriculture at risk in Italy: the potential impacts of climate change
                  </a>
                  <p class="news-time">09 Jan 2018</p>
                </li>
                <li>
                  <a href="#">
                    Trees' spring awakening is becoming less and less sensitive to altitude differences
                  </a>
                  <p class="news-time">26 Dec 2017</p>
                </li>
              </ul>
              <div class="read-more-wrapper">
                <a href="" class="read-more">
                  <i class="fa fa-angle-double-right"></i>
                  More news
                </a>
              </div>
            </div>
          </div>

          {{!-- Events tab --}}
          <div class="tab-pane fade" id="events-tab">
            <div class="fp-events-tile">
              <div>
                <a href="#">
                  EU Adaptation Strategy evaluation: public consultation meeting
                </a>
                <p class="news-time">23 Jan 2018</p>
              </div>
              <div>
                <a href="#">
                  Public consultation launched on EU Adaptation Strategy
                </a>
                <p class="news-time">01 Mar 2018 </p>
              </div>
              <div>
                <a href="#">
                  Stakeholder dialogue on solutions for strategic adaptation planning in European cities
                </a>
                <p class="news-time">01 Feb 2018</p>
              </div>
              <div class="read-more-wrapper">
                <a href="" class="read-more">
                  <i class="fa fa-angle-double-right"></i>
                  More events
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="main-box col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="box-container feed-container content-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#newsletter-tab">Newsletter</a>
          </li>
          <li>
            <a href="#rss-tab">RSS feed</a>
          </li>
        </ul>

        <div class="tab-content">
          {{!-- Newsletter --}}
          <div class="tab-pane active fade in" id="newsletter-tab">
            <div class="feed-wrapper content-body">
              <a href="../newsletter"
                 title="Check the European Climate Adaptation Newsletters">
                <i class="fa fa-envelope"></i>
              </a>
              <p>Check the <a href="../newsletter">European Climate Adaptation Newsletter</a> and register to receive it in your e-mail:</p>
              <div class="main-link-wrapper">
                <a href="http://eea-subscriptions.eu/user/register"
                   class="standard-button primary-button"
                   title="Sign up for our Newsletters">
                    Sign me up!
                </a>
              </div>
            </div>
          </div>

          {{!-- RSS feed --}}
          <div class="tab-pane fade" id="rss-tab">
            <div class="feed-wrapper content-body">
              <a href="/rss-feed"
                 title="Subscribe to our RSS Feed">
                <i class="fa fa-rss"></i>
              </a>
              <p>Subscribe to our <strong> RSS feed </strong> <br/> and stay up to date!</p>
              <div class="main-link-wrapper">
                <a href="/rss-feed"
                   class="standard-button primary-button"
                   title="Subscribe to our RSS Feed">
                    Subscribe
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
