<div class="slider">
  <div class="slider-image-wrapper">
    <img src="static/images/image-1.jpg"/>
    <div class="slider-caption">
      <h3>About Climate Change Adaptation in Europe</h3>
      <p>Climate-ADAPT aims to support Europe in adapting to climate change. It is an initiative of the European Commission and helps users to access and share information.</p>
      <div class="slider-bottom-caption">
        <div class="read-more-wrapper">
          <a href="" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-image-wrapper">
    <img src="static/images/image-2.jpg"/>
    <div class="slider-caption">
      <h3>Implementation of the Vitoria-Gasteiz Green Urban Infrastructure Strategy </h3>
      <p>The Green Urban Infrastructure Strategy was launched by the City Council of Vitoria-Gasteiz in 2012. Its main objectives are the regeneration of degraded areas through eco-design techniques.</p>
      <div class="slider-bottom-caption">
        <div class="read-more-wrapper">
          <a href="" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div>
  </div>

    <div class="slider-image-wrapper">
        <img src="static/images/image-3.jpg"/>
        <div class="slider-caption">
            <h3>Implementation of the Vitoria-Gasteiz Green Urban Infrastructure Strategy </h3>
            <p>The Green Urban Infrastructure Strategy was launched by the City Council of Vitoria-Gasteiz in 2012. Its main objectives are the regeneration of degraded areas through eco-design techniques.</p>
            <div class="slider-bottom-caption">
                <div class="read-more-wrapper">
                    <a href="" class="read-more">
                        <i class="fa fa-angle-double-right"></i>
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
