<div class="dynamic-area">
  <div class="main-tab-heading">
    <div class="content-container">

      <ul class="nav nav-tabs main-nav-tabs">
        <li class="main-tab-item active">
          <a href="#t-started">
            <i class="fa fa-user"></i>
            Getting <br> Started
          </a>
        </li>
        <li class="main-tab-item db-highlighted">
          <a href="#t-database">
            <i class="fa fa-database"></i>
            Search the Database
          </a>
        </li>
        <li class="main-tab-item">
          <a href="#t-policies">
            <i class="fa fa-inbox"></i>
            EU Sector <br> Policies
          </a>
        </li>
        <li class="main-tab-item">
          <a href="#t-countries" data-tab='countries'>
            <i class="fa fa-map-marker"></i>
            Country <br> Profiles
          </a>
        </li>
        <li class="main-tab-item">
          <a href="#t-studies">
            <i class="fa fa-file"></i>
            Case <br> Studies
          </a>
        </li>
        <li class="main-tab-item ast-section">
          <a href="#t-adapt">
            <div class="ast-icon"></div>
            Adaptation <br> Support Tool
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div class="tab-container">
    <div class="content-container">
      <div class="tab-content tab-body clearfix">

        <div class="tab-pane active fade in getting-started main-tab-pane" id="t-started">
          <h2>Are you new to Climate-ADAPT?</h2>
          <p>Do you need help to find the information you want on the knowledge platform - Climate-ADAPT?</p>
          <p>Help is at hand! Use this new guide to learn how:</p>

          <div class="row">

            <div class="col-6 col-md-4">
              <div class="action-box">
                <div class="action-bubble">
                  <p>I want to plan or implement adaptation measures at <span class="action-highlighted">local</span> level</p>
                </div>
                <button class="standard-button action-btn regional-btn">Learn more</button>
              </div>
            </div>

            <div class="col-6 col-md-4">
              <div class="action-box">
                <div class="action-bubble">
                  <p>I want to develop a <span>NATIONAL</span> or <span class="action-highlighted">regional</span> adaptation strategy or action plan</p>
                </div>
                <button class="standard-button action-btn transnational-btn">Learn more</button>
              </div>
            </div>

            <div class="col-6 col-md-4">
              <div class="action-box">
                <div class="action-bubble">
                  <p>I want to plan strategies or implement adaptation measures in a <span class="action-highlighted">transnational</span> region</p>
                </div>
                <button class="standard-button action-btn national-btn">Learn more</button>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade main-tab-pane" id="t-database">
          <div class="database-search-box">
          <form method="GET" action="/data-and-downloads">
            <input type="text" placeholder="type here ..."
            name="SearchableText" />
            <button class="search-submit" type="submit">
              <i class="fa fa-search"></i>
            </button>
            </form>
          </div>

          <div class="db-categories flex-wrapper">
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                <i class="fa fa-cogs"></i>
                <span class="total-items">120</span>
                </span>
                <p>Adaptation <br> Options</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-file-text-o"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Case studies</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                <i class="fa fa-compass"></i>
                <span class="total-items">120</span>
                </span>
                <p>Guidance</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-area-chart"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Indicators</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-info-circle"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Information <br> Portals</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-bar-chart"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Maps, graphs <br> and datasets</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-sitemap"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Organizations</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-newspaper-o"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Publication <br> and Reports</p>
              </a>
            </div>
            <div class="db-category-wrapper db-research action-flex-item">
              <a href="#">
                <span class="db-category-icon db-research-icon">
                  <div class="research-icon"></div>
                </span>
                <span class="total-items">120</span>
                <p>Research and <br> Knowledge projects</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-wrench"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Tools</p>
              </a>
            </div>
          </div> <!-- end of db wrapper -->

          <div class="see-more-link">
            <p>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>
                See complete database
              </a>
            </p>
          </div>
        </div>


          <div class="tab-pane fade main-tab-pane" id="t-policies">
            {{> partials/tab-policies }}
            <div class="see-more-link">
                <p>For more informations visit:
                    <a href="/cca/eu-adaptation-policy/sector-policies">
                        <i class="fa fa-angle-double-right"></i>
                        EU Sector Policies
                    </a>
                </p>
            </div>
          </div>

        <div class="tab-pane fade tab-map" id="t-countries">

          <svg-container class="svg-header-wrapper svg-map-container"
            data-settings="./@@mapSingleCountrySettings">
            <svg height="300"></svg>
          </svg-container>

          <img src="static/images/country_profile_map_1.png"/>
          <div class="map-caption">
            <p>EEA Member countries are at different stages of preparing, developing and implementing national adaptation strategies and plans.</p>
            <p>Click on a specific country on the map or select from the dropdown to see the country profile:</p>
            <span class="country-dropdown">
              <select>
                <option selected="selected">Go to country...</option>
                <option>
                  Country name
                </option>
              </select>
            </span>
            <a href="../countries-regions" class="standard-button primary-button sm-button">See countries webpage</a>
          </div>
        </div>

        <div class="tab-pane fade" id="t-studies">
          <div class="case-study row">

            <div class="col-md-9">
              <h2>What are case studies?</h2>
              <p>Climate-ADAPT case studies showcase initiatives that are already being carried out in Europe to adapt to climate change and increase resilience to extreme weather and slow-onset events. </p>
              <p>Case studies are flagship of the Climate-ADAPT platform. They have a comprehensive structure that covers all the key aspects in the implementation cycle of adaptation measures and are careful and specifically prepared for Climate-ADAPT by the organisation that is involved in the implementation with the support of EEA, following a set of <a href="https://climate-adapt.eea.europa.eu/repository/11090223.pdf">criteria</a> and also in collaboration with the main stakeholders.</p>
              <div class="ca-booklet">
                <img src="static/images/ca-booklet.png">
                <p>See how Europe is adapting to climate change:
                  <a class="ca-booklet-link" href="../about/climate-adapt-10-case-studies-online.pdf">
                    <i class="fa fa-angle-double-right"></i>
                    Case studies booklet
                  </a>
                </p>
              </div>
            </div>

            <div class="case-study-search col-md-3">
              <img src="static/images/case_study_prev.png"/>
              <p>Find case studies in Europe for different locations as well as for various impacts and sectors:</p>
              <a class="special-link" href="../knowledge/tools/sat">
                <i class="fa fa-angle-double-right"></i>
                Case Study Search Tool
              </a>
            </div>
        </div>

        <div class="see-more-link case-study-link">
          <p>For more informations visit:
            <a href="#">
              <i class="fa fa-angle-double-right"></i>
              Case studies
            </a>
          </p>
        </div>
      </div>

        <div class="tab-pane fade ast-tab-pane" id="t-adapt">

          <div class="ast-content">
            <h2>Adaptation Support Tool</h2>
            <div class="ast-map-image">
              <div class="arrow-round">
                <div>
                  <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-1">
                    <span class="ast-circle circle-1">1</span>
                    <span class="step-text circle-1-text">
                      <p>Preparing the ground for adaptation</p>
                    </span>
                  </a>
                </div>
                <div>
                  <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-2">
                    <span class="ast-circle circle-2">2</span>
                    <span class="step-text circle-2-text">
                      <p>Assessing risks and vulnerability <br> to climate change</p>
                    </span>
                  </a>
                </div>
                <div>
                  <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-3">
                    <span class="ast-circle circle-3">3</span>
                    <span class="step-text circle-3-text">
                      <p>Identifying adaptation options</p>
                    </span>
                  </a>
                </div>
                <div>
                  <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-4">
                    <span class="ast-circle circle-4">4</span>
                    <span class="step-text circle-4-text">
                      <p>Assessing adaptation options</p>
                    </span>
                  </a>
                </div>
                <div>
                  <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-5">
                    <span class="ast-circle circle-5">5</span>
                    <span class="step-text circle-5-text">
                      <p>Implementation</p>
                    </span>
                  </a>
                </div>
                <div>
                  <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-6">
                    <span class="ast-circle circle-6">6</span>
                    <span class="step-text circle-6-text">
                      <p>Monitoring & Evaluation (M&E)</p>
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <ul class="ast-steps">
              <li>
                <a href="#">
                  <span class="step-number">1.</span>
                  Preparing the ground for adaptation
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="step-number">2.</span>
                  Assessing risks and vulnerability to climate change
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="step-number">3.</span>
                  Identifying adaptation options
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="step-number">4.</span>
                  Assessing adaptation options
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="step-number">5.</span>
                  Implementation
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="step-number">6.</span>
                  Monitoring & Evaluation (M&E)
                </a>
              </li>
            </ul>
          </div>

          <div class="see-more-link">
            <div class="ast-link">
              <div class="ast-link-wrapper">
                <p>For more informations visit:</p>
                <a href="../knowledge/tools/adaptation-support-tool">
                  <i class="fa fa-angle-double-right"></i>
                  Adaptation support tool
                </a>
              </div>
            </div>
            <div class="urban-area">
              <img src="static/images/uast.png">
              <p>For urban areas guidance visit:</p>
              <a class="special-link" href="../knowledge/tools/urban-ast/step-0-0">
              <i class="fa fa-angle-double-right"></i>
              Urban Adaptation Support Tool
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="blue-bg"></div>
  </div>
</div>
