<div class="main-area">

  <div class="row first-row">
    <div class="main-area-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container info-section">
        <div class="content-body">
          <div class="info-title-section">
            <img src="static/images/share-info-icons.png"/>
            <div class="info-title">
              <h5>Share <span>your information</span></h5>
            </div>
          </div>
          <p>Find out how to contribute different types of information to CLIMATE-ADAPT</p>
          <button class="standard-button info-button">I want to learn more</button>
        </div>
      </div>
    </div> <!-- end of main-area box -->

    <div class="main-area-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <h2>EU Funding and Adaptation </h2>
        <ul class="box-listing">
          <li>
            <i class="fa fa-angle-right"></i>
            <a href="#">Life climate Action</a>
          </li>
          <li>
            <i class="fa fa-angle-right"></i>
            <a href="#">ESI funds</a>
          </li>
          <li>
            <i class="fa fa-angle-right"></i>
            <a href="#">H2020</a>
          </li>
        </ul>
        <div class="read-more-wrapper">
          <a href="" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div> <!-- end of main-area box -->

    <div class="triangle-box col-md-6 col-sm-12 col-xs-12">
      <div class="box-container">
        <img src="static/images/COM_logo.png"/>
        <p>Covenant of Mayors Initiative on Climate Change Adaptation – was set up by the European Commission to engage cities in taking action to adapt to climate change. It was launched in 2014 as a parallel adaptation initiative to the Covenant of Mayors, which focused on mitigation. In 2015, the European Commission merged the two initiatives in an effort to promote an integrated approach to climate and energy action.</p>
        <div class="read-more-wrapper">
          <a href="" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            Read more
          </a>
        </div>
      </div>
    </div> <!-- end of triangle box -->
  </div> <!-- end of first row -->

  <div class="row second-row">
    <div class="main-area-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <h2>News</h2>
        <div class="news-title">
          <a href="#">
            Hiding from a warmer climate in the forest
          </a>
          <p class="news-time">11 Jan 2018</p>
        </div>
        <div class="news-title">
          <a href="#">
            Agriculture at risk in Italy: the potential impacts of climate change
          </a>
          <p class="news-time">09 Jan 2018</p>
        </div>
        <div class="news-title">
          <a href="#">
            Trees' spring awakening is becoming less and less sensitive to altitude differences
          </a>
          <p class="news-time">26 Dec 2017</p>
        </div>

        <div class="read-more-wrapper">
          <a href="" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            More news
          </a>
        </div>
      </div>
    </div> <!-- end of main-area box -->

    <div class="main-area-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <h2>Events</h2>
        <div class="news-title">
          <a href="#">
            EU Adaptation  Strategy evaluation: public consultation meeting
          </a>
          <p class="news-time">23 Jan 2018</p>
        </div>
        <div class="news-title">
          <a href="#">
            Public consultation launched on EU Adaptation Strategy
          </a>
          <p class="news-time">01 Mar 2018 </p>
        </div>
        <div class="news-title">
          <a href="#">
            Stakeholder dialogue on solutions for strategic adaptation planning in European cities
          </a>
          <p class="news-time">01 Feb 2018</p>
        </div>
        <div class="read-more-wrapper">
          <a href="" class="read-more">
            <i class="fa fa-angle-double-right"></i>
            More events
          </a>
        </div>
      </div>
    </div>

    <div class="main-area-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="newsletter-wrapper content-body">
          <h4>Newsletter</h4>
          <p>Check the <a href="#">European Climate Adaptation Newsletter</a> and register to receive it in your e-mail:</p>
          <button class="standard-button primary-button">Sign me up!</button>
        </div>
      </div>
    </div> <!-- end of main-area box -->

    <div class="main-area-box col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="rss-feed-wrapper content-body">
          <i class="fa fa-rss"></i>
          <p>Subscribe to our <strong>RSS feed</strong> </br> and stay up to date!</p>
        <button class="standard-button primary-button">Subscribe</button>
      </div>
    </div>
  </div> <!-- end of main-area box -->
</div> <!-- end of second row -->

      </div>

