<p class="health_title">DISCOVER THE MAIN TOPICS AND TOOLS OF THE OBSERVATORY</p>
<div class="row health_top_items">
    <div class="column col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="box-container box-container-border">
            <img src="/++theme++climateadaptv2/static/images/health-top1.png">
            <h5>Partners</h5>
            <p>Discover who is contributing to the Observatory</p>
            <a href="/cca/eu-adaptation-policy/covenant-of-mayors">
                Read more
                <i class="fa fa-angle-double-right"></i>
            </a>
        </div>
    </div>
    <div class="column col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="box-container box-container-border">
            <img src="/++theme++climateadaptv2/static/images/health-top2.png">
            <h5>Resource catalogue</h5>
            <p>Search and access the Observatory’s database with Case Studies, Publications, Indicators, Reasearch projects</p>
            <a href="/cca/eu-adaptation-policy/covenant-of-mayors">
                Read more
                <i class="fa fa-angle-double-right"></i>
            </a>
        </div>
    </div>
    <div class="column col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="box-container box-container-border">
            <img src="/++theme++climateadaptv2/static/images/health-top3.png">
            <h5>Indicators</h5>
            <p>Discover indicators on climate change and health</p>
        </div>
    </div>
    <div class="column col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="box-container box-container-border">
            <img src="/++theme++climateadaptv2/static/images/health-top4.png">
            <h5>EU Health Warning Systems</h5>
            <p>Access the key EU warning systems for health</p>
        </div>
    </div>
</div>
