<div class="health-fp-image" xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en"
  xmlns:tal="http://xml.zope.org/namespaces/tal"
  xmlns:metal="http://xml.zope.org/namespaces/metal"
  xmlns:i18n="http://xml.zope.org/namespaces/i18n"
  lang="en"
  i18n:domain="eea.climateadapt.observatory.frontpage">
  <div class="health-image-wrapper">
    <div
      class="health-lead-image"
      style="background-image: url('{{ themeurl }}static/images/health-lead-image.png')">
    </div>

    <div class="image-text-wrapper">
      <div class="fp-image-content">
        <h1 i18n:translate="">European Climate <br /> and Health Observatory</h1>
        <p i18n:translate="">We provide easy access to a wide range of relevant publications,
           tools, websites and other resources related to climate change and
           human health.</p>
        <!-- <a href="/observatory/About/about-the-observatory"
           class="health-learn-more">
          Learn more
        </a> -->
      </div>
    </div>

    <div class="health-image-copyright">
      <span>Piotr Kwatera, REDISCOVER Nature/EEA</span>
    </div>
  </div>
</div>
