<div class="health_top_items">
  <h5 class="health_title">Discover the main topics and tools of the observatory</h5>
  <div class="row">
    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_partners.svg"/>
          <div class="health-box-layer"></div>
        </div>

        <div class="health-top-content">
          <h5>Partners</h5>
          <p>Discover who is contributing to the Observatory</p>
          <a class="health-learn-more" href="/">
            Learn more
          </a>
        </div>
      </div>
    </div>

    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_country-profiles.svg"/>
          <div class="health-box-layer"></div>
        </div>

        <div class="health-top-content">
          <h5>Country profiles</h5>
          <p>Access the key EU warning systems for health</p>
          <a class="health-learn-more" href="/observatory/policy-context/country-profiles">
            Learn more
          </a>
        </div>
      </div>
    </div>

    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_indicators.svg"/>
          <div class="health-box-layer"></div>
        </div>
        <div class="health-top-content">
          <h5>Indicators</h5>
          <p>Discover indicators on climate change and health</p>
          <a class="health-learn-more" href="/observatory/evidence/indicators_intro">
            Learn more
          </a>
        </div>
      </div>
    </div>

    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_resource-catalogue.svg"/>
          <div class="health-box-layer"></div>
        </div>
        <div class="health-top-content">
          <h5>Resource catalogue</h5>
          <p>Search and access the Observatory’s database with Case Studies,
            Publications, Indicators, Reasearch projects</p>
          <a class="health-learn-more" href="/observatory/catalogue">
            Learn more
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
