<div class="list_news_events">
    <h4>News/Events</h4>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/cca/health#news-tab">News</a>
        </li>
        <li class="">
            <a href="/cca/health#events-tab">Events</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="news-tab">
            <div class="fp-news-tile">
                <table class="health_homepage health_listing bluebox">
                    <tbody>
                        <tr>
                            <td style="width:20%;text-align:center;"><span class='circle_big'></span></td>
                            <td class="align-middle"><p>10.02.2020</p></td>
                            <td>
                                <p>Text here</p><a href="">Read more ...</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="events-tab">
            <div class="fp-events-tile">
                <table class="health_homepage health_listing bluebox">
                    <tbody>
                        <tr>
                            <td style="width:20%;text-align:center;"><span clase="circle_med"></span></td>
                            <td class="align-middle"><p>18.03.2020</p></td>
                            <td>
                                <p>Text here</p><a href="">Read more ...</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
