<div class="logo-health">
  <a href="/">
    <img src="static/images/climate-adapt-logo.svg" alt="Climate-ADAPT Logo"/>
  </a>
  <a href="/health" class="health_logo">
    <img src="/++theme++climateadaptv2/static/images/climate-adapt-health-logo.jpg"
         alt="Climate-ADAPT Health Logo" />
  </a>
</div>
