<div class="header">
  <div class="top-menu nav-down">
    <div class="content-container top-menu-wrapper">

      <div class="logo">
        <a href="/observatory" class="health_logo">
          <img src="/++theme++climateadaptv2/static/images/health-logo.png"
               alt="Health Observatory Logo"
               width="182"
               height="50"
               />
        </a>
        <a href="/">
          <img src="static/images/climate-adapt-logo.svg"
               alt="Climate-ADAPT Logo"
               width="204"
               height="40"
               />
        </a>
      </div>

      <div class="top-menu-right-section">
        <div class="top-menu-content">
          <ul class="top-menu-nav">
              <li class="top-menu-nav-item">
                <a href="/observatory/news-archive-observatory">
                  <i class="fa fa-newspaper-o"></i>
                  News
                </a>
              </li>
              <li class="top-menu-nav-item">
                <a href="/observatory/more-events-observatory">
                  <i class="fa fa-calendar"></i>
                  Events
                </a>
              </li>
          </ul>
        </div>

        <div class="mobile-menu">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container">
    <ul class="main-nav main-nav-menu">
      <li>
        <a href="#">Menu Item
          <i class="angle-down-icon"></i>
        </a>
        <div class="sub-menu-wrapper main-sub-menu-wrapper">
          <ul class="main-sub-menu">
            <li class="main-sub-menu-item">
              <a href="#">Menu SubItem</a>
              <ul class="sub-menu-wrapper">
                <li>
                  <a href="#">Menu SubSubItem</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
