<div class="health-fp-image">
  <div class="health-image-wrapper">
    <div
      class="health-lead-image"
      style="background-image: url('{{ themeurl }}static/images/health-lead-image.png')">
    </div>

    <div class="image-text-wrapper">
      <div class="fp-image-content">
        <h1>European Climate <br /> and Health Observatory</h1>
        <p>We provide easy access to a wide range of relevant publications, tools,
          websites and other resources related to climate change and health.</p>
        <!-- <a href="/observatory/About/about-the-observatory"
           class="health-learn-more">
          Learn more
        </a> -->
      </div>
    </div>

  </div>
</div>
