<div class="health-top">
  <div class="health-image-wrapper">
    <div
      class="health-lead-image"
      style="background-image: url('{{ themeurl }}static/images/health-lead-image.png')">
    </div>

    <div class="health-text-wrapper">
      <h1>European Climate and Health Observatory</h1>
      <p>We provide easy access to a wide range of relevant publications, tools,
         websites and other resources related to climate change and health.
      </p>
      <a href="/observatory" class="health-learn-more">Learn more</a>
    </div>
  </div>
</div>
