<div class="health-fp-boxes" xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en"
  xmlns:tal="http://xml.zope.org/namespaces/tal"
  xmlns:metal="http://xml.zope.org/namespaces/metal"
  xmlns:i18n="http://xml.zope.org/namespaces/i18n"
  lang="en"
  i18n:domain="eea.climateadapt.observatory.frontpage">
  <h5 class="health_title" i18n:translate="">Discover the main topics and tools of the observatory</h5>
  <div class="row">
    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image" style="width:auto;margin:auto;"
               src="/++theme++climateadaptv2/static/images/Logo_CAMSPOSLINE.png"/>
          <div class="health-box-layer"></div>
        </div>
        <div class="health-top-content">
          <span class="new-label" i18n:translate="">New</span>
          <h5 style="display:inline-block" i18n:translate="">UV Index forecast (CAMS)</h5>
          <p i18n:translate="">View the UV Index forecast developed by Copernicus Atmosphere Monitoring Service (CAMS)</p>
          <div class="health-footer">
            <a class="health-learn-more" href="/observatory/evidence/projections-and-tools/cams-uv-index-forecast" i18n:translate="">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_indicators.svg"/>
          <div class="health-box-layer"></div>
        </div>
        <div class="health-top-content">
          <h5 i18n:translate="">INDICATORS</h5>
          <p i18n:translate="">View climate and health indicators from different trusted information providers</p>
          <div class="health-footer">
            <a class="health-learn-more" href="/observatory/evidence/indicators_intro" i18n:translate="">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_country-profiles.svg"/>
          <div class="health-box-layer"></div>
        </div>

        <div class="health-top-content">
          <h5 i18n:translate="">Country profiles</h5>
          <p i18n:translate="">See how countries are addressing climate change adaptation in
          public health</p>
          <div class="health-footer">
            <a class="health-learn-more" href="/observatory/policy-context/country-profiles" i18n:translate="">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_resource-catalogue.svg"/>
          <div class="health-box-layer"></div>
        </div>
        <div class="health-top-content">
          <h5 i18n:translate="">Resource catalogue</h5>
          <p i18n:translate="">Search and access the Observatory’s database containing case studies,
           publications, indicators, research projects and other</p>
          <div class="health-footer">
            <a class="health-learn-more" href="/observatory/catalogue/" i18n:translate="">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="box-container">
        <div class="health-box-image">
          <img class="box-image"
               src="/++theme++climateadaptv2/static/images/Logo_policy.svg"/>
          <div class="health-box-layer"></div>
        </div>
        <div class="health-top-content">
          <h5>LANCET COUNTDOWN-EEA BRIEFING</h5>
          <p>Read about the health risks of climate change and related EU policies</p>
          <div class="health-footer">
            <a
              class="health-learn-more"
              href="https://climate-adapt.eea.europa.eu//observatory/++aq++metadata/publications/responding-to-the-health-risks-of-climate-change-in-europe">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
