<div class="climate-adapt-platforms-dynamic-area" xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en"
  xmlns:tal="http://xml.zope.org/namespaces/tal"
  xmlns:metal="http://xml.zope.org/namespaces/metal"
  xmlns:i18n="http://xml.zope.org/namespaces/i18n"
  lang="en"
  i18n:domain="eea.climateadapt.frontpage">
  <ul class="nav nav-tabs flex-wrapper policies-nav">
    <li class="climate-adapt-platforms-nav-item active">
      <a tal:attributes="href python:view.translate_url('/en/mission')"
          href="/en/mission"
         data-toggle="tab" class="policies-nav-link" data-target="#eumission">
        <p i18n:translate="">EU Mission on Adaptation</p>
      </a>
    </li>
    <li class="climate-adapt-platforms-nav-item">
      <a tal:attributes="href python:view.translate_url('/en/observatory')"
          href="/en/observatory"
         data-toggle="tab" class="policies-nav-link" data-target="#observatory" >
         <p i18n:translate="">European Climate and Health Observatory</p>
      </a>
    </li>
    <li class="climate-adapt-platforms-nav-item">
      <a tal:attributes="href python:view.translate_url('/en/knowledge/european-climate-data-explorer/')"
          href="/en/knowledge/european-climate-data-explorer/"
         data-toggle="tab" class="policies-nav-link" data-target="#platforms">
        <p i18n:translate="">European Climate Data Explorer</p>
      </a>
    </li>
    <li class="climate-adapt-platforms-nav-item">
      <a tal:attributes="href python:view.translate_url('/en/eucra')"
          href="/en/eucra"
         data-toggle="tab" class="policies-nav-link" data-target="#eucra">
        <p i18n:translate="">European Climate Risk Assessment<br />(EUCRA)</p>
      </a>
    </li>
  </ul>

  <div class="tab-content policies-tab-content">

    <!-- Platforms -->
    <div id="platforms" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img data-src="{{ themeurl }}static/images/ecde-logo.svg" width="177" height="61"
               class="lazyload"
               alt="European Climate Data Explorer" title="European Climate Data Explorer"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h3 i18n:translate="">European Climate Data Explorer</h3>
          <p i18n:translate="">The European Climate Data Explorer provides interactive access to many climate indices from the Copernicus Climate Change Service in support of climate change adaptation.</p>
                <a class="standard-button primary-button feature-btn"
                tal:attributes="href python:view.translate_url('/en/knowledge/european-climate-data-explorer/')"
                href="/knowledge/european-climate-data-explorer/" i18n:translate="">
                Go to the European Climate Data Explorer</a>
        </div>
      </div>
    </div>

    <!-- Observatory -->
    <div id="observatory" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img data-src="{{ themeurl }}static/images/health-logo.svg" width="220" height="58"
               class="lazyload"
               alt="Health Observatory Logo" title="Health Observatory Logo"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h3 i18n:translate="">European Climate and Health Observatory</h3>
          <p i18n:translate="">The European Climate and Health Observatory provides access to a wide range of relevant publications, tools, websites and other resources related to climate change and health.</p>
                <a class="standard-button primary-button feature-btn"
                href="/observatory"
                tal:attributes="href python:view.translate_url('/en/observatory')"
                 i18n:translate="">Go to the European Climate and Health Observatory</a>
        </div>
      </div>
    </div>

    <!-- EuMission -->
    <div id="eumission" class="tab-pane active">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img data-src="{{ themeurl }}static/images/home-page/eu_mission_climate.jpg"
               class="lazyload"
               alt="Buildings" title="Buildings"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h3 i18n:translate="">EU Mission on Adaptation</h3>
          <p i18n:translate="">The EU Mission on Adaptation to Climate Change portal provides relevant information and resources to European regional and local authorities to prepare and plan for climate resilience.</p>
                <a class="standard-button primary-button feature-btn"
                href="/mission"
                tal:attributes="href python:view.translate_url('/en/mission')"
                 i18n:translate="">Go to the Mission Portal</a>
        </div>
      </div>
    </div>

    <!-- eucra -->
    <div id="eucra" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img data-src="{{ themeurl }}static/images/home-page/eucra.png"
               class="lazyload" style="width:200px !important"
               alt="Coastal areas" title="Coastal areas"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h3 i18n:translate="">European Climate Risk Assessment</h3>
          <p i18n:translate="">The European Climate Risk Assessment provides an assessment of current and future climate change impacts and risks relating to the environment, economy and wider society in Europe.</p>
                <a class="standard-button primary-button feature-btn"
                href="/mission"
                tal:attributes="href python:view.translate_url('/en/eu-adaptation-policy/key-eu-actions/climate_risk_assessment')"
                 i18n:translate="">Go to the EUCRA</a>
        </div>
      </div>
    </div>

  </div>
</div>
