div.csst-tooltip .x-tip-header-text a {
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
}

.csst-tooltip-td {
	padding: 2px;
}

.csst-tooltip-table {
	vertical-align: center;
	padding: 5px;
	border: 0;
}

div.csst-tooltip .x-tip-header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AAAAAA;
}

#csst_element {
	width: 968px;
	height: 968px;
}

/* Setting font sizes for the different headings */

#csst_element .portlet-title {
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

#csst-title-help .portlet-title {
	color: #02213D;
	font-style: italic;
	font-weight: normal;
	padding: 0px 10px 7px 0;
}

#csst-options .portlet-title, #csst-legend .portlet-title {
	background: #FFF;
	color: #0a81d4;
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 10px;
}

#csst-grid .portlet-title {
	background: #ECECEC;
	color: #0a81d4;
	font-size: 16px;
	font-style: italic;
	padding: 3px 0 5px 10px;
}

.csst-grid-subheader {
	font-size: 13px;
	font-weight: normal;
	margin: 7px 10px;
	padding-top: 0;
}

/* Fixes the input fields on IE */
#csst-locator input[type='text'] {
	background: #EFEFEF;
    height: 25px;
    padding-right: 20px;
    margin-left: 6px;
}

#csst-options input[type='text'] {
	margin-top: 0;
	padding: 1px;
}

/* Locator and locator results window */
#locator-textfield {

}

#locate-button .x-btn-tl, #locate-button .x-btn-tr, #locate-button .x-btn-tc, #locate-button .x-btn-ml, #locate-button .x-btn-mr, #locate-button .x-btn-mc, #locate-button .x-btn-bl, #locate-button .x-btn-br, #locate-button .x-btn-bc {
	background-image: none;
}

#locate-button {
	position: relative;
	top: -2px;
}

.x-search, .x-search:hover {
	background: url(../images/search-icon-location.png) !important;
	border-color: transparent !important;
	color: transparent;
	width: 23px !important;
	height: 23px !important;
}

#locator-results, #csst-search-results-similar, #csst-search-results-dissimilar {
	border: 1px solid #DEDEDE;
}

/* Map */
#csst-map {
	border: 1px solid #EFEFEF;
	padding: 5px;
}

/* Risks and sectors options */

.risk-sector-label {
	background: #EFEFEF;
	color: #333;
	display: block;
	font-size: 13px;
	font-weight: normal;
	padding: 15px 7px 5px 7px;
}

#csst-legend .x-panel-body, #csst-options .x-panel-body {
	background: #EFEFEF;
}

#csst-options .x-form-field-wrap {
	background: #EFEFEF;
	padding: 0 7px 15px 7px;
}

/* Legend */
#csst-legend {
	margin-top: 10px;
}

#csst-legend table {
	margin: 10px;
}

#csst-legend tr {
	height: 35px;
}

.csst-legend-image {
	text-align: center;
}

.csst-legend-text {
	font-size: 10px;
	padding-left: 5px;
}

/* Search results */
#csst-grid {

}

/* Help tooltip button */
#help-button {
	clear: none;
}

#help-button .x-btn-tl, #help-button .x-btn-tr, #help-button .x-btn-tc, #help-button .x-btn-ml, #help-button .x-btn-mr, #help-button .x-btn-mc, #help-button .x-btn-bl, #help-button .x-btn-br, #help-button .x-btn-bc {
	background-image: none;
}

.x-help {
	background-image: url(../images/help-icon.png) !important;
	width: 29px !important;
	height: 27px !important;
}

.bluebutton {
    background: #c7d443;
	background: -webkit-gradient(linear, left top, left bottom, from(#c7d443), to(#afbe21));
	display: inline-block;
	border: solid 1px #aab91d;
	float: right;
	color: #232323;
	background: -moz-linear-gradient(top,  #c7d443,  #afbe21);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C7D443', endColorstr='#C7D443');
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
    font-weight: bold;	
	padding: 1em 2em 1em;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 0 2px #ffffff;
	-webkit-box-shadow: inset 0 0 2px #ffffff;
	box-shadow: inset 0 0 2px #ffffff;
	margin-top: 10%;
}
.bluebutton:hover {
	text-decoration: none;
}
.bluebutton:active {
	position: relative;
	top: 1px;
}