#portal-columns,
#footer {
    padding: 2em;
}
#portal-siteactions {
    padding: 35px;
    margin: 0px;
    background-color: white;
}
ul#portal-personaltools {
    display: none;
}

.jstree-node {
    height: 24px;
    display: inline;
}
.jstree-node.facetview_filterchoice.leaf a.jstree-anchor {
    height: 24px;
    display: inline-flex;
    position: static;
}
.nav.navbar-nav {
    height: auto;
    margin-top: -1px;
}
.nav.navbar-nav li {
    margin: 0px;
}
#navbar {
    border-width: 0 0 1px;
    font-size: 13.2px;
    font-family: Arial;
    min-height: 30px;
    height: auto;
    margin: 0px;
}
#search {
    display: none;
}
#searchGadget_form {
    float: right;
}
#navbar-collapse-1 {
    height: auto !important;
    background-color: #a5bf26;
    padding-left: 0px;
    padding-right: 0px;
}
body {
    background: #CCC;
}
#portal-breadcrumbs.plone-breadcrumb {
    background-color: #E9ECC9;
}
#portal-breadcrumbs.plone-breadcrumb ol > li + li:before {
    color: #a8a998;
}
#portal-breadcrumbs.plone-breadcrumb ol > li + li:after {
    color: #797a74;
}
#eea-above-columns {
    margin-bottom: -17px;
    margin-top: 18px;
}
#content h1 {
    margin: 0px;
}
div.content {margin: 0px !important;}
.jstree-anchor:hover {
    color: #000 !important;
}


html, body {
    background-color: #ccc;
}
#eea-above-columns, #portal-columns, #footer {
    margin-left: auto;
    margin-right: auto;
    min-width: 10% !important;
    max-width: 90%;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 984px;
}
.container {
    padding: 0px;
}
.facet_label_count{
    width: 30px;
}
.span3.right-column-area.eea-section.eea-right-section {
    width: 29%;
    padding-left: 10px;
}
div#facetview_rightcol {
    width: 69%;
    margin: 0px;
}
.eea-section-trigger {
    display: none;
}

.eea-tileInner {
    height: 205px;
}
.eea-tile {
    padding: 5px;
    width: 33.33%;
}
.eea-tileTitle {
    font-size: 1.1em;
}
/*@media (max-width: 933px) {
    .nav.navbar-nav {
        margin-top: -35px;
    }
}*/
@media (max-width: 880px) {
    .eea-tile {
        width: 33.3%;
        padding: 5px;
    }
}
@media (max-width: 800px) {
    .eea-tile {
        width: 50%;
        padding: 5px;
    }
}
@media (max-width: 768px) {
    #portal-columns {
        margin: 0px;
        max-width: 100%;
    }
    #eea-above-columns {
        max-width: 100%;
    }
    #footer {
        max-width: 100%;
    }
    div#searchbt {
        height: 48px;
    }

}
@media (max-width: 767px) {
    .eea-tile {
        width: 33.3%;
        padding : 1px;
    }
    div#facetview_rightcol {
        width: 100%;
        margin: 0px;
    }
    #portal-searchbox {
        display: none !important;
    }
    .nav.navbar-nav {
        margin-top: 7.5px;
    }
    div#searchbt {
        height: 30px;
    }
    #eea-above-columns {
        display: block;
    }
    .jstree-node.facetview_filterchoice.leaf a.jstree-anchor {
        height: 36px;
    }
}
@media (max-width: 600px) {
    .eea-tile {
        width: 50%;
    }
}
@media (max-width: 380px) {
    .eea-tile {
        width: 100%;
    }
}