/* reset */
/* * {margin:0; padding:0; list-style:none; vertical-align:baseline;} */

/************** Responsive Diazo Magic ************************/

/* Background images */
body {background: #CCC; }
#header {background: transparent url(cca/img/bg_banner.jpg) top left no-repeat;}
#header {background-size:1600px 88px; position:relative;}

/* Colors and fonts */
/* body {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 62.5%;} */
body {
    font-family: Tahoma,Times New Roman,serif;
    font-size:12px;
}
#content {
    color: #02213d;
}
a:link, a:visited, #content a:link, dl.portlet a:link {color:#205C90;}
a:hover {color:#000;}
h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif;}
h1 {color: #205C90;}
h2, h3, h4, h5, h6 {color: #636466;}
/* #wrapper { width:auto; margin: 0 auto; max-width: 90%;  font-size: 1.1em;} */

#wrapper { width:984px; margin: 0 auto; max-width: 90%;  font-size: 1.1em;}
#main {background:#fff; font-size: 1.3em; padding: 0;}

/* #nav {background: #a5bf26;  text-align: left; color: #ffffff;} */
/* #nav a {color: #ffffff;} */
/* #nav a:hover, #nav li.selected a {padding-top: 1em;background: #ff9900;} */

#portal-searchbox #searchGadget {
    border-width: 1px;
    border-style: solid;
    border-color: #597a97;
}
#portal-searchbox .searchButton {
    background:#636466;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c9;
}
#footer {background: #205C90; color: #fff;;}
#footer a:link {color:#fff;;}
#footer a:hover {color:#fff;;}
#footer a:visited {color:#fff;;}


/****************** Basic Stuff ***********************/

/* #content {font-size: 90%;} */
/* p {line-height: 1.8em; margin: 0 0 1em 0;} */
/* h1, h2, h3 {margin: 0.5em 0 0.5em;} */
#content {
    font-family:arial,serif;
}
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!Important; width:75%;}
.portlet img, #content img {max-width:100%;}
/* lists */
#content li, dl.portlet li {
    display: list-item;
    line-height: 1.5em;
    list-style: square outside;
    margin-bottom: 0.25em;
}
#content ol li, dl.portlet ol li {list-style: decimal outside;}
dl.portlet ul.navTreeLevel0 > .navTreeItem {list-style: none;}
/*header*/
#logo {float: left; width: 50%; padding-left:120px; height:88px;}
#logo img {max-width:100%;}
#logo a {display:block; width:100%;}
#portal-personaltools {font-size: 1.1em;}

/* navigation */
/* #nav {padding: 1em 2em 1em 0;   font-size: 1.2em;} */
/* #nav ul {padding-top: 0;} */
/* #nav li {display: inline;} */
/* #nav a {padding: 1.1em 2em 1em 2em; text-decoration: none;} */
#searchbt, #nav #seletor {display:none;}

/* Searchbox */
#portal-searchbox {float: right; margin: 3.0%  1% 0 0; width:24%; font-size: 1em;}
#portal-searchbox form, #portal-searchbox form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
    padding: 1.2% 0  1.1% 0;
    margin-right: 0.6%;
    text-indent: 2%;
    width: 72%;
    font-size:1.1em;
}
#portal-searchbox .searchButton {font-size:0.8em; width: 27%; padding:1.899% 0  0.8% 0; text-align:center;}
#LSResult {z-index:1; margin-top: 0.5%;}

/*footer*/
#footer {clear: left; padding: 2em;}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}

/* Responsive Design Magic*/

@media screen and (max-width: 768px) {

    #wrapper {max-width: 100%;}
    #logo {min-width:140px;}    

    /*Columns*/
    #portal-column-one, 
    #portal-column-two,
    #portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

    /*Search*/
    #portal-searchbox  {display:none;}

    /*Global navigation*/
    /* #nav {padding:0;width:100%; */
    /* } */

    #searchbt {display:block; float:right;width:14%;}

    #searchbt a {
        display:block;
        text-indent: -900000px;
        padding: 1em;
        margin-top: 4%;
        background:transparent url(search-ico.png) no-repeat center center;
    }

    /* #nav #seletor { */
    /*     display:block; */
    /*     padding:1em; */
    /*     width:80%; */
    /*     background:url("sections-ico.png") no-repeat 97% 60%; */
    /* } */
    /*  */
    /* #nav li {display: none;} */
    /*  */
    /* #nav:hover li { */
    /*     display: block; */
    /*     width:100%;  */
    /*     border-top:1px solid #ffffff;; */
    /*     display:block !Important; */
    /*     padding:0; */
    /* } */
    /*  */
    /* #nav ul { */
    /*     width:97.5%; */
    /*     margin:0; */
    /*     padding:0; */
    /* } */
    /*  */
    /* #nav:hover li a { */
    /*     color: #ffffff;; */
    /*     width:100%; */
    /*     padding:0 2.5%; */
    /*     line-height: 3em; */
    /*     display: block; */
    /*     width: 95% !important; */
    /* } */
    /*  */
    /* #nav:hover li:hover {background: #ff9900;} */
    /* #nav:hover li a:hover, */
    /* #nav:hover li.selected a {background: transparent;} */

    .overlay.overlay-ajax {top: 10px !Important;}
    .overlay.overlay-ajax input.searchPage {
        font-size: 200% !important;
        width: 90%;
        margin-bottom:1em;
    }
    .overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
    .overlay.overlay-ajax #searchform .discreet {text-align:left;}
    .overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

    #portal-breadcrumbs {display:none;}

    #portal-searchbox {
        float: none;
        width:80%;
        clear:both;
        margin: 0 auto 2%;
    }
}

/* Layout fixes */
#portal-columns.row { margin: 0; }
#content {margin: 1em;}
/* #content-core {padding:1em;} */
#content > .row { margin: 0}
#tiles-list li { list-style-type: none !important }
.layout-actions li { list-style-type: none !important;}

.column.col-md-8 .col-md-1{
    width:30%;
}

#content .row .column.col-md-4 {
    /* background-color: pink; */
}

div.width-full { width: 100%; }
div.position-0 { margin-left: -100%; }

.pull-left { margin: 0 1em 1em 0;}

/* .tile-content { padding: 0 1em;} */

.navbar { margin-bottom: 0px; min-height: 30px;}
.navbar-inverse { background-color: #a5bf26;}
.navbar-inverse .navbar-nav > li > a { color: Black; }
.navbar-nav > li > a { 
    padding-top:10px;
    padding-bottom: 10px;
    line-height: 20px;
}

/* Edit tiles layout */
#tile-configure.in.hide {
    display: block !important;
}

/* Tabs */
.sweet-tabs .nav-tabs {
    margin-left: 5px !important;
    height: 31px;
    border-bottom-color: rgb(149, 172, 193);
}
.sweet-tabs .nav-tabs, .sweet-tabs .nav-tabs li {
    list-style: outside none none !important;
}
.sweet-tabs .nav-tabs li {
    background: #d7e3ef url(ui-bg_glass_75_d7e3ef_1x400.png) repeat-x scroll 50% 50%;
    color: #02213d;
    font-weight: normal;
    margin-right: 2px; 
    border-width: 0px;
    float: left;
    position: relative;
    top: 1px;
    white-space: nowrap;
    height: 30px;
    margin-bottom: 0px !important;
}

.sweet-tabs .nav-tabs li:not(.active), .sweet-tabs .nav-tabs li:not(.active) a {
    height: 28px;
}

.sweet-tabs .nav-tabs li:first-child {
   margin-left: 4px;
}

.sweet-tabs .nav-tabs li:hover {
    background: #b8cce0 url(ui-bg_glass_75_b8cce0_1x400.png) repeat-x scroll 50% 50%;
    color: #02213d;
    font-weight: normal;
}

.sweet-tabs .nav-tabs > li > a {
    text-decoration: underline;
    padding: 6px 12px;
    margin: 0px;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 0px;
    padding-bottom: 2px;
    border-bottom-width: 0px !important;
    height: 30px;
}

#content .sweet-tabs .nav-tabs li a:hover, .sweet-tabs .nav-tabs li a:focus {
    color: #0077b3 !important;
    text-decoration: underline;
    border-top-color: rgb(149, 172, 193);
    border-left-color: rgb(149, 172, 193);
    border-right-color: rgb(149, 172, 193);
}

#content .sweet-tabs .nav-tabs li.active, #content .sweet-tabs .nav-tabs li.active a {
    border-top-color: rgb(149, 172, 193);
    border-left-color: rgb(149, 172, 193);
    border-right-color: rgb(149, 172, 193);
    border-bottom: 1px solid white !important;
}

.sweet-tabs .tab-content {
    margin-top: 20px;
    margin-left: 22px;
}

/* Accordion */
.panel-group .panel-title {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 0;
    text-decoration: none;
    height: 28px;
    border-width: 1px;
    margin-top: 1px;
    border-color: rgb(211, 211, 211):
}
.panel-group .panel-title > a {
    font-size: 12px !important;
    font-weight: normal !important;
    text-decoration: none;
    color: #02213d;
    display: block;
    padding: 0px 6px 0px 11px;
    height: 28px;
    outline: 0;
    background: #d7e3ef url(ui-bg_glass_75_d7e3ef_1x400.png) repeat-x scroll 50% 50%;
}
#content .panel-group .panel-title:hover > a {
    color: #02213d !important;
}
.panel-group .panel-title > a:before {
    font-family: monospace;
    font-size: 10px;
    content: "▼  "
}
.panel-group .panel-title > a.collapsed:before {
    font-family: monospace;
    font-size: 10px;
    content: "▶  ";
}

.panel-group .panel-title > a:not(.collapsed) {
    background: #ffffff none no-repeat right top;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-right-color: rgb(170, 170, 170);
    border-top-color: rgb(170, 170, 170);
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.panel-body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 200;
    font-style: normal;
    font-size-adjust: none;
    color: rgb(2, 33, 61);
    line-height: 16px;
    padding-top: 9px; padding-left: 20px;
}

.panel-collapse.in > .panel-body,
.panel-collapse.collapsing {
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-right-color: rgb(170, 170, 170);
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.aceitem_page {
    /* padding:1em; */
    width: 95%;
    margin: 0 auto;
}

.aceitem_page h2 {
    background-color: #012C56;
    color: white;
    padding-left: 0.5em;
    font-size:120%;
    font-weight: normal;
}

.aceitem_page h1 {
    color: Black;
    font-size: 130%;
    font-weight: 160%;
}

.aceitem_page h3 {
    font-size:100%;
    color: inherit;
}

.ace-content-column h4 {
    font-size:100%;
    color: inherit;
    padding: 0.1em 0.4em;
    background-color: #EBEBEB;
    margin-bottom:0.6em;
}

.ace-content-column h5 {
    font-size:100%;
    color: inherit;
}

#aceitem_sidebar h4 {
    font-size:100%;
    color: inherit;
}

/* Breadcrumb fixes */

#viewlet-above-content {
    background-color: #E9ECC9;
    padding:0.5em;
    line-height:1em;
}
#portal-breadcrumbs {
    margin:0;
}

#content p {
    margin-bottom: 10px;
}
#content ul {
    margin-bottom: 10px;
}
#content li {
    list-style-type: disc;
}

#footer {
    background-color: White;
    padding:2em;
    padding-bottom: 0em;
}

#footer p {
    display: none;
}
#portal-siteactions {
    width: 100%;
    border-top: 2px solid #CCC !important;
    padding-top: 30px;
    margin: 10px auto;
    display: inherit;
    text-align: center;
}

#portal-siteactions li {margin-right: 6em;}
#portal-siteactions a {
    color: Black !important;
}
@media screen #portal-siteactions li { margin-right: 3em;}

#aceitem_sidebar {
    background-color: #afc8df;
    padding: 1em;
    margin-left:1em;
}

#aceitem_sidebar ul {
    margin-left: 0em;
}
#aceitem_sidebar li, #content .faceted-widget li {
   list-style-type: none; 
}

#left-area {
    width:18em;
}

.left-area-js {
    margin-left: 19em;
}

.faceted-left-column {
    background-color: #ebebeb;
    border: 1px solid #c1c1c1;
}
.faceted-left-column fieldset {
    border: none !important;
}
.faceted-left-column legend {
    color: #0856a0;
    font-size:110% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.faceted-left-column label {
    font-size: 86%;
}
.faceted-left-column ul {
    margin: 0 !important;
}

.listing-result {
    margin-bottom: 0.6em;
}

.listing-result h3 {
    background-color: #afc8df;
    font-size: 100%;
    color: #02213d !important;
    padding: 0.4em 0.6em;
}
.listing-result h3 a {
    color: #02213d !important;
    font-size: 90% !important;
    font-weight: normal !important;
}
.listing-result h3 a:hover {
    background-color: inherit !important;
    color: #02213d !important;
}

.dataTables_wrapper {
    background-color: #d7e3ef;
    border: 2px solid  #d7e3ef;
}

.dataTables_wrapper table {
    margin-bottom: 0 !important;
}
.dataTables_length, .dataTables_filter {
    padding: 0.6em;
}
.dataTables_info {
    padding-left: 0.6em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.2em 1em;
}

.relevance-marker {
    position: relative;
    top: 5px;
    width: 8px;
    height: 5px;
    background-color: #a5bf26;
    border: 1px solid #a5bf26;
    float: left;
    margin: 0 1px;
}

.faceted-widget.section-keywords fieldset {
    padding: 0 0 1em 0 !important;
    border:none !important;
}
.faceted-widget.section-keywords legend {
    border: none !important;
    width: 6em;
    float: left;
}
