/* reset */
/* * {margin:0; padding:0; list-style:none; vertical-align:baseline;} */

/************** Responsive Diazo Magic ************************/

/* Background images */
body {background: #CCC; }
#header {background: transparent url(cca/img/bg_banner.jpg) top left no-repeat;}
#header {background-size:1600px 88px; position:relative;}

/* Colors and fonts */
/* body {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 62.5%;} */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    text-rendering: optimizelegibility;
}
#content {
    color: #02213d;
}
a:link, a:visited, #content a:link, dl.portlet a:link {color:#205C90;}
a:hover {color:#000;}
h1,
#content h1 {
   color: #012C56;
   font-family: 'Francois One', sans;
   margin: 1em 0em 0.5em;
   font-weight: 500;
   font-size: 190%;
}
h2, h3, h4, h5, h6 {color: #636466; font-family: Arial, Helvetica, sans-serif;}
/* #wrapper { width:auto; margin: 0 auto; max-width: 90%;  font-size: 1.1em;} */

#wrapper { width:984px; margin: 0 auto; max-width: 90%;  font-size: 1.1em;}
#main {background:#fff; font-size: 1.3em; padding: 0;}

/* #nav {background: #a5bf26;  text-align: left; color: #ffffff;} */
/* #nav a {color: #ffffff;} */
/* #nav a:hover, #nav li.selected a {padding-top: 1em;background: #ff9900;} */

#portal-searchbox #searchLabel {
    color: #FFF;
    font-size: 12px;
}

#portal-searchbox #searchGadget {
    border-width: 1px;
    border-style: solid;
    border-color: #597a97;
}
#portal-searchbox .searchButton {
    background-color:transparent;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c9;
    border: none;
    -webkit-box-shadow: none;
    vertical-align: middle;
}
#footer {background: #205C90; color: #fff;;}
#footer a:link {color:#fff;;}
#footer a:hover {color:#fff;;}
#footer a:visited {color:#fff;;}


/****************** Basic Stuff ***********************/

.portalMessage {
    margin:0.8em !important;
    background-color: White;
    border: 1px solid Red;
    padding: 0.6em;
}

/* #content {font-size: 90%;} */
/* p {line-height: 1.8em; margin: 0 0 1em 0;} */
/* h1, h2, h3 {margin: 0.5em 0 0.5em;} */
#content {
    font-family:arial,serif;
}
.hidden {display: none;}
.clear {clear: both;}
.pb-ajax, .pb-image, .overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {width:75%;z-index:1100;}
.portlet img, #content img {max-width:100%;}
.pull-left {margin-left: 0px;}

#content .case-studies-homepage-slider-image img {
    margin: 0;
}

#content .homepage-read-more img {
    display: inline-block;
    margin-top: 0 ;
}

#content a:hover,
dl.portlet a:hover {
    color: #a5bf26;
}
#content a:visited,
dl.portlet a:visited {
    color: #02516d;
    border-bottom: 0px transparent;
    text-decoration: underline;
}
#content a:link,
dl.portlet a:link {
    color: #12617d;
    border-bottom: 0px transparent;

}
/* lists */
#content li, dl.portlet li {
    display: list-item;
    line-height: 1.5em;
    list-style: disc;
    margin-bottom: 0.25em;
}

#content ol li, dl.portlet ol li {list-style: decimal outside;}
dl.portlet ul.navTreeLevel0 > .navTreeItem {list-style: none;}
/*header*/
#logo {float: left; width: 100%; padding-left:120px; height:88px;}
#logo > a {display:block; max-width:85%;}
#logo > a img {max-width: 100%;}
#portal-personaltools {font-size: 1.1em; background: none; position:absolute; right: 0px; top: 0px; z-index: 1001;}
#portal-personaltools dd {
    background: #666;
}
#portal-personaltools a {color: #fff;}

/* navigation */
/* #nav {padding: 1em 2em 1em 0;   font-size: 1.2em;} */
/* #nav ul {padding-top: 0;} */
/* #nav li {display: inline;} */
/* #nav a {padding: 1.1em 2em 1em 2em; text-decoration: none;} */
#searchbt, #nav #seletor {display:none;}

/* Searchbox */
#portal-searchbox {font-size: 1em; position: absolute; right: 0px; top: 1.8em; padding-right: 1.5em;}
#portal-searchbox form, #portal-searchbox form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
    padding: 0.2em 0.3em;
    width: 170px;
    font-size:1.1em;
}
#portal-searchbox .searchButton {
    font-size:0.8em;
    width: 10%;
    padding:1.899% 0  0.8% 0;
    text-align:center;
    display: inline-block;
    -webkit-appearance: none !important;
    background-image: url("cca/img/vergrootglas.png");
    background-repeat: no-repeat;
}

#LSResult {z-index:1; margin-top: 0.5%;}

#searchGadget:focus::-webkit-input-placeholder {
    color:transparent;
}

/*footer*/
#footer {clear: left; padding: 2em;}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}

.navbar-inverse {border-color: transparent;}

/* Responsive Design Magic*/

@media screen and (max-width: 768px) {

    #wrapper {max-width: 100%;}
    #logo {min-width:140px;}

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #ffff;}

    /*Columns*/
    #portal-column-one,
    #portal-column-two,
    #portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

    /*Search*/
    #portal-searchbox  {display:none;}

    /*Global navigation*/
    /* #nav {padding:0;width:100%; */
    /* } */

    #searchbt {display:block; float:right;width:14%;}

    #searchbt a {
        display:block;
        text-indent: -900000px;
        padding: 1em;
        margin-top: 4%;
        background:transparent url(search-ico.png) no-repeat center center;
    }

    /* #nav #seletor { */
    /*     display:block; */
    /*     padding:1em; */
    /*     width:80%; */
    /*     background:url("sections-ico.png") no-repeat 97% 60%; */
    /* } */
    /*  */
    /* #nav li {display: none;} */
    /*  */
    /* #nav:hover li { */
    /*     display: block; */
    /*     width:100%;  */
    /*     border-top:1px solid #ffffff;; */
    /*     display:block !Important; */
    /*     padding:0; */
    /* } */
    /*  */
    /* #nav ul { */
    /*     width:97.5%; */
    /*     margin:0; */
    /*     padding:0; */
    /* } */
    /*  */
    /* #nav:hover li a { */
    /*     color: #ffffff;; */
    /*     width:100%; */
    /*     padding:0 2.5%; */
    /*     line-height: 3em; */
    /*     display: block; */
    /*     width: 95% !important; */
    /* } */
    /*  */
    /* #nav:hover li:hover {background: #ff9900;} */
    /* #nav:hover li a:hover, */
    /* #nav:hover li.selected a {background: transparent;} */

    .overlay.overlay-ajax {top: 10px !Important;}
    .overlay.overlay-ajax input.searchPage {
        font-size: 200% !important;
        width: 90%;
        margin-bottom:1em;
    }
    .overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
    .overlay.overlay-ajax #searchform .discreet {text-align:left;}
    .overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

    #logo {width:100%;}

    #logo > a {margin-top: 40px; margin-left: 1em;}

    #logo img {max-width: 100%;}

    #portal-breadcrumbs {display:none;}

    #portal-searchbox {
        float: none;
        width:80%;
        clear:both;
        margin: 0 auto 2%;
    }
}

/* Layout fixes */
#portal-columns.row { margin: 0; }
#content {margin: 1em;}
/* #content-core { padding:1em;} */
#content > .row { margin: 0}
#tiles-list li { list-style-type: none !important }
.layout-actions li { list-style-type: none !important;}

.column.col-md-8 .col-md-1{
    width:30%;
}

#content .row .column.col-md-4 {
    /* background-color: pink; */
}

div.width-full { width: 100%; }
div.position-0 { margin-left: -100%; }

.pull-left { margin: 0 1em 1em 0; }

/* .tile-content { padding: 0 1em;} */

.navbar { margin-bottom: 0px; min-height: 30px;}
.navbar-inverse { background-color: #a5bf26;}
.navbar-inverse .navbar-nav > li > a { color: Black; }
.navbar-nav > li > a {
    padding-top:10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.dropdown:hover {
    background-color: #080808;
}

.dropdown:hover > a > span {
    color: #fff;
}


/* .country-select-tile */

#country-select {
    width: auto;
    max-width: 93%;
}

/* Edit tiles layout */
#tile-configure.in.hide {
    display: block !important;
}

/* Tabs */
.sweet-tabs .nav-tabs {
    margin-left: 5px !important;
    height: 31px;
    border-bottom-color: rgb(149, 172, 193);
}
.sweet-tabs .nav-tabs, .sweet-tabs .nav-tabs li {
    list-style: outside none none !important;
}
.sweet-tabs .nav-tabs li {
    background: #d7e3ef url(ui-bg_glass_75_d7e3ef_1x400.png) repeat-x scroll 50% 50%;
    color: #02213d;
    font-weight: normal;
    margin-right: 2px;
    border-width: 0px;
    float: left;
    position: relative;
    top: 1px;
    white-space: nowrap;
    height: 30px;
    margin-bottom: 0px !important;
}

.sweet-tabs .nav-tabs li:not(.active), .sweet-tabs .nav-tabs li:not(.active) a {
    height: 28px;
}

.sweet-tabs .nav-tabs li:first-child {
   margin-left: 4px;
}

.sweet-tabs .nav-tabs li:hover {
    background: #b8cce0 url(ui-bg_glass_75_b8cce0_1x400.png) repeat-x scroll 50% 50%;
    color: #02213d;
    font-weight: normal;
}

.sweet-tabs .nav-tabs > li > a {
    text-decoration: underline;
    padding: 6px 12px;
    margin: 0px;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 0px;
    padding-bottom: 2px;
    border-bottom-width: 0px !important;
    height: 30px;
}

#content .sweet-tabs .nav-tabs li a:hover, .sweet-tabs .nav-tabs li a:focus {
    color: #0077b3 !important;
    text-decoration: underline;
    border-top-color: rgb(149, 172, 193);
    border-left-color: rgb(149, 172, 193);
    border-right-color: rgb(149, 172, 193);
}

#content .sweet-tabs .nav-tabs li.active, #content .sweet-tabs .nav-tabs li.active a {
    border-top-color: rgb(149, 172, 193);
    border-left-color: rgb(149, 172, 193);
    border-right-color: rgb(149, 172, 193);
    border-bottom: 1px solid white !important;
}

.sweet-tabs .tab-content {
    margin-top: 20px;
    margin-left: 22px;
}

/* Accordion */
.panel-group .panel-title {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 0;
    text-decoration: none;
    height: 28px;
    border-width: 1px;
    margin-top: 1px;
    border-color: rgb(211, 211, 211):
}
.panel-group .panel-title > a {
    font-size: 12px !important;
    font-weight: normal !important;
    text-decoration: none;
    color: #02213d;
    display: block;
    padding: 0px 6px 0px 11px;
    height: 28px;
    outline: 0;
    background: #d7e3ef url(ui-bg_glass_75_d7e3ef_1x400.png) repeat-x scroll 50% 50%;
}

#content .panel-group .panel-title:hover > a {
    color: #02213d !important;
}
.panel-group .panel-title > a:before {
    font-family: monospace;
    font-size: 10px;
    content: "▼  "
}
.panel-group .panel-title > a.collapsed:before {
    font-family: monospace;
    font-size: 10px;
    content: "▶  ";
}

.panel-group .panel-title > a:not(.collapsed) {
    background: #ffffff none no-repeat right top;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-right-color: rgb(170, 170, 170);
    border-top-color: rgb(170, 170, 170);
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.panel-body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 200;
    font-style: normal;
    font-size-adjust: none;
    color: rgb(2, 33, 61);
    line-height: 16px;
    padding-top: 9px; padding-left: 20px;
}

.panel-collapse.in > .panel-body,
.panel-collapse.collapsing {
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-right-color: rgb(170, 170, 170);
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

#content .readmore-overflow {
    overflow: hidden;
}

#content .edit-tool-custom-click .read-more-acc a:hover {
    color: #FFF !important;
}

.edit-tool-custom-click .read-more-acc a:link {
    color: #02213d;
}

.edit-tool-custom-click .read-more-acc a {
    font-size: 12px;
    text-
}

#content .edit-tool-custom-click {
    background: url("cca/img/bg_sector_main_article_filter.png") repeat-y scroll 0 center transparent;
    padding-right: 10px;
    line-height: 30px;
    right: 0;
    top: 210px;
    text-align: right;
}

#content .edit-tool-custom > .panel-body {
    border: none;
    padding: 0;
    line-height: 1.5em;
    font-size: 1em;
}

.edit-tool-custom > .panel-body, .panel-collapse.collapsing {
    border: none;
}

.panel {
    border: none;
}

.panel-group .read-more-acc > a:not(.collapsed) {
    border: none;
    background: url("cca/img/bg_sector_main_article_filter.png") repeat-y scroll 0 center transparent;
}

.panel-group .read-more-acc > a {
    background: url("cca/img/bg_sector_main_article_filter.png") repeat-y scroll 0 center transparent;
}

.aceitem_page {
    /* padding:1em; */
    width: 95%;
    margin: 0 auto;
}

.aceitem_page h2 {
    background-color: #012C56;
    color: white;
    padding-left: 0.5em;
    font-size:120%;
    font-weight: normal;
}

.aceitem_page h1 {
    color: Black;
    font-size: 130%;
    font-weight: 160%;
}

.aceitem_page h3 {
    font-size:100%;
    color: inherit;
}

.ace-content-column h4 {
    font-size:100%;
    color: inherit;
    padding: 0.1em 0.4em;
    background-color: #EBEBEB;
    margin-top: 1em;
    margin-bottom:0.4em;
}

.ace-content-column h5 {
    font-size:100%;
    color: inherit;
    padding-top:0.6em;
}

/* Breadcrumb fixes */

#viewlet-above-content {
}
#portal-breadcrumbs {
    background-color: #E9ECC9;
    padding:1em 0.5em;
    line-height:1em;

    margin:0;
}

#content p {
    margin-bottom: 10px;
}
#content ul {
    margin-bottom: 10px;
}
#content li {
    list-style-type: disc;
  /*list-style-image: url("cca/img/01_plus.png");*/
}

#footer {
    background-color: White;
    padding:2em;
    padding-bottom: 0em;
}

#footer p {
    display: none;
}
#portal-siteactions {
    width: 100%;
    border-top: 2px solid #CCC !important;
    padding-top: 30px;
    margin: 10px auto;
    display: inherit;
    text-align: center;
}

#portal-siteactions li {margin-right: 6em;}
#portal-siteactions a {
    color: Black !important;
}
@media screen #portal-siteactions li { margin-right: 3em;}

#aceitem_sidebar {
    background-color: #afc8df;
    padding: 0 1em 1em 1em;
    margin-left:1em;
    font-size: 86%;
}

#aceitem_sidebar h4 {
    font-size:100%;
    color: inherit;
    padding-top: 1em;
}


#aceitem_sidebar ul {
    margin-left: 0em;
}
#aceitem_sidebar li, #content .faceted-widget li {
   list-style-type: none;
}

#left-area {
    width:18em;
}

.left-area-js {
    margin-left: 19em;
}

.faceted-left-column {
    background-color: #ebebeb;
    border: 1px solid #c1c1c1;
}
.faceted-left-column fieldset {
    border: none !important;
}
.faceted-left-column legend {
    color: #0856a0;
    font-size:110% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.faceted-left-column label {
    font-size: 86%;
}
.faceted-left-column ul {
    margin: 0 !important;
}

.listing-result {
    margin-bottom: 0.6em;
}

.listing-result h3 {
    background-color: #afc8df;
    font-size: 100%;
    color: #02213d !important;
    padding: 0.4em 0.6em;
}
.listing-result h3 a {
    color: #02213d !important;
    font-size: 90% !important;
    font-weight: normal !important;
}
.listing-result h3 a:hover {
    background-color: inherit !important;
    color: #02213d !important;
}

.dataTables_wrapper {
    background-color: #d7e3ef;
    border: 2px solid  #d7e3ef;
}

.dataTables_wrapper table {
    margin-bottom: 0 !important;
}
.dataTables_length, .dataTables_filter {
    padding: 0.6em;
}
.dataTables_info {
    padding-left: 0.6em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.2em 1em;
}

.relevance-marker {
    position: relative;
    top: 5px;
    width: 8px;
    height: 5px;
    background-color: #a5bf26;
    border: 1px solid #a5bf26;
    float: left;
    margin: 0 1px;
}

.faceted-widget.section-keywords fieldset {
    padding: 0 0 1em 0 !important;
    border:none !important;
}
.faceted-widget.section-keywords legend {
    border: none !important;
    width: 6em;
    float: left;
}

ul#ast-menu, #ast-menu ul {
    margin: 0 !important;
}

#ast-menu li {
    list-style-type: none;
    list-style-image: none;
    list-style: none;
}

#ast-menu .ui-accordion-content-active a.active, #ast-menu .ui-accordion-content-active a:hover {
    color: #a5bf26;
}

.documentEditable #content {
    margin-left: 2%;
}

/*
#portal-column-content .documentEditable #content {
    margin-left: 0;
}
*/
.ast_text {
    margin-left: 5%;
}

.ast_text h2 {
    background-image: url("cca/img/bullit0.png");
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-bottom: 30px;
    display: block;
}

.cover-richtext-tile ul li a:link {
    text-decoration: underline;
}

.col-md-4 .cover-richtext-tile ul li a:link {
    text-decoration: none;
}

.tile {
    padding-right: 0.1em;
}

.section-adaptation-support-tool .tile {
    padding-right: 0.3em;
}

.Adaptation-option-selector {
    background-position: left center;
    background-image: url("cca/img/ico-arrow.png");
    background-repeat: no-repeat;
    background-position: inline;
    padding-left: 1em;
}

.adapt-option-em {
    background-position: left center;
    background-image: url("cca/img/ico-arrow.png");
    background-repeat: no-repeat;
    background-position: inline;
    padding-left: 1em;
}

.section-adaptation-support-tool #content {
    margin: 0;
}

.read-more-body .CSSTableGenerator td {
    padding: 0;
}

.subsection-urban-ast #content {
    margin: 0;
}

.col-md-6 {
    display: inline-block;
}

.col-md-8 .row .col-md-6 .tile {
    padding-left: 2.2em;
}

#content .eu-strategy td h2,
#content .aceitem-relevant-tile {
    margin-top: 1em;
}
#content .aceitem-relevant-tile h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    padding: 0.1em 0.5em;
}
#content .aceitem-relevant-tile h2 {
    padding-left: 0em;
    padding-right: 0em;
}
#content .eu-strategy tr:first-child td {
    padding: 0em 0em 1em 0em;
}
#content .eu-strategy td {
    padding: 1em 1em 1em 0em;
    vertical-align: top;
}
#content .eu-strategy td > ul, #content .eu-strategy td > ul > li,
#content .aceitem-relevant-tile > ul, #content .aceitem-relevant-tile > ul > li,
#content ul.arrow-items, #content ul.arrow-items > li,
#content ul#ast-menu ul, #content ul#ast-menu ul > li {
    list-style: none;
    margin-bottom: 0.5em;
}
#content .eu-strategy td > ul > li,
#content .aceitem-relevant-tile > ul > li,
#content ul.arrow-items > li,
#content ul#ast-menu ul > li {
    list-style: none !important;
    background-image: url("cca/img/arrows/01_plus.png");
    background-repeat: no-repeat;
    background-position: 0.15em 0.2em;
    padding-left: 1.6em;
}
#content .eu-strategy td > ul > li > a,
#content .aceitem-relevant-tile > ul > li > a,
#content ul.arrow-items > li > a,
#content ul#ast-menu ul > li > a{
    text-decoration: initial;
}
#content .eu-strategy td > ul,
#content .aceitem-relevant-tile > ul,
#content ul.arrow-items,
#content ul#ast-menu ul {
    margin-left: 0em;
}
#content .aceitem-relevant-tile > ul {
    margin-top: 1em;
}
#content .aceitem-search-tile {
    background-color: #d2de92;
    padding: 0.4em 1em;
}
#content .aceitem-search-tile h2 {
    color: #758816;
    font-size: 140%;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
}
#content .aceitem-search-tile ul {
    margin: 0em 0em 0em 0em;
    list-style: none;
}
#content .aceitem-search-tile ul li {
    list-style: none;
}
#content .aceitem-search-tile ul li a,
#content .aceitem-search-tile ul li a:hover,
#content .aceitem-search-tile ul li a:visited,
#content .aceitem-search-tile ul li a:link {
    color: #101010;
    text-decoration: initial;
    border-bottom: 0px transparent;
}
#content .aceitem-search-tile ul li a:before {
    content: "\25b6";
    font-size: 65%;
    line-height: 1em;
    margin: 0em 0.2em 0em 0em;
    padding: 0px;
    vertical-align: middle;
}

#content .aceitem-search-tile-listing ul li {
    padding:0.3em;
    background-color: #e9efc9;
    border: 1px solid #758816;
}
#content .aceitem-search-tile-listing ul li a:before {
    content: "";
    /* content: "\226b"; */
}

#content .aceitem-relevant-tile .tile-footer {
    padding-top: 0.7em;
}
#content .share-your-info-ace-button button,
#content .aceitem-relevant-tile .tile-footer button,
a.bluebutton,
a.bluebutton:visited {
    background-color: #a5bf26;
    border-radius: .5em; /* 4px */
    padding: 0.6em 0.7em 0.5em 0.7em;
    border: 0px transparent;
    box-shadow: 1px 1px 6px 0px #aaa;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
}

.share-your-info-ace-button {
    padding-top:2em;
    text-align: right;
}
.tile-footer button {
    color: #02213d !important;
    border: solid 1px #aab91d;
    cursor: pointer;
    text-align: center;
}

.lfc-single-image img {
    margin-left: 0 !important;
}

#ext-gen45 .bluebutton {
    color: #02213d;
    border: solid 1px #aab91d;
    text-align: center;
    text-decoration: underline;
}

#content .aceitem-search-tile .share-your-info-ace-button button {
    color: #000;
}

#content .share-your-info-ace-button button:hover,
#content .aceitem-relevant-tile .tile-footer button:hover,
a.bluebutton:hover {
    background-color: #afca36;
    color: #fff;
    box-shadow: 1px 1px 6px 0px #bbb;
}
#content .share-your-info-ace-button button:active,
#content .aceitem-relevant-tile .tile-footer button:active,
a.bluebutton:active {
    background-color: #a0ba21;
    box-shadow: 0px 0px 4px 0px #aaa;
}
#content a.bluebutton, #content a.bluebutton:hover,
#content a.bluebutton:visited {
    display: inline-block;
    color: #02213d !important;
    text-decoration: initial;
    text-decoration: underline;
    float: right;
    border: solid 1px #aab91d;
}

#content #contact-link .bluebutton {
    float: none;
}

#content a.double-arrow {
    background: url("cca/img/arrow_blue.png") no-repeat left center;
    padding-left: 14px;
    border-bottom: 0px transparent;
    font-size: 70%;
    color: #101010;
    text-decoration: underline;
}
#content a.double-arrow:hover,
#content a.double-arrow:visited {
    color: #101010;
}
#content ul#ast-menu {
    border-radius: 0px;
    border: 0px transparent;
}
#content ul#ast-menu > li {
    background-color: transparent !important;
}
#content ul#ast-menu ul > li {
    background-image: url('cca/img/arrows/arrow_darkgreen.png');
}
#content ul#ast-menu ul > li:hover {
    background-image: url('cca/img/arrows/01_plus.png');
}
#content ul#ast-menu ul > li:hover a {
    color: #a5bf26;
}
#content ul#ast-menu ul > li a,
#content ul#ast-menu ul > li a:hover,
#content ul#ast-menu ul > li a:visited {
    color: #2c330a;
    text-decoration: initial;
    border-bottom: 0px transparent;
}
#content ul#ast-menu .ui-accordion-header,
#content ul#ast-menu .ui-accordion-content {
    border-radius: 0px;
    border: 0px transparent;
}
#ast-menu .ui-accordion-header,
#ast-menu .ui-accordion-header:visited {
    background: #9aa854;
    text-decoration: initial;
    color: #2c330a !important;
}
#content ul#ast-menu .ui-accordion-header:hover {
    background: #9aa854;
    text-decoration: initial;
    color: #fff !important;
}
#content ul#ast-menu .ui-accordion-header.ui-accordion-header-active {
    background: #6d7a2b;
    color: #fff !important;
}
#content ul#ast-menu .ui-accordion-content {
    background: #e9efc9;
    height: auto !important;
}
#content ul#ast-menu .ui-state-default .ui-icon {
    background-image: url('cca/img/arrow_ast.png');
    background-position: 0px 0px;
    left: 0.8em;
    top: 0.73em;
    margin-top: 0px;
    float: left;
}
#content ul#ast-menu .ui-state-active .ui-icon {
    background-image: url('cca/img/arrow_ast_wit.png');
}

#content #ast-menu .ui-state-active {
    color: white !important;
}

#ast-menu .ui-accordion-content-active a.active {
    color: #a5bf26 !important;
}

.sector-main-article #read-more-link {
    color: #2aaae6;

    background: -webkit-linear-gradient(right, #2aaae6 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #2aaae6, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #2aaae6, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #2aaae6 , white); /* Standard syntax (must be last) */

    padding-right: 10px;
    line-height: 30px;
    right: 0;
    top: 210px;
    text-align: right;
}

#read-more-link {
    background: url("cca/img/bg_sector_main_article_filter.png") repeat-y scroll 0 center transparent;
    padding-right: 10px;
    line-height: 30px;
    right: 0;
    top: 210px;
    text-align: right;
}

#read-more-link a:link {
    color: #02213d;
}

/* fronpage */

#fp-country-selector {
    margin-top:-30px;
    margin-left: 3em;
    max-width: 80%;
    margin-right: 2em;
}

.eu-climate-policy-tile {
    margin-left: 0.7em;
}

.section-frontpage .row:nth-child(3) .col-md-3:nth-child(2) {
    border-left: #d7e3ef 2px solid;
}

.section-frontpage .row:nth-child(3) .col-md-3:nth-child(3) {
    border-right: #d7e3ef 2px solid;
    border-left: #d7e3ef 2px solid;
}

.section-frontpage .row:nth-child(3) .col-md-3:first-child .fp-tile-fixes{
    padding-left: 0;
}


.section-frontpage .row:nth-child(2) .col-md-3:first-child .fp-image-tile{
    padding-left: 0;
}


.fp-tile-fixes {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.fp-image-tile {
    padding-left: 0.7em;
    padding-right: 0.5em;
}

.funding-adaptation-tile {
    margin-right: 0.7em;
}

.section-frontpage .tile {
    margin-top: 1em;
}

.section-frontpage .tile h3 {
    background-color: rgb(166, 191, 38);
    color: White;
    padding: 0.3em;
    text-align:center;
}

.section-frontpage .tile h3 a, .section-frontpage .tile h3 a:hover {
    color: White !important;
    text-decoration: none !important;
}

.section-frontpage .tile ul {
    margin: 0em;
    margin-left: 1.3em !important;
}
.section-frontpage .tile ul.blank ul li {
    list-style-image: url('cca/img/arrow_ast.png') !important;
}
.section-frontpage .tile-listing-footer {
    text-align: right;
}
.section-frontpage .tile-listing-footer a {
    background: url('cca/img/arrow_ast.png') 0% 50% no-repeat !important;
    padding-left: 1em;
}
.section-frontpage .tile-edge {
    border: none;
}
.section-frontpage .tile-edge .tile-content {
    padding-right: 1em;
    border-right: 2px #d7e3ef solid;
}

#third-level-menu {
    margin: 1em 0 0 0 !important;
    padding-bottom: 2em;
}

#third-level-menu li {
    display: block;
    float: left;
    margin-right: 0.6em;
    padding-right: 0.6em;
    border-right: 1px solid #67788a;
}

#third-level-menu li a {
    color: #67788a;
    font-size: 85%;
}
.tools-nav-menu table th {
    height: 3em;
}
.aceitem-share-info-tile {
    margin-top: 4em;
}

.glossary-inline-term {
    border-bottom: 1px dotted #056BBD !important;
    /* text-decoration: none !important; */
}

.section-data-and-downloads a.searchpage-column-accordion-handle {
    color: #0856a0 !important;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 9px;
    width: 100%;
    text-decoration: none !important;
}
.section-data-and-downloads #content a.searchpage-column-accordion-handle:hover {
    color: #0856a0 !important;
}
.section-data-and-downloads #faceted-form .widget-fieldset{
    padding-bottom: 0;
}
.section-data-and-downloads #left-area .widget-fieldset form,
.section-data-and-downloads #left-area .widget-fieldset .faceted-operator{
    display: none;
    text-align: left;
    margin-top: -5px;
}
.section-data-and-downloads a.searchpage-column-accordion-handle span {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    color: #000;
    display: block;
    font-weight: normal;
    float: right;
    height: 17px;
    line-height: 0;
    padding-top: 7px;
    text-align: center;
    width: 19px;
}

.section-data-and-downloads .listing-result{
    margin-bottom: 2px;
}
.section-data-and-downloads .listing-result a{
    text-decoration: none !important;
}

tbody .relevance_table {
    width : 15%;
}

tbody .table_year_css {
    width: 10%;
}

.section-data-and-downloads .searchButton{
border: 1px solid #a3af29;
    background: linear-gradient(to bottom,#c7d544 0,#aebe20 100%);
    border-radius: 7px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5);
    color: #000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    margin-top: 4px;
    padding: 5px 50px;
}
.section-data-and-downloads .dataTable{
    font-size: 12px;
}

.searchpageoperator label{
    font-size: 11px;
    color: #555555;
}

#faceted-results .number_of_results {
    color: #67788a;
    font-family: Tahoma,Times New Roman,serif;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0 15px 0px;
    clear: left;
    position: relative;
    top: 8px;
}

#faceted-results .listing-result h3 a:active,
#faceted-results .listing-result h3 a:focus,
#faceted-results .listing-result h3 a:hover{
    color: inherit !important;
    background-color: transparent !important;
}

li.dropdown-submenu {
    display: list-item;
}

@media (min-width: 900px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu{
        display: block;
        margin: 0;
    }

    ul.dropdown-menu li.dropdown-submenu:hover > ul.dropdown-menu{
        display: block;
        margin: 0;
    }
}


.ugquestion {
    text-decoration: underline;
    font-size: 16px;
}

#case-studies-modal {
    display: none
}
#case-studies-modal .case-studies-modal-buttons {
    text-align: right
}
#case-studies-modal-image-gallery {
    position: relative;
    width: 100%
}
#case-studies-modal-image-gallery ul {
    margin: 0
}
#case-studies-modal-image-gallery ul li {
    display: block;
    left: -9999px;
    position: absolute;
    top: 0;
    width: 863px
}
#case-studies-modal-image-gallery ul li.active {
    display: block!important;
    left: 0
}
#case-studies-modal-image-gallery ul li img {
    max-width: 100%
}
#case-studies-modal-image-gallery ul li h3 {
    margin-top: 0
}
#case-studies-modal-image-gallery .case-studies-modal-image-gallery-navigation>a {
    background-color: #999;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    height: 60px;
    left: -13px;
    position: absolute;
    text-decoration: none;
    top: 20%;
    width: 60px;
}
#case-studies-modal-image-gallery .case-studies-modal-image-gallery-navigation a.next {
    left: auto;
    right: -13px
}
#case-studies-modal-image-gallery .case-studies-modal-image-gallery-navigation>a span {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    display: block;
    height: 0;
    left: 22px;
    position: relative;
    text-indent: -9999px;
    top: 20px;
    width: 0
}
#case-studies-modal-image-gallery .case-studies-modal-image-gallery-navigation a.next span {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    border-right: 0;
    left: 27px
}
.case-studies-review-clearing {
    clear: both;
    height: 0
}
#case-studies-review-wrapper {
    padding: 0 47px;
    width: 890px
}

.col-md-7 table td a {
    text-decoration: underline;
}

.col-md-7 .cover-richtext-tile a:link {
    text-decoration: underline;
}

.col-md-8 .cover-richtext-tile a:link {
    text-decoration: underline;
}

.col-md-12 table a:link span {
    text-decoration: underline;
}

.col-md-12 table p {
    padding-left: 0.5em;
}

.col-md-12 a:link {
    text-decoration: underline;
}

#content-core .col-md-4 .cover-richtext-tile ul li {
    list-style-image: url("cca/img/01_plus.png");
}

#_com_2 td a img {
    margin-left: 0;
}

.col-md-9 a:link {
    text-decoration: underline;
}

.col-md-3 .aceitem-relevant-tile {
    background-color: #d2de92;
    padding: 0.4em 1em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
}

/* Needs some revision*/
#content .col-md-3 .speedbutton {
    background-color: red;
}

.col-md-3 .aceitem-relevant-tile h2 {
    color : #758816;
}

.col-md-3 .speedbutton , .col-md-3 .speedbutton img{
    background-color: #d2de92;
}



/* table for /eu-adaptation-policy/funding/esi */
.CSSTableGenerator {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #3f7f00;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0
}

.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0
}

.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}

.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}

.CSSTableGenerator tr:nth-child(odd) {
    background-color: #d2df92
}

.CSSTableGenerator tr:nth-child(even) {
    background-color: #fff
}

.CSSTableGenerator td {
    vertical-align: middle;
    border: 1px solid #3f7f00;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 7px;
    font-weight: normal;
    color: #000
}

.CSSTableGenerator tr:last-child td {
    border-width: 0 1px 0 0
}

.CSSTableGenerator tr td:last-child {
    border-width: 0 0 1px 0
}

.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0
}

.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #6d7a2b 5%, #a5bf26 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6d7a2b), color-stop(1, #a5bf26));
    background: -moz-linear-gradient(center top, #6d7a2b 5%, #a5bf26 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6d7a2b", endColorstr="#a5bf26");
    background: -o-linear-gradient(top, #6d7a2b, a5bf26);
    background-color: #6d7a2b;
    border: 0 solid #3f7f00;
    text-align: center;
    border-width: 0 0 1px 1px;
    font-size: 14px;
    font-weight: bold;
    color: #fff
}

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #6d7a2b 5%, #a5bf26 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6d7a2b), color-stop(1, #a5bf26));
    background: -moz-linear-gradient(center top, #6d7a2b 5%, #a5bf26 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6d7a2b", endColorstr="#a5bf26");
    background: -o-linear-gradient(top, #6d7a2b, a5bf26);
    background-color: #6d7a2b
}

.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0 0 1px 0
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0 0 1px 1px
}

.CSSTableGenerator ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.CSSTableGenerator ul li {
    margin-bottom: 8px
}

/* case study */
.case-studies-review-image-wrapper {
    float: left;
    padding-right: 10px;
    position: relative;
    /*width: 45%;*/
}
.case-studies-top-title {
    padding-right: 3px;
}
.case-studies-title {
    margin-bottom: 10px;
}
.case-studies-top {
    padding-bottom: 12px;
}
.case-studies-review-clearing {
    clear: both;
    height: 0;
}
.case-studies-tabbed-content-section {
    margin-bottom: 29px;
}

.section-casestudy .case-studies-review-image-wrapper img {
    max-height: 25vh;
}

/*
.case-studies-tabbed-content-section > ul {
    list-style-image: url("cca/img/ico-arrow.png") !important;
}*/

.submenu {
    list-style: none;
    list-style-image: url("cca/img/ico-arrow.png") !important;
}

#case-study-selector-em > em {
    background-image: url("cca/img/ico-arrow.png");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 1em;
    margin-top: 1.4em;
    display: block;
}

#case-study-selector-em h4 {
    margin-top: 2em;
}

.template-mayors-adapt #content .documentFirstHeading {
    display: none;
}

.section-cities .cover-richtext-tile img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.subsection-map-viewer #content {
    margin-left: 2px;
}

.subsection-climsave .col-md-2 a:link{text-decoration: underline;}
.subsection-climsave .col-md-10 {width: 74%; margin-right: 1%;}
.subsection-climsave #content {margin-right: 0;}
.subsection-climsave .col-md-2 .tile {margin: 1.5em;}

.subsection-climsave .col-md-2 {
    background-color: #d2de92;
    margin-right: 0;
    width: 25%;
}

.subsection-climsave .col-md-2 .tile div{
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-climsave .col-md-2 .tile div h4 {
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-climsave #content .cover-richtext-tile h1 {
    color: #758816;
    font-size: 20px;
}

.subsection-econadapt .col-md-2 a:link{text-decoration: underline;}
.subsection-econadapt .col-md-10 {width: 74%; margin-right: 1%;}
.subsection-econadapt #content {margin-right: 0;}
.subsection-econadapt .col-md-2 .tile {margin: 1.5em;}

.subsection-econadapt .col-md-2 {
    background-color: #d2de92;
    margin-right: 0;
    width: 25%;
}

.subsection-econadapt .col-md-2 .tile div{
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-econadapt .col-md-2 .tile div h4 {
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-econadapt #content .cover-richtext-tile h1 {
    color: #758816;
    font-size: 20px;
}

.subsection-climatecost .col-md-2 a:link{text-decoration: underline;}
.subsection-climatecost .col-md-10 {width: 74%; margin-right: 1%;}
.subsection-climatecost #content {margin-right: 0;}
.subsection-climatecost .col-md-2 .tile {margin: 1.5em;}

.subsection-climatecost .col-md-2 {
    background-color: #d2de92;
    margin-right: 0;
    width: 25%;
}

.subsection-climatecost .col-md-2 .tile div{
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-climatecost .col-md-2 .tile div h4 {
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-climatecost #content .cover-richtext-tile h1 {
    color: #758816;
    font-size: 20px;
}

.subsection-mediation .col-md-2 a:link{text-decoration: underline;}
.subsection-mediation .col-md-10 {width: 74%; margin-right: 1%;}
.subsection-mediation #content {margin-right: 0;}
.subsection-mediation .col-md-2 .tile {margin: 1.5em;}

.subsection-mediation .col-md-2 {
    background-color: #d2de92;
    margin-right: 0;
    width: 25%;
}

.subsection-mediation .col-md-2 .tile div{
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-mediation .col-md-2 .tile div h4 {
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-mediation #content .cover-richtext-tile h1 {
    color: #758816;
    font-size: 20px;
}

.section-uncertainty-guidance .col-md-4:nth-child(2){
    border-right: #d7e3ef 2px solid;
    border-left: #d7e3ef 2px solid;
}

.section-uncertainty-guidance .col-md-4 {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.section-help #content img {
    max-width: none;
}

.section-help #content .col-md-3 {
    width: 25%;
    padding-left: 0;
    margin-left: 0;
}

.section-help #content .col-md-3:nth-of-type(3) table {
    width: 100%;
}

.section-help #content .col-md-3:nth-of-type(3) table img{
    width: 100% !important;
}

.section-help h2 {
    font-size: 1.5em;
}
/* time series tool */

.subsection-time-series-tool #content {
    margin-left: 4px !important;
}

*/ bottom menu in urban ast pages */

#bottom-menu {
	margin: 5px 20px 20px 20px;
}

#bottom-menu a{
	color: #2c330a;
	text-decoration: none;
}

#bottom-menu a:hover{
	color: #758816;
}

#previous-link {
	float: left;
	width: 150px;
	text-align: left;
}

#contact-link {
	float: left;
	text-align: center;
	width: 310px;
}

#contact-link a.bluebutton{
	margin-top: 0px;
	float: none;
}


#next-link {
	width: 150px;
	float: right;
	text-align: right;
}

.clear-both {
	clear: both;
}


/* geochar widget stuff */
#formfield-form-widgets-geochars { }
#formfield-form-widgets-geochars ul {
    margin-left: 1em;
}
#formfield-form-widgets-geochars li {
    list-style-type: none;
}
#formfield-form-widgets-geochars .five-col li {
    float: left;
    width:12em;
    margin-right: 1em;
}
#formfield-form-widgets-geochars .five-col input {
    margin-right: 0.3em;
}
#formfield-form-widgets-geochars .five-col label {
    font-weight: normal;
}
.europe_geochar_class {
    margin-top:2em;
    overflow: hidden;
}
.case-studies-tabbed-content-table-for-lists {
    width: 80%;
}
#form-widgets-geochars { display: none }

/* transnational-regions */

.template-transnational-regions-view .regionsLink {
    vertical-align: bottom;
}

.template-transnational-regions-view #content-core a:link {
    text-decoration: underline;
}

/* filter relevant aceitems tile */
.aceitem-filter-relevant-tile label {
    width: 8em;
    float: left;
}
.aceitem-filter-relevant-tile h2 {
    margin-top:0;
}

.aceitem-filter-relevant-tile form {
    padding-top: 1em;
}
.aceitem-filter-relevant-tile .field {
    margin-bottom: 0;
}

/* # custom tile classes */
.padded-tile .tile-content {
    padding: 0 1em;
}

.GlossaryTitle {
    margin-top:1em;
    font-weight: bold;
    background: url("/cca/img/bg_sector_main_article_text.png") repeat-y scroll 0 0 transparent;
    color: #67788a;
}

.GlossaryTitle a {
    padding-left: 1em;
    float: right;
}

#aceitem_sidebar .bluebutton {
    float: none !important;
}
.ast_header h1 {
    font-size:120% !important;
    color: #CCC !important;
    padding-left: 1em;
}

.configlets li { list-style-type: none !important}
.suppressVisualEditor { display: none }

.section-help #content .cover-richtext-tile a.titleLink:hover {
    color: #02516d !important;
}

.section-tutorial-videos #wrapper {
    max-width: 100%;
}
.fp-tile-fixes h3 {
    margin-bottom: 0.4em;
}

.subsection-urban-adaptation #content .tools-nav-menu a:hover{
    color: #12617d !important;
}

.subsection-urban-adaptation #content .menu-urban ul li a {
    background: url('/++resource++eea.climateadapt/img/arrow.gif') 0% 50% no-repeat;
    padding-left: 1em !important;
}

.subsection-urban-adaptation #content .menu-urban-sub {
    margin-left: 0;
}

.subsection-urban-adaptation-climatic-threats-forest-fires #content table a:hover {
    color: #12617d !important;
}

.subsection-urban-adaptation-climatic-threats-flooding #content table a:hover {
    color: #12617d !important;
}

.subsection-urban-adaptation-climatic-threats-droughts #content table a:hover {
    color: #12617d !important;
}

.subsection-urban-adaptation-climatic-threats-heat-waves #content table a:hover {
    color: #12617d !important;
}

.subsection-urban-adaptation-climatic-threats-droughts #content table {
    line-height: 1.8em !important;
}

.subsection-urban-adaptation-generic-response .col-md-6 {
    display: inherit;
    width: auto;
}

.subsection-urban-adaptation-generic-response .col-md-6:first-of-type {
    float: none;
    position: relative;
    z-index: 10;
}

.subsection-urban-adaptation .menu-urban .menu-link {
    color: #fff !important;
}

.subsection-urban-adaptation-generic-response #content .col-md-6:first-of-type table a:hover {
    color: #12617d !important;
}

.subsection-urban-adaptation #content .row .col-md-12:first-of-type table a:hover{
    color: #12617d !important;
}

table.dataTable thead .sorting_asc {
    padding-left: 1.5em;
    background: url("cca/img/sort_asc.png") no-repeat center left;
}

table.dataTable thead .sorting_desc {
    padding-left: 1.5em;
    background: url("cca/img/sort_desc.png") no-repeat center left;
}

.subsection-urban-adaptation-introduction table tr:nth-of-type(3) td:nth-of-type(3) p:nth-of-type(3)  {
    padding-left: 0;
}

/* governance_level checkbox widget editing */
#form-widgets-governance_level label {
    display: block;
}
#form-widgets-governance_level input[type="checkbox"] {
    float: left;
    margin-right: 0.3em;
}

/* category checkbox widget editing */
#form-widgets-category label {
    display: block;
}
#form-widgets-category input[type="checkbox"] {
    float: left;
    margin-right: 0.3em;
}

/* sectors checkbox widget editing */
#form-widgets-sectors label {
    display: block;
}
#form-widgets-sectors input[type="checkbox"] {
    float: left;
    margin-right: 0.3em;
}

/* relevance checkbox widget editing */
#form-widgets-relevance label {
    display: block;
}
#form-widgets-relevance input[type="checkbox"] {
    float: left;
    margin-right: 0.3em;
}

/* climate impacts checkbox widget editing */
#form-widgets-climate_impacts label {
    display: block;
}
#form-widgets-climate_impacts input[type="checkbox"] {
    float: left;
    margin-right: 0.3em;

/* tile composing fixes */
.edit-tile-link {
    /* position: relative !important;; */
    color: Red !important;
}

.template-compose .tile-container {
    /* position: initial; */
}

/* fix modal dialog for image upload in tinymce */
.plone-modal-dialog  {
    border: 2px solid Black !important;
}
/*
.subsection-adaptation-information-research-projects .col-md-2 {
    background-color: #d2de92;
}

.subsection-adaptation-information-research-projects .col-md-2 h4 {
    margin: 20px 0 5px 0;
    line-height: 40px;
}

.subsection-adaptation-information-research-projects .col-md-2 .tile{
    margin-left: 1em;
}*/


.subsection-adaptation-information-research-projects .col-md-2 a:link{text-decoration: underline;}
.subsection-adaptation-information-research-projects .col-md-10 {width: 74%; margin-right: 1%;}
.subsection-adaptation-information-research-projects #content {margin-right: 0;}
.subsection-adaptation-information-research-projects .col-md-2 .tile {margin: 1.5em;}

.subsection-adaptation-information-research-projects .col-md-2 {
    background-color: #d2de92;
    margin-right: 0;
    width: 25%;
}

.subsection-adaptation-information-research-projects .col-md-2 .tile div{
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-adaptation-information-research-projects .col-md-2 .tile div h4 {
    margin-bottom: 5px;
    color: #353f02;
    font-size: 13px;
}

.subsection-adaptation-information-research-projects #content .cover-richtext-tile h1 {
    color: #758816;
    font-size: 20px;
}
