/* Background images */
body {background: #CCC; }
#header {background: transparent url(cca/img/bg_banner.jpg) top left no-repeat;}
#header {background-size:1600px 88px; position:relative;}
/*header*/
#logo {padding-left:120px; height:88px;}
#logo > a {display:block; max-width:85%;}
#logo > a img {max-width: 100%;}
#portal-personaltools {font-size: 1.5em; background: none; position:absolute; right: 0px; top: 0px; z-index: 1001;}
#portal-personaltools dd {
  background: #666;
}
#portal-personaltools a {color: #fff;}

/* Colors and fonts */
/* body {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 62.5%;} */
body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  text-rendering: optimizelegibility;
}
#content {
  color: #02213d;
}
a:link, a:visited, #content a:link, dl.portlet a:link {color:#205C90;}
h1,
#content h1 {
  color: #012C56;
  font-family: 'Francois One', sans;
  margin: 1em 0em 0.5em;
  font-weight: 500;
  font-size: 190%;
}
h2, h3, h4, h5, h6 {color: #636466; font-family: Arial, Helvetica, sans-serif;}
#wrapper { width:984px; margin: 0 auto; max-width: 90%;  font-size: 1.3em;}
#main {background:#fff; font-size: 1.3em; padding: 0;}
/* END /* Colors and fonts */*/


/* Searchbox */
#searchbt, #nav #seletor {display:none;}
#searchbt {display:block; float:right;width:14%;}
#searchbt a {
    display:block;
    text-indent: -900000px;
    padding: 1em;
    margin-top: 4%;
    background:transparent url(search-ico.png) no-repeat center center;
}
#portal-searchbox {font-size: 1em;font-family: Arial, Helvetica, sans-serif; position: absolute; right: 0px; top: 1.8em; padding-right: 1.5em;}
#portal-searchbox form, #portal-searchbox form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
  padding: 0.2em 0.3em;
  width: 170px;
  font-size: 1.3em;
}
#portal-searchbox .searchButton {
  font-size:0.8em;
  width: 10%;
  padding:1.899% 0  0.8% 0;
  text-align:center;
  display: inline-block;
  -webkit-appearance: none !important;
  background-image: url("cca/img/vergrootglas.png");
  background-repeat: no-repeat;
}
#portal-searchbox #searchLabel {
  color: #FFF;
  font-size: 12px;
}
#portal-searchbox #searchGadget {
  border-width: 1px;
  border-style: solid;
  border-color: #597a97;
}
#searchGadget:focus::-webkit-input-placeholder {
  color:transparent;
}
#portal-searchbox .searchButton {
  background-color:transparent;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #c8c8c9;
  border: none;
  -webkit-box-shadow: none;
  vertical-align: middle;
}
#footer {background: #205C90; color: #fff;;}
#footer a:link {color:#fff;;}
#footer a:hover {color:#fff;;}
#footer a:visited {color:#fff;;}
/* END Searchbox */

/* Navbar*/
.navbar { margin-bottom: 0px; min-height: 30px;}
.navbar-inverse { background-color: #a5bf26;}
.navbar-inverse .navbar-nav > li > a { color: Black; }
.navbar-nav > li > a {
  padding-top:10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar-inverse .navbar-nav > li > a { color: Black; }
.navbar-nav > li > a {
  padding-top:10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.dropdown:hover {
  background-color: #080808;
}
.dropdown:hover > a > span {
  color: #fff;
}
li.dropdown-submenu {
  display: list-item;
}
/* END Navbar*/

/* Footer */
#footer {background: #205C90; color: #fff;;}
#footer a:link {color:#fff;;}
#footer a:hover {color:#fff;;}
#footer a:visited {color:#fff;;}
#footer {clear: left; padding: 2em;}
#footer {
  background-color: White;
  padding:2em;
  padding-bottom: 0em;
}
#footer p {
  display: none;
}
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}
#portal-siteactions {
  width: 100%;
  border-top: 2px solid #CCC !important;
  padding-top: 30px;
  margin: 10px auto;
  display: inherit;
  text-align: center;
}
#portal-siteactions li {margin-right: 6em;}
#portal-siteactions a {
  color: Black !important;
}
/* END Footer*/


/* Responsive Design Magic*/
@media (min-width: 900px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
  }

  ul.dropdown-menu li.dropdown-submenu:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .section-help #content .row:nth-child(2) {
    display: inline-flex;
  }

  .section-help #content .row:nth-child(2) .col-md-3 {
    width: 25%;
  }

  .section-help #content .row:nth-child(2) .col-md-3 img {
    max-height: 100%;
  }

  .section-help #content .row:nth-child(2) .col-md-3:nth-child(3) {
    max-width: 83%;
  }

  .section-help #content .row:nth-child(2) .col-md-3 img {
    width: 100% !important;
  }

  .section-help #content .col-md-3:nth-of-type(3) table {
    width: 89%;
  }

  .subsection-tools-urban-adaptation #content {
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {

  #wrapper {max-width: 100%;}
  #logo {min-width:140px;}

  /*.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #FFF;}*/

  /*Columns*/
  #portal-column-one,
  #portal-column-two,
  #portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

  /*Search*/
  #portal-searchbox  {display:none;}

  /*Global navigation*/
  /* #nav {padding:0;width:100%; */
  /* } */

  #searchbt {display:block; float:right;width:14%;}

  #searchbt a {
    display:block;
    text-indent: -900000px;
    padding: 1em;
    margin-top: 4%;
    background:transparent url(search-ico.png) no-repeat center center;
  }

  .overlay.overlay-ajax {top: 10px !Important;}
  .overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
  }
  .overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
  .overlay.overlay-ajax #searchform .discreet {text-align:left;}
  .overlay.overlay-ajax #content-core strong {display:none;}

  .section-frontpage #content-core .row:nth-child(1) {
    margin-bottom: 15em;
  }

  .section-frontpage #content .row ul li .case-studies-homepage-slider-image {
    max-width: 100%;
    width: auto;
  }

  .section-frontpage #content .row ul li .case-studies-homepage-slider-description {
    margin-top: 2em;
    float: left;
    max-width: 100%;
    width: auto;
  }

  .section-frontpage #content-core .row:nth-child(2) .col-md-3 {
    display: inline-flex;
  }

  .section-frontpage #content-core .row:nth-child(5) .col-md-6 {
    max-width: 100%;
    width: 100%;
  }

  .section-frontpage #content-core .row:nth-child(3) .col-md-3:nth-child(2) {
    border-left: none;
  }

  .section-frontpage #content-core .row:nth-child(3) .col-md-3:nth-child(3) {
    border-right: none;
    border-left: none;
  }

  #content-core .fp-tile-fixes {
    padding-left: 0;
    padding-right: 0;
  }

  .section-frontpage .eu-climate-policy-tile {
    margin-left: 0;
  }

  #content-core .fp-image-tile {
    padding-left: 0;
    padding-right: 0;
  }

  .section-frontpage .funding-adaptation-tile {
    margin-right: 0;
  }

  .subsection-countries #contenidoMapa {
    right: 0;
  }

  #content-core #contenido {
    margin-bottom: 20em;
  }

  #content-core #contenidoCombos {
    margin-top: 35em;
  }

  .subsection-mayors-adapt #content #contenidoMapa {
    right: 0px;
  }

  .subsection-mayors-adapt #content {
    overflow: auto;
  }

  .subsection-mayors-adapt #content #contenidoCombos {
    right: 0px;
  }

  .subsection-share-your-info #content {
    overflow: auto;
  }

  .subsection-tutorial-videos .youtube-player {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Wrapper for iframe on tutorial-videos page
  !important is needed to override some inline styles
  tried removing the inline styles but the iframe will not load */
.subsection-tutorial-videos #leftcolumn {
  margin: 0px !important;
  padding: 0px !important;
  float: none !important;
  width: auto !important;

  position: relative;
  padding-bottom: 56.25% !important;
  padding-top: 35px !important;
  height: 0 !important;
  overflow: hidden;
}

.subsection-tutorial-videos #content {
  overflow: auto;
}


.subsection-transnational-regions #content-core #contenidoCombos {
  padding-top: 37em;
  margin-top: 0px;
  right: 0px;
}

.subsection-transnational-regions #content #contenidoMapa {
  right: 0px;
}

.subsection-transnational-regions #content {
  overflow: auto;
}

#center-content-area {
  margin-left: 0;
}
#center-top-area {
  margin-left: 19em;
}
#faceted-results {
  margin-top: 10em;
}

.section-help #content .row img {
  max-width: 100%;
}

.section-help #content .row .col-md-12 img {
  max-height: 30%;
}

.section-help #content .row:nth-child(2) {
  display: inline-flex;
}

#navbar .navbar-nav {
  float: none;
}

.subsection-adaptation-information-research-projects .col-md-10 {
  width: 60%;
  display: inline-flex;
  margin-right: 1%;
}

.subsection-adaptation-information-research-projects .col-md-2 {
  width: 30%;
  display: inline-table;
}
}

@media screen and (max-width: 480px) {

  #logo {width:100%;}

  #logo > a {margin-top: 40px; margin-left: 1em;}

  #logo img {max-width: 100%;}

  #portal-breadcrumbs {display:none;}

  #portal-searchbox {
    float: none;
    width:80%;
    clear:both;
    margin: 0 auto 2%;
  }

  .section-frontpage #content-core .row:nth-child(1) {
    margin-bottom: 20em;
  }

  .section-frontpage #content .row ul li .case-studies-homepage-slider-image {
    max-width: 100%;
    width: auto;
  }

  .section-frontpage #content .row ul li .case-studies-homepage-slider-description {
    margin-top: 2em;
  }

  #content-core #center-top-area {
    margin-top: 23em;
    margin-left: 0;
  }

  #content-core #faceted-results {
    margin-top: 0;
  }

  #content-core #contenido {
    margin-bottom: 20em;
  }

  #content-core #contenidoCombos {
    margin-top: 35em;
    padding-left: 1em;
  }

  .section-help #content .row:nth-child(2) {
    display: block;
    padding-left: 7em;
  }

  .section-help #content .row:nth-child(2) .col-md-3:nth-child(2) {
    display: inline-block;
  }

  .section-help #content .row:nth-child(2) .col-md-3:nth-child(3) {
    display: inline-block;
  }

  .section-help #content .row:nth-child(2) .col-md-3 {
    width: 100%;
  }

  .section-help #content .row:nth-child(2) .col-md-3 img {
    max-height: 100%;
  }

  .section-help #content .row:nth-child(2) .col-md-3:nth-child(3) {
    max-width: 83%;
  }

  .section-help #content .row:nth-child(2) .col-md-3:nth-child(4) img {
    width: 100% !important;
  }

  .section-help #content .col-md-3:nth-of-type(3) table {
    width: 89%;
  }

  .subsection-mayors-adapt #contenidoMapa {
    width: 400px;
  }

  .subsection-mayors-adapt #content {
    overflow: auto;
  }
}

@media screen and (max-width: 425px) {
  .section-help #content .row .col-md-3:nth-of-type(3) table {
    width: 93% !important;
  }

  .section-help #content .row:nth-child(2) {
    padding-left: 6em;
  }

  .subsection-mayors-adapt #contenidoMapa {
    width: 390px;
  }

  .subsection-publications #content {
    overflow: hidden;
  }

  .subsection-map-graphs #content {
    overflow: hidden;
  }

  .subsection-adaptation-options #content {
    overflow: hidden;
  }

  .subsection-publications #content {
    overflow: hidden;
  }

}

@media screen and (max-width: 375px) {
  .section-help #content .row .col-md-3:nth-of-type(3) table {
    width: 100% !important;
  }

  .section-help #content .row:nth-child(2) {
    padding-left: 4em;
  }

  .subsection-mayors-adapt #contenidoMapa {
    width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .section-help #content .row .col-md-3:nth-of-type(3) table {
    width: 109% !important;
  }

  .section-help #content .row:nth-child(2) {
    padding-left: 2em;
  }

  .subsection-strategy #content {
    margin: 0;
    overflow: auto;
  }

  .subsection-mayors-adapt #content {
    margin: 0;
    overflow: auto;
  }

  .subsection-mayors-adapt #contenidoMapa {
    width: 290px;
  }

  .subsection-adaptation-information-research-projects .col-md-10 {width: 95%; margin-right: 1%;}
  .subsection-adaptation-information-research-projects .col-md-2 {width: 95%;}

}