table {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0 !important;
  }
}

&.userrole-anonymous .edit-bar-wrapper {
  // fixes a problem with position relative
  border-bottom: 1px solid #fff !important;
}

.content-column .share-your-info-ace-button {
  display: none;
}

#content span.link-external > a:before {
  content: "";
  margin: 0;
}

.main-area .row {
  margin-top: 0;
}

#portal-column-content {
  overflow-x: unset;
}

.footer-content {
  font-size: 13px;
}
