@import "../variables.less";

.country-nationalhhap path {
  fill: @secondary-blue;
  cursor: pointer;
}

// .country-nasnap path {
//   fill: @secondary-blue;
//   cursor: pointer;
// }

.country-no-hhap path {
  fill: #acedff;
  cursor: pointer;
}

.country-subnationalhhap path {
  fill: #11cbff;
  cursor: pointer;
}

.country-none path {
  fill: #999;
  cursor: pointer;
}

.country-nodata path {
  fill: #efe7d4;
  cursor: pointer;
}

