.content-container {
  padding: 0 20px;
}

.site-container {
  top: 10px;
  margin-top: 0;
}

#content {
  border: 0;
  padding: 0 !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0 1rem 0;
  }
}

span.bold {
  font-weight: bolder;
}

@media only screen and (max-width: 800px) {
  .d-sm-none {
    display: none;
  }
}
