.country-page-header {
  h1 {
    font-family: "OpenSansR";
    font-size: 33px;
    line-height: 33px;
    color: #1172b5;
    margin: 0 !important;
  }

  .column {
    .tile-default:first-child {
      table {
        height: auto !important;
        margin-top: 30px;
      }

      table tbody td {
        vertical-align: bottom;
      }
    }
  }
}

&.userrole-anonymous .edit-bar-wrapper {
  // fixes a problem with position relative
  border-bottom: 1px solid #fff !important;
}

.content-column .share-your-info-ace-button {
  display: none;
}

#content span.link-external > a:before {
  content: "";
  margin: 0;
}

#countries-map {
  position: relative;
  display: block;
  line-height: 0;

  svg {
    border: none;
  }
}

.main-area .row {
  margin-top: 0;
}

.map-wrapper {
  margin-bottom: 20px !important;

  // > .column {
  //   padding: 0 15px;
  // }

  .map-islands {
    bottom: 10px;
    left: 10px;
  }
}

.health-homepage-specific {
  margin-top: 2em;
}

#portal-column-content {
  overflow-x: unset;
}

.footer-content {
  font-size: 13px;
}

#countries-tile-selector {
  h5 {
    padding-bottom: 15px;
    margin-top: 0 !important;
    border-bottom: 1px solid #949494;
  }

  .countries-list-tile {
    padding-left: 0 !important;
    border-bottom: 1px solid #949494;

    li {
      list-style-type: none;
      padding-bottom: 0.3em;

      a {
        color: #555;
        font-size: 13px;
        font-family: "OpenSansR";
      }

      a.active-country {
        font-family: "OpenSansB";
      }
    }
  }
}
