@import url(custom_common.css);
@import url(color_schemes/green.css);
@import url(color_schemes/orange.css);
/* ---------- Base styles ---------- */
/* ---------- LR upgrade to 6.2 changes start ---------- */
h3.ui-helper-reset {
  font-size: 12px;
  line-height: 15.6px;
  text-decoration: none;
  margin-bottom: 0px; }

.project-description {
  width: 700px; }

.fieldset .control-label {
  font-weight: bold; }

.fieldset .control-label {
  display: block;
  float: none;
  margin: 0;
  text-align: left;
  width: auto;
  font-size: 12px;
  color: #02213D; }

#csst_element h1 {
  margin-top: 0px; }

.scrolling-container label {
  font-size: 12px; }

.case-studies-tabbed-content label {
  display: inline;
  font-size: 12px; }

.fieldset .control-group {
  margin-bottom: 10px; }

#csst_element .risk-sector-label {
  line-height: 16px;
  font-size: 13px;
  margin-bottom: 0px; }

.aui {
  background: #CCCCCC; }

.aui-w3-4, .aui-w75 {
  width: 75%; }

.aui-w50 {
  width: 50%; }

.aui-w33 {
  width: 33.33%; }

.aui-w20 {
  width: 20%; }

.aui-w80 {
  width: 80%; }

.aui .portlet, .aui .portlet-borderless-container {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0); }

aui-w25 {
  width: 25%; }

.aui .row-fluid .span8 {
  width: 60.812%; }

.aui .row-fluid .span4 {
  width: 36.6239%; }

#content .row-fluid [class*="span"] {
  display: table-cell;
  float: none;
  vertical-align: top; }

.aui img {
  max-width: none; }

#column-2 {
  margin-left: 0px; }

#content select {
  padding: 1px;
  line-height: 16px; }

.aui body {
  background: #CCCCCC;
  font-family: Tahoma, Times New Roman, serif;
  font-size: 12px; }

#heading li {
  line-height: 16px; }

#navigation li {
  line-height: 20px; }

a#skip-to-content {
  display: none; }

.portlet-topper h1, .portlet-topper h2, .portlet-topper h3 {
  line-height: 20px;
  margin: 0px; }

.portlet-body li {
  line-height: 16px; }

.portlet-body {
  color: #02213D;
  font-family: arial,serif;
  line-height: 1.364em; }

#content .portlet-borderless-container {
  padding: 0px 0px;
  margin-bottom: 0px; }

#wrapper .portlet-borderless-container {
  padding: 0px 0px;
  margin-bottom: 0px; }

#content h2 {
  font-size: 1.6em;
  line-height: 1.3em; }

#content h1 {
  padding-left: 0px;
  padding-right: 0px;
  color: #67788A;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 1em; }

#content dt, #content dd {
  line-height: 1.364em; }

#content img {
  vertical-align: initial; }

#content form {
  margin: 0px; }

#content .csst-grid-subheader {
  font-size: 13px;
  font-weight: normal;
  margin: 7px 10px;
  padding-top: 0; }

#csst-grid .portlet-title {
  margin-top: 0px; }

#content input[type="text"], #content input[type="password"], #content input[type="file"], #content input[type="submit"], #content input[type="button"], #content input[type="reset"], #content select, #content textarea, #content .textarea, #content button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: url("../images/forms/input_shadow.png");
  background-repeat: no-repeat;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  font: 1em Arial,Helvetica,Verdana,sans-serif;
  padding: 1px;
  color: #000000;
  margin-bottom: 0px; }

.page-title .portlet-title {
  color: #02213D;
  font-size: 26px;
  padding-top: 20px; }

/* ---------- LR upgrade to 6.2 changes end ---------- */
p {
  line-height: 16px; }

#content .project-description a {
  text-decoration: none; }

#content a {
  color: #02213D;
  font-weight: normal;
  text-decoration: underline; }

a:hover {
  color: #758816;
  text-decoration: underline; }

a.double-arrow {
  background: url("/ace-theme/images/arrow_blue.png") no-repeat left center;
  padding-left: 14px; }

hr, .separator {
  border-color: #BFBFBF transparent #FFF;
  border-style: solid;
  border-width: 1px 0; }

#main-content {
  overflow: hidden; }

#dockbar {
  min-width: 984px; }

#wrapper {
  background: none repeat scroll 0 0 #FFF;
  margin: 0 auto;
  position: relative;
  width: 984px;
  padding: 0; }

.ie6 #wrapper {
  width: 90%; }

#banner {
  background: none;
  height: auto; }

#banner .company-title {
  float: none;
  margin: 0;
  position: static; }

body #banner .logo a {
  float: left; }

.current-community {
  display: none; }

.logo .current-community {
  background: #a6afbe url(../images/dock/my_places_public.png) no-repeat 15px 50%;
  color: #FFF;
  display: block;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  margin: 15px 0 0 20px;
  padding: 7px 17px 7px 40px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }

#skip-to-content:focus {
  clip: auto;
  right: 0;
  z-index: 200; }

#sign-in {
  background: url(../images/common/key.png) no-repeat 3px 50%;
  padding-left: 25px; }

.guest-community .logo .current-community {
  display: none; }

.private-page .logo .current-community {
  background-image: url(../images/dock/my_places_private.png); }

.ie6 #banner {
  height: 1%; }

.ie6 #banner h1.logo {
  height: 1%; }

#content .page-title .portlet-title {
  color: #02213D;
  font-size: 26px; }

/* ---------- Main navigation ---------- */
#navigation {
  margin-top: 3px;
  z-index: 1; }

ul#topnav {
  margin: 0;
  padding: 0;
  float: left;
  width: 984px;
  list-style: none;
  position: relative;
  font-size: 14px;
  background: #a5bf26;
  height: 32px;
  z-index: 100;
  border-bottom: 1px solid #d2df92; }

ul#topnav li {
  background: url("/ace-theme/images/line_sep_main_menu.png") no-repeat scroll 100% 8px transparent;
  float: left;
  margin: 0 3px;
  padding: 5px 14px 7px 12px; }

#navigation li.first {
  margin-left: 0; }

#navigation li.last {
  background: none; }

ul#topnav .selected {
  padding-left: 0;
  padding-right: 7px;
  /*background-color: #E9ECC9; 
  border-top: 1px solid #d2df92;
  border-left: 1px solid #d2df92;
  border-right: 1px solid #d2df92;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  margin-top: 4px;
  padding-top: 0;*/ }

ul#topnav li.selected a {
  background-color: #E9ECC9;
  border-top: 1px solid #d2df92;
  border-left: 1px solid #d2df92;
  border-right: 1px solid #d2df92;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  color: #000;
  margin-top: -1px;
  padding: 0 11px 8px; }

ul#topnav li a {
  display: block;
  color: #02213D;
  text-decoration: none; }

ul#topnav li.submenu:hover {
  background: #e9efc9;
  border-top: 1px solid #d2df92;
  border-left: 1px solid #d2df92;
  border-right: 1px solid #d2df92;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  margin-top: 6px;
  /* was 4px */
  padding-bottom: 8px;
  padding-top: 0;
  padding-left: 6px;
  padding-right: 6px; }

/*
ul#topnav li.selected:hover {
	padding: 0 7px 8px 7px;
}*/
ul#topnav li.selected li.first:hover {
  padding: 0; }

ul#topnav li.submenu a:hover {
  color: #000;
  margin-bottom: 1px;
  padding-top: 0; }

ul#topnav li a:hover {
  color: #FFF; }

ul#topnav li ul {
  /*border-top: 1px solid #758816;*/
  border-bottom: 1px solid #d2df92;
  float: left;
  padding: 4px 5px 5px;
  /*padding: 4px 5px 6px 5px;*/
  position: absolute;
  list-style: none;
  left: 0;
  margin: 0;
  font-size: 11px;
  top: 33px;
  display: none;
  width: 974px;
  background: #e9efc9;
  z-index: 1000; }

ul#topnav li ul li {
  margin: 0 1px 0 2px;
  padding: 0; }

ul#subnav li a {
  padding: 6px; }

ul#subnav li.selected {
  background: none;
  border: none;
  margin-top: 0; }

ul#subnav li.selected:hover {
  padding: 0; }

ul#subnav li.selected a {
  margin-bottom: 0;
  padding-top: 6px; }

ul#subnav li.first {
  margin-left: 0; }

ul#topnav li:hover ul {
  display: block; }

/*--Show subnav on hover--*/
ul#subnav li:hover {
  background: #e9efc9;
  border: none;
  margin-top: 0; }

ul#topnav li ul a {
  color: #758816;
  display: inline; }

/*--Since we declared a link style on the parent list link, we will correct it back to its original state--*/
ul#subnav li a:hover {
  color: #2C330A;
  margin-bottom: 0;
  padding-top: 6px;
  text-decoration: none; }

/* ---------- Portlet wrapper and icons ---------- */
.portlet {
  margin: 0 0 27px;
  text-align: left; }

.frontpage-layout .portlet-topper {
  font-size: 1.818em;
  text-align: center;
  background-color: #A6BF26; }

.portlet-title {
  color: #67788a;
  float: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  min-width: 50%;
  padding: 8px 0; }

.portlet-content, .portlet-minimized .portlet-content-container {
  padding: 0; }

.portlet-body {
  color: #02213d;
  font-family: arial,serif;
  line-height: 1.364em; }

.lfr-portlet-title-editable {
  margin-top: -4px;
  z-index: 9999; }

.ie .lfr-portlet-title-editable {
  margin-top: -6px; }

.portlet-title-text {
  cursor: default;
  overflow: visible;
  max-width: 100%; }

.lfr-portlet-title-editable-content {
  padding: 0; }

.ie .lfr-portlet-title-editable-content {
  margin-top: 4px; }

.portlet-icons {
  float: none; }

.portlet-icons .portlet-close-icon {
  border-width: 0; }

.page-maximized .portlet-icons {
  font-size: 11px; }

.ie .portlet-title {
  padding-bottom: 15px; }

.ie6 .portlet-topper {
  zoom: 1; }

.taglib-header {
  color: #2c330a; }

.content-11px {
  font-size: 11px; }

/* ---------- Footer ---------- */
#footer {
  border-top: 2px solid #D7E3EF;
  height: 100px;
  margin-top: 15px; }

#footer .container {
  display: block;
  margin-top: 15px;
  position: absolute;
  left: 292px;
  text-align: center; }

.ie7 #footer .container {
  right: 34%; }

#footer a {
  float: left;
  margin-bottom: 15px;
  text-decoration: none;
  width: 200px; }

/* ---------- Hudcrumbs ---------- */
.lfr-hudcrumbs {
  position: fixed;
  top: 0;
  z-index: 200; }

.lfr-hudcrumbs ul {
  background: #414445;
  background: rgba(0, 0, 0, 0.8); }

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

.lfr-hudcrumbs li span {
  background-image: url(../images/common/breadcrumbs_hud.png); }

/* ---------- Misc. ---------- */
.lfr-panel-container {
  background-color: transparent; }

.aui-combobox .aui-field-input {
  padding: 4px 3px 3px;
  font-size: 11px;
  height: 15px; }

.aui-combobox .aui-field {
  float: left;
  line-height: 0; }

.lfr-portlet-title-editable-content .aui-field {
  float: none;
  display: inline; }

/* ---------- Extras ---------- */
.portlet-borderless-bar {
  -moz-border-radius: 20px;
  -moz-box-shadow: inset 0 1px 3px #000;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 3px #000;
  border-radius: 20px;
  box-shadow: inset 0 1px 3px #000; }

.logo .current-community {
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 white; }

.aui-combobox .aui-toolbar-first {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/**** Heading *****/
#heading {
  background-image: url("/ace-theme/images/bg_banner.jpg"); }

#heading .logo {
  margin-left: 115px; }

/***** Header menu *****/
#header-menu {
  background-image: url("/ace-theme/images/bg_links-tools-ace.png");
  position: absolute;
  right: 0;
  top: 0; }

.ie7 #header-menu {
  top: 15px; }

#header-menu ul {
  line-height: 16px;
  margin: 7px 10px 7px 60px; }

#header-menu li {
  background: url("/ace-theme/images/line_sep_links.gif") no-repeat left center;
  display: inline;
  padding: 0 2px 0 7px; }

#header-menu li.first {
  background: none; }

#header-menu a {
  margin-right: 10px;
  color: #FFF;
  font-size: 0.9em;
  text-decoration: none; }

#header-menu a:hover {
  color: #a5bf26; }

/**** Search box in header ****/
#searchbox {
  position: absolute;
  right: 10px;
  top: 49px; }

#searchbox span {
  float: left; }

#searchbox input[type="text"] {
  color: #666;
  height: 10px;
  margin-right: 2px;
  padding-left: 3px;
  width: 170px; }

#search-title {
  color: #FFF;
  float: left;
  padding: 4px 10px 0 0; }

.ie7 #searchbox {
  top: 65px; }

#searchbox select {
  display: none; }

/****
	Web Content Search page
****/
.portlet-journal-content-search {
  padding: 15px; }

.portlet-journal-content-search .portlet-title {
  color: #02213D; }

.portlet-journal-content-search .portlet-icon-back {
  font-size: 12px;
  font-weight: normal; }

.portlet-journal-content-search input[type="text"] {
  height: 10px; }

.portlet-journal-content-search .search-results {
  padding-top: 25px; }

.portlet-journal-content-search .search-results .col-2,
.portlet-journal-content-search .search-results .col-4 {
  display: none; }

.portlet-journal-content-search .lfr-search-container {
  margin-top: 10px; }

.portlet-journal-content-search .results-header th, .results-header td {
  color: #02213D; }

/**** Second level menu ****/
#sec-menu {
  margin-top: 10px;
  padding: 0; }

#sec-menu a#p_71_INSTANCE_9VDq {
  margin: 0;
  padding: 0; }

#sec-menu ul {
  background-color: #E9EFC9;
  border-bottom: 1px solid #D2DF92;
  margin: auto;
  padding: 1em 2%;
  display: inline-block;
  list-style-type: none;
  width: 96%;
  line-height: 16px; }

#sec-menu li {
  padding: 2px 0px 2px 10px;
  float: left;
  line-height: 16px;
  width: 23%; }

#sec-menu a {
  color: #353f02;
  font: normal 12px Tahoma,serif;
  margin: 0 2px;
  padding: 2px;
  text-decoration: none; }

#sec-menu a:hover,
#sec-menu .selected,
#sec-menu .open {
  color: #dd5402; }

#sec-menu .portlet-borderless-bar {
  display: none; }

/**** General styles Ace Layouts ****/
.ace_layout_2 #column-1,
.ace_layout_2 #column-2,
.ace_layout_2 #column-3,
.ace_layout_3 #column-1,
.ace_layout_3 #column-2,
.ace_layout_3 #column-3,
.ace_layout_3 #column-4 {
  display: inline-block;
  float: left; }

.ace_layout_2 #column-3,
.ace_layout_3 #column-4 {
  float: right; }

.faq #layout-column_column-1,
.faq #layout-column_column-2,
.faq #layout-column_column-3,
.faq #layout-column_column-4,
.ace_layout_2 #layout-column_column-2,
.ace_layout_2 #layout-column_column-3,
.ace_layout_3 #layout-column_column-2,
.ace_layout_3 #layout-column_column-3,
.ace_layout_3 #layout-column_column-4 {
  padding: 0 15px; }

.faq #layout-column_column-3,
.faq #layout-column_column-4,
.ace_layout_2 #layout-column_column-3,
.ace_layout_3 #layout-column_column-3,
.ace_layout_3 #layout-column_column-4,
.frontpage-layout #layout-column_column-6,
.frontpage-layout #layout-column_column-7,
.frontpage-layout #layout-column_column-8 {
  border-left: #d7e3ef 2px solid; }

.ace_layout_3 #column-4 {
  width: 33%; }

/**** Ace Layout 2 and 3 (resp. measures and sector pages) ****/
.ace_layout_2 #layout-column_column-1,
.ace_layout_3 #layout-column_column-1 {
  margin-top: -15px;
  padding: 0 2px 27px 0; }

.ie7 .ace_layout_2 #layout-column_column-1,
.ie7 .ace_layout_3 #layout-column_column-1 {
  margin-top: 0; }

.ace_layout_2 #column-4,
.ace_layout_3 #column-5 {
  background-color: #d2de92; }

.ace_layout_2 #column-2 {
  width: 33%; }

.ace_layout_2 #column-3 {
  width: 67%; }

.ace_layout_2 #column-4 {
  width: 23.3%; }

.ace_layout_2 #layout-column_column-4,
.ace_layout_3 #layout-column_column-5 {
  padding: 27px 19px; }

.ace_layout_2 #layout-column_column-4 .portlet-title,
.ace_layout_3 #layout-column_column-5 .portlet-title {
  color: #758816; }

/**** Ace Layout 4 ****/
.ace_layout_4 #column-1 .portlet-column-content {
  padding: 0 15px; }

.ace_layout_4 #column-2 {
  background-color: #d2de92; }

.ace_layout_4 #column-2 {
  padding: 27px 19px; }

.ace_layout_4 #column-2 .portlet-title {
  color: #758816; }

/****
	Explore adaptation options portlet on Adaptation measures page 
	moved to SimpleFilter-portlet main.css
****/
/**** Template Sector Main Article ****/
.sector-main-article {
  padding: 0; }

.sector-main-article .image {
  float: left;
  height: 240px;
  width: 0; }

.sector-main-article .text-container,
.sector-main-article .filter-container {
  left: 245px;
  position: absolute;
  width: auto; }

.sector-main-article .text-container {
  background: url("../images/bg_sector_main_article_text.png") repeat-y scroll 5% center;
  margin-bottom: 20px;
  margin-right: 245px;
  height: 210px;
  position: relative; }

.ie7 .sector-main-article .text-container {
  margin-bottom: 80px; }

.sector-main-article .filter-container {
  background: url("../images/bg_sector_main_article_filter.png") repeat-y scroll 5% center;
  display: none;
  height: 40px;
  right: 0;
  top: 0; }

.sector-main-article .filter-options {
  float: right;
  margin: 10px 17px; }

.sector-main-article .title {
  margin: 15px 17px; }

.sector-main-article h1 {
  font: normal 26px Tahoma, Times New Roman, serif;
  margin: 15px 0;
  padding: 20px 0 0; }

.sector-main-article .body {
  height: 125px;
  margin: 0 17px;
  overflow: hidden; }

.sector-main-article #read-more-link {
  background: url("../images/bg_sector_main_article_filter.png") repeat-y scroll 5% center transparent;
  line-height: 30px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 210px;
  width: 481px; }

.sector-main-article #read-more-link a:hover {
  color: #FFF; }

.sector-main-article .read-more-body {
  margin: 45px 17px 0 15px; }

/* 	Addition of a 3rd level menu on the	observations and scenarios pages. 
	To accompany this, a new velocity template is created based on the 
	sector main article template */
.observations-scenarios #third-level-menu {
  margin: -12px 17px 12px; }

.observations-scenarios #third-level-menu li {
  border-right: 1px solid #67788a;
  display: inline;
  margin-right: 5px;
  padding-right: 7px; }

.observations-scenarios #third-level-menu li.first {
  padding-left: 0; }

.observations-scenarios #third-level-menu li.last {
  border: none; }

.observations-scenarios #third-level-menu a {
  color: #67788a;
  font-family: Tahoma, Times New Roman, sans serif;
  font-size: 11px;
  text-decoration: none; }

.observations-scenarios #third-level-menu a:hover,
.observations-scenarios #third-level-menu a.selected {
  color: #02213D; }

/**** Template for Research Project ****/
.project-description .intro {
  height: 150px; }

.project-description .image {
  float: left;
  line-height: 13.636em; }

.project-description .image img {
  vertical-align: middle; }

.project-description .title-container {
  margin: 30px 15px 20px 170px;
  position: absolute;
  width: 79%; }

.ie7 .project-description .title-container {
  margin-left: 20px; }

.project-description .title-container h1 {
  color: #02213d;
  font-family: Tahoma, Times New Roman, serif;
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 15px; }

.project-description .title-container .subtitle {
  color: #02213d;
  font-family: Tahoma, Times New Roman, serif;
  font-size: 13px;
  font-weight: normal; }

.project-description .text-container {
  margin-top: 25px; }

.project-description .text-container .ui-state-active a {
  color: #02213d;
  font-size: 13px;
  font-weight: bold; }

.project-description .text-container .ui-corner-top,
.project-description .text-container .ui-corner-bottom,
.project-description .text-container .ui-corner-all {
  border-radius: 0px; }

.project-description .text-container table {
  font-size: 11px; }

.project-description .text-container tr {
  border-bottom: 2px solid #FFF;
  line-height: 22px; }

.project-description .text-container td {
  border-right: 2px solid #FFF;
  padding: 0 15px; }

.project-facts,
.project-facts a {
  color: #353f02; }

.project-facts a:hover {
  color: #FFF; }

.project-facts .portlet-title {
  padding: 0; }

.project-facts h3 {
  font-size: 13px;
  margin: 20px 0 5px 0; }

.project-facts #instrument h3 {
  margin-top: 0; }

.ie7 .project-facts #instrument h3 {
  margin-top: 15px; }

.project-facts #contact p {
  margin: 0; }

.project-facts #project-website {
  margin-top: 20px; }

/**** Template for the AST pages ****/
.ast #column-1 {
  background-color: #d2df92; }

.ast #column-1 .portlet-column-content {
  padding: 0; }

#ast-menu {
  list-style-type: none;
  margin: 20px 0 0;
  width: 330px; }

#ast-menu li {
  list-style-type: none;
  margin-bottom: 2px; }

#ast-menu .ui-accordion-li-fix {
  background: url("/ace-theme/images/arrow_ast.png") no-repeat 10px 50% #9aa854; }

#ast-menu a.ui-state-active {
  background: url("/ace-theme/images/arrow_ast_wit.png") no-repeat 10px 50%;
  color: white; }

#ast-menu li.no-substep a.ui-state-active {
  background: url("/ace-theme/images/arrow_ast.png") no-repeat 10px 50%;
  color: white; }

/* Prevent FOUC */
.js #step-1, .js #step-2, .js #step-3, .js #step-4, .js #step-5, .js #step-6 {
  display: none; }

#ast-menu .ui-accordion-content-active {
  background-color: #E9EFC9;
  display: block;
  margin: 0;
  padding: 10px 5px 5px 20px;
  width: 305px; }

#ast-menu .ui-accordion-content-active a {
  background: url("/ace-theme/images/arrows/arrow_darkgreen.png") no-repeat 5px 50%; }

#ast-menu .ui-accordion-content-active p {
  margin: -19px 0 -10px 0;
  padding-left: 30px; }

.ie9 #ast-menu .ui-accordion-content-active p {
  margin-bottom: 15px; }

#ast-menu ul ul {
  margin: 0 0 0 24px; }

#ast-menu .ui-accordion-content-active a.active,
#ast-menu .ui-accordion-content-active a:hover {
  background: url("/ace-theme/images/arrows/01_plus.png") no-repeat 5px 50%;
  color: #a5bf26; }

#ast-menu a {
  color: #2C330A;
  line-height: 22px;
  padding-left: 25px;
  text-decoration: none; }

#ast-menu a:hover {
  color: #FFF; }

.ast .astheaderportlet-portlet {
  left: -10px;
  margin-bottom: 10px;
  position: relative; }

.ast #bottom-column,
.ast #layout-column_column-2 {
  margin: 0 20px 0 27px;
  padding-top: 25px; }

.ast-main-article .body {
  /*	height: 125px;*/
  margin-bottom: 17px;
  overflow: hidden; }

.ast-main-article #read-more-link {
  background: url("../images/bg_sector_main_article_filter.png") repeat-y scroll 0 center transparent;
  line-height: 30px;
  position: relative;
  padding-right: 10px;
  text-align: right;
  width: 600px; }

.ast-main-article #read-more-link a:hover {
  color: #FFF; }

.ast-main-article .read-more-body {
  margin-top: 10px; }

.ast #column-3 .portlet-column-content {
  padding: 0 15px 0 5px; }

.ast #column-4 .portlet-column-content {
  padding: 0 15px; }

.ast #layout-column_column-4 {
  border-left: #d7e3ef 2px solid; }

.ast #bottom-column ul {
  line-height: 24px;
  list-style-image: url("/ace-theme/images/arrows/01_plus.png");
  margin-top: 0; }

.ast #bottom-column a {
  color: #758816;
  text-decoration: none; }

/* change for firefox */
@-moz-document url-prefix() {
  #ast-menu li ul li {
    margin: 0 0 20px 0; }

  #ast-menu li ul li ul {
    margin-top: 20px; } }

/* Chnages for IE10 + */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #ast-menu li ul li {
    margin: 0 0 20px 0; }

  #ast-menu li ul li ul {
    margin-top: 20px; } }
/**** 
	Frontpage specific styles 
****/
/* Hover def. for the speedbuttons */
.frontpage-layout #layout-column_column-4,
.frontpage-layout #layout-column_column-3,
.frontpage-layout #layout-column_column-5,
.frontpage-layout #layout-column_column-6,
.frontpage-layout #layout-column_column-7,
.frontpage-layout #layout-column_column-8 {
  padding: 0 16px;
  min-height: 220px; }

/* Distribute the columns evenly on the frontpage */
.frontpage-layout #column-5,
.frontpage-layout #column-6,
.frontpage-layout #column-7,
.frontpage-layout #column-8 {
  width: 25%; }

.frontpage-layout #layout-column_column-4 {
  padding-left: 14px;
  min-height: 170px !important; }

.frontpage-layout #layout-column_column-3 {
  padding-right: 14px;
  min-height: 170px; }

.frontpage-layout #speedbutton-left,
.frontpage-layout #speedbutton-right {
  margin-top: 7px;
  padding-bottom: 6px; }

.frontpage-layout #fp-top-row {
  background: url("/ace-theme/images/gradient_sb_fp.png") no-repeat 0 bottom;
  margin-bottom: 15px; }

#fp-top-row-custom #layout-column_column-1 {
  padding-left: 18px; }

a.speedbutton img {
  border: 2px solid transparent; }

a.speedbutton img:hover {
  border: 2px solid #5ea9d3; }

.frontpage-layout #sb-np,
.frontpage-layout #sb-syi {
  margin-top: 10px; }

/* Text Climate Change Adaptation in Europe */
#p_p_id_56_INSTANCE_7vIW_ {
  margin: 22px 15px 0 15px; }

#p_p_id_56_INSTANCE_7vIW_ h1 {
  color: #02213D;
  font-size: 26px;
  padding-bottom: 7px; }

.ie #p_p_id_56_INSTANCE_7vIW_ {
  margin-top: 22px; }

.more-spacing-list li {
  line-height: 18px; }

#p_p_id_56_INSTANCE_7vIW_ .double-arrow {
  float: right;
  margin-top: -17px; }

.frontpage-layout #countries-list-sb {
  left: 13px;
  position: absolute;
  top: 260px;
  width: 187px; }

.frontpage-layout #countries-list-sb img {
  left: 2px;
  position: relative;
  top: 5px; }

.frontpage-layout #countries-list-sb img:hover {
  cursor: pointer; }

.frontpage-layout #countries-list-sb select {
  color: #02213D;
  font-family: Tahoma,Times New Roman,serif;
  width: 150px; }

/* DB search portlet in the middle of the frontpage */
.db-search-fp {
  background: url("/ace-theme/images/db_search_fp2.png") no-repeat scroll 14px 7px transparent;
  height: 70px;
  margin: 0 0 0 2px;
  position: absolute;
  top: 410px;
  width: 484px; }

.ie8 .db-search-fp {
  top: 407px; }

.db-search-fp .portlet-body {
  left: 260px;
  position: relative;
  top: 22px; }

.db-search-fp img {
  position: relative;
  top: 4px; }

.db-search-fp img:hover {
  cursor: pointer; }

#db-search-fp-link {
  border: none;
  height: 60px;
  left: -245px;
  position: absolute;
  top: -18px;
  width: 225px; }

#db-search-fp-info-text {
  font-family: Tahoma,Times New Roman,serif;
  margin-bottom: 5px;
  margin-left: 3px;
  position: absolute;
  top: -10px;
  width: 180px; }

.db-search-fp input {
  border: 1px solid #758816;
  height: 10px;
  margin-top: 8px;
  width: 180px; }

/**** 
	Styles modified from originally ace-theme/docroot/css/custom_common.css 
****/
.logo .current-community, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/**** Styles for adjusting the display of RSS feeds ****/
.portlet-rss .feed {
  padding: 0; }

.portlet-rss .feed-entry-expander {
  padding-top: 1px; }

.portlet-rss .feed-entry {
  font-size: 11px; }

.portlet-rss .feed-entry-content img {
  width: 100%; }

.portlet-rss .feed-entry-title {
  padding-left: 21px; }

.portlet-rss .feed-entry-title a {
  text-decoration: none; }

span.opens-new-window-accessible,
.lfr-menu-list .portlet-refresh {
  display: none; }

/** Additional styling for the FilterAceItemPortlet
    add class indicators to the desired portlet in 
    order to use the styles below
**/
.news-events ul {
  font-size: 11px;
  list-style: none;
  margin-left: 0; }

.news-events li {
  background: url("/ace-theme/images/arrows/01_plus.png") no-repeat scroll 0 1px transparent;
  margin-bottom: 4px;
  padding-left: 20px; }

#content .news-events li a {
  text-decoration: none; }

.multimedia .feed-entry {
  font-size: 11px; }

#content .multimedia .feed-entry-title a {
  font-weight: bold; }

.indicators #filter_results {
  padding-left: 18px; }

.indicators .plus,
.indicators .minus {
  margin-left: -18px;
  position: relative;
  top: 2px; }

#content .indicators a {
  color: #02213D !important;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none; }

#content .indicators a:hover {
  color: #758816 !important;
  text-decoration: none !important; }

.indicators .feed-entry-content {
  font-size: 11px; }

/**** 
	Styling of the search and discover page 
****/
.search-discover-text {
  background: #E9EFC9;
  left: -15px;
  position: relative;
  width: 459px;
  z-index: 1000; }

.search-discover-text section {
  margin: 0; }

.search-discover-text .portlet-title {
  color: #353f02;
  font-size: 15px;
  left: 250px;
  padding: 0;
  position: relative;
  top: 15px; }

.search-discover-text .portlet-content {
  height: 90px;
  margin-top: -10px; }

.search-discover-text .portlet-body p {
  color: #353f02;
  font-size: 11px;
  height: 55px;
  margin: 0;
  padding: 27px 20px 20px 20px; }

.search-discover-text .portlet-body img {
  float: left;
  padding-right: 15px;
  position: relative;
  top: -13px; }

.search-discover #acesearch_container {
  left: -15px;
  overflow: hidden;
  position: relative;
  top: -100px;
  width: 984px; }

.search-discover #acesearch_container h2 {
  font-family: Tahoma,Times New Roman,serif;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px; }

.search-discover #acesearch_container ul {
  margin-left: 0; }

.search-discover #acesearch_column {
  padding: 5px 20px 100px;
  position: relative;
  top: 100px;
  width: 419px; }

.search-discover #acesearch_column .check {
  width: 200px; }

.search-discover #acesearch_container .search_section {
  color: #353f02; }

.search-discover #idfreetext {
  margin-bottom: 33px; }

.search-discover #idfreetext #anyorall {
  font-size: 11px;
  font-weight: bold; }

.search-discover #idfreetext #anyorall label {
  margin-right: 35px; }

.search-discover #idfreetext #anyOfThese {
  height: 12px;
  position: relative;
  top: 5px;
  width: 295px; }

.search-discover #acesearch_container .clearer {
  display: none; }

.search-discover #idtype {
  margin-bottom: 30px; }

.search-discover #idtype .row {
  font-size: 11px;
  font-weight: bold; }

.search-discover #idtype label {
  margin-right: 35px; }

.search-discover #idtype #all_selection_types label {
  font-weight: normal;
  margin: 0; }

.search-discover #idextended #adaptation_sectors_container,
.search-discover #idextended #climate_impacts_container,
.search-discover #idextended #adaptation_elements_container,
.search-discover #idextended #countries_container {
  font-size: 11px; }

.search-discover #acesearch_container .search_section input {
  background: none; }

.search-discover #acesearch_container .search_section input[type="text"] {
  background: #FFF; }

.search-discover input.focus, .search-discover textarea.focus {
  background: #E5F6FE;
  border: 1px solid #02213D; }

.search-discover #acesearch_container .search_section a:link {
  color: #353F02 !important;
  font-family: Tahoma,Times New Roman,serif; }

.search-discover #form_footer {
  background: #9aa854;
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 5px 15px; }

.search-discover #form_footer input {
  background: none;
  background-color: #FFF;
  border-radius: 0px 0px 0px 0px;
  border: none;
  color: #353f02;
  font-family: Tahoma,Times New Roman,serif;
  font-weight: normal;
  height: 25px;
  padding: 0 15px 3px; }

.search-discover #form_footer #clear-search-form-btn {
  background-color: #E9EFC9;
  margin-right: 7px; }

.search-discover #search_results .results_header {
  color: #02213d;
  font-family: Tahoma, Times New Roman, serif;
  font-size: 26px;
  font-weight: normal;
  margin: 10px 0 17px -6px; }

.search-discover #search_results .number_of_results {
  color: #67788A;
  font-family: Tahoma, Times New Roman, serif;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0 5px -5px;
  clear: left;
  position: relative;
  top: 8px; }

.search-discover #search_results .expandedResultsGroup,
.search-discover #search_results .collapsedResultsGroup {
  line-height: 17px; }

.search-discover #search_results .collapsedResultsGroup .resultsGroupTitle {
  background-color: #afc8df;
  color: #02213d;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: -4px 0 -10px -5px;
  padding: 5px 8px; }

.search-discover #search_results .expandedResultsGroup .resultsGroupTitle {
  background-color: #677a8b;
  color: #FFF;
  font-family: Tahoma, Times New Roman, serif;
  font-weight: normal;
  margin: -4px 0 -10px -5px;
  padding: 5px 8px; }

.search-discover #search_results .sortbar {
  background-color: #d7e3ef;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 0 -5px; }

.search-discover #search_results .sortbar .sortByControl {
  background: none;
  margin: 0 3px 0 20px; }

.search-discover #search_results .pagination-box {
  background-color: #d7e3ef;
  height: 23px;
  margin-left: -5px;
  padding-right: 17px; }

.search-discover #search_results .pagination {
  float: right;
  font-size: 11px;
  font-weight: bold; }

.search-discover #search_results .pagination .current {
  background: #afc8df;
  border: none;
  color: #02213D; }

.search-discover #search_results .pagination a,
.search-discover #search_results .pagination span {
  font-weight: bold;
  padding: 0 1px; }

.search-discover #search_results .pagination a {
  background: #677a8b;
  border: none;
  color: #FFF !important; }

.search-discover #search_results .pagination a:hover {
  background: #afc8df;
  color: #02213D !important;
  text-decoration: none; }

.search-discover #search_results .resultlist {
  margin-left: -5px; }

.search-discover #search_results .searchresult {
  background: none;
  border-bottom: none;
  border-top: none;
  border-right: 2px solid #d7e3ef;
  border-left: 2px solid #d7e3ef;
  color: #02213d;
  font-size: 12px;
  margin: 0;
  padding: 15px 15px 20px 25px; }

.search-discover #search_results .searchresult .bolder {
  color: #02213d !important;
  margin-left: -15px; }

.search-discover #search_results .searchresult .bolder a {
  color: #02213d !important;
  font-weight: bold;
  padding-left: 5px; }

.search-discover #search_results .searchresult .relevance {
  left: 290px;
  margin: 0;
  padding: 5px 0 0;
  position: relative; }

.search-discover #search_results .searchresult .relevance-marker {
  background-color: #a5bf26;
  border: 1px solid #a5bf26;
  height: 5px;
  top: 5px; }

.search-discover #search_results .searchresult .clearer,
.search-discover #search_results .resultfooter {
  display: none; }

/**** Styling for the transnational pages
Entry page
The entry does NOT have a seperate layout template. 
To retrieve the appropiate styling is it therefore
necessary to add the class sector-main-article to the
main article and the class transnational-search to
the search column.
****/
.transnationalregion {
  background: url("../images/bg_sector_main_article_text.png") repeat-y scroll 5% center transparent; }

.transnational-search {
  background-color: #D2DF92;
  margin-top: 15px;
  padding: 15px; }

.transnational-search .portlet-title,
.transnationalregion #column-3 .portlet-title {
  color: #758816; }

.transnationalregion .region-list select {
  width: 145px; }

.transnationalregion #layout-column_column-1 {
  padding: 20px; }

.transnationalregion #column-2 {
  padding: 15px; }

.transnationalregion #column-2 .portlet-title {
  color: #02213D;
  padding-bottom: 5px; }

.transnationalregion #column-2 .title {
  font-size: 13px; }

.transnat-region-middle,
.national-page-middle {
  padding-right: 100px; }

.transnationalregion #assessments {
  margin-top: 20px; }

.transnationalregion #column-3 {
  background-color: #D2DF92;
  padding: 15px; }

/****
   Styling for the national pages
   it uses the layout template transnational region, however slightly
   different web content templates
****/
.transnationalregion .countries-list select {
  width: 147px; }

.transnationalregion #tabs {
  margin-top: 15px; }

.transnationalregion .ui-widget-header {
  background: none;
  border: none;
  border-bottom: 1px solid #AAAAAA; }

.transnationalregion .ui-state-active a,
.transnationalregion .ui-state-active a:link,
.transnationalregion .ui-state-active a:visited {
  color: #02213D; }

.transnationalregion .ui-widget-content {
  background: none;
  border: none; }

.transnationalregion .ui-corner-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.transnationalregion .ui-corner-all {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.transnationalregion #tabs-5 th {
  background: none; }

.transnationalregion #tabs-5 th,
.transnationalregion #tabs-5 td {
  padding: 7px 14px; }

.transnationalregion #weblinks ul {
  margin-top: 0;
  margin-left: 15px; }

/**** Styling of the map viewer 
The Map Viewer does NOT have a seperate layout template. 
To retrieve the appropiate styling is it therefore
necessary to add the class sat-text to the instruction 
text and the class mapviewer to the MapViewerPortlet.
****/
/** Make sure the preferences are reachable **/
.mapviewer .portlet-borderless-bar {
  margin-top: -20px; }

.mapviewer #legend_element,
.mapviewer #toc_element {
  margin-left: 695px;
  margin-top: -350px;
  width: 270px; }

.mapviewer {
  margin-top: -20px;
  min-height: 410px;
  width: 700px; }

.mapviewer #locations_element {
  height: 40px;
  margin-bottom: 10px;
  overflow: auto;
  width: 190px; }

.mapviewer #map_element {
  height: 350px;
  margin-left: 7px;
  margin-top: 25px;
  width: 670px; }

.mapviewer #status_element {
  display: none;
  position: absolute;
  top: 350px; }

.mapviewer #toc_element {
  background-color: #D2DE92;
  max-height: 430px;
  min-height: 250px;
  overflow-y: scroll; }

.mapviewer #map_element .x-panel,
.mapviewer #toc_element .x-panel,
.mapviewer #map_element .x-panel-body,
.mapviewer #toc_element .x-panel-body {
  border: none; }

.mapviewer #toc_element .x-panel-body {
  margin: 15px; }

.mapviewer li.x-tree-node {
  margin: 9px 10px 9px 28px;
  white-space: normal; }

.mapviewer .x-tree-node-leaf .x-tree-node-icon {
  display: none; }

.mapviewer .legend {
  padding-left: 15px; }

.mapviewer #toc_element ul {
  list-style-type: none;
  margin-left: 0; }

.mapviewer #toc_element input.x-tree-node-cb {
  margin-left: -18px; }

.mapviewer #toc_element a {
  color: #353F02;
  cursor: default;
  padding-left: 3px;
  text-decoration: none; }

.mapviewer #toc_element a:hover {
  color: #02213D; }

.mapviewer #legend_element {
  background-color: #D2DE92;
  color: #353F02;
  margin: -165px -254px 0 0;
  min-height: 150px;
  padding: 15px 0 0; }

.mapviewer #legend-title,
.mapviewer #toc-title {
  color: #758816;
  font-size: 14px;
  margin: 0;
  padding: 15px 15px 0; }

/** adjustment of legend items **/
.mapviewer #legend_element label {
  padding-left: 15px; }

.mapviewer #legend_element img {
  clear: both;
  float: left;
  margin-left: 15px;
  margin-bottom: 10px;
  position: relative;
  top: 2px; }

/** Listing of available maps on the mapviewer page **/
.mapviewer-map-listing {
  position: relative;
  top: -50px; }

/** Styling of abstract dialog **/
#abstract_tabs_element ul.x-tab-strip-top {
  list-style-type: none;
  margin-left: 0; }

#abstract_tabs_element .x-panel-body h1,
#abstract_tabs_element .x-panel-body p {
  padding: 0 10px; }

#abstract_tabs_element .x-panel-body h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px; }

/****
   Styling of the FilterAceItemPortlet
****/
.resultsGroupTitle {
  color: #353f02;
  font-size: 12px;
  margin: -10px 0 -10px -5px; }

.searchresult {
  color: #000;
  background-color: #E9EFC9;
  border: 1px solid #758816; }

#filteraceitems_container a {
  color: #000;
  text-decoration: none; }

#filteraceitems_container a:hover {
  color: #a5bf26; }

/****
     Adjustment of layout padding styles because of grey background 
****/
.portlet-column-content-only, .ltr .portlet-column-content-last, .rtl .portlet-column-content-first {
  padding-right: 15px; }

/****
	Styling of glossary items
****/
.GlossaryTitle {
  background: url("/ace-theme/images/bg_sector_main_article_text.png") repeat-y scroll 0pt 0pt transparent;
  color: #67788A;
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 7px; }

.top-link {
  float: right;
  margin-right: 10px;
  font-size: 11px;
  text-decoration: none; }

.glossary-inline-term {
  border-bottom: 1px dotted;
  text-decoration: none; }

.glossary-inline-term:hover {
  text-decoration: none; }

.ui-tooltip-content .GlossaryTitle {
  display: none; }

/****
	Styling of the contact form
****/
.form .aui-legend {
  border-bottom: none;
  color: #02213D;
  font: normal 26px Tahoma, Times New Roman, serif; }

.form .aui-fieldset-content {
  margin-top: 15px; }

.form .aui-field-select {
  height: 21px;
  width: 454px; }

.form .field {
  height: 12px;
  width: 450px; }

.form #_1_WAR_webformportlet_INSTANCE_5ZkT_field4 {
  height: 100px; }

/****
	Styling of metadata sheets
****/
.detailcontainer,
.detailheader,
.detailfooter {
  width: 100%; }

.detailleft {
  float: left;
  padding: 15px 30px 15px 0;
  width: 640px; }

.detailright {
  background-color: #afc8df;
  float: left;
  padding: 15px;
  width: 254px; }

.detailfooter {
  background-color: #E7EFF5;
  border: 1px solid #7b96ae;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  font-weight: bold;
  margin: 20px 0 0 20px;
  padding: 15px;
  text-align: center;
  width: 180px; }

.detailfooter a,
.detailfooter a:hover {
  text-decoration: none; }

/****
	Share your info pages
****/
.share-your-info .image {
  float: right;
  height: 240px;
  padding: 40px 0 15px 15px; }

.share-your-info h1 {
  font: normal 26px Tahoma, Times New Roman, serif;
  margin: -5px 0 20px; }

.share-your-info ul#third-level-menu {
  margin-left: 0; }

/* blue button for submit button */
.bluebutton {
  display: inline-block;
  border: solid 1px #aab91d;
  float: right;
  color: #232323;
  background: #c7d443;
  background: -webkit-gradient(linear, left top, left bottom, from(#c7d443), to(#afbe21));
  background: -moz-linear-gradient(top, #c7d443, #afbe21);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C7D443', endColorstr='#C7D443');
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 13px/100% Verdana, Arial, Helvetica, sans-serif;
  padding: 1em 2em 1em;
  text-shadow: 0 1px 1px white;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 2px #ffffff;
  -webkit-box-shadow: inset 0 0 2px #ffffff;
  box-shadow: inset 0 0 2px #ffffff;
  margin-top: 10%; }

/* ---------- Wrapper ---------- */
.portlet-layout {
  border-collapse: collapse;
  clear: both;
  display: table;
  border-spacing: 0;
  table-layout: auto;
  width: 100%; }

.ie6 div.portlet-layout, .ie7 div.portlet-layout {
  height: 1%; }

.portlet-column {
  display: table-cell;
  vertical-align: top; }

.ie6 div.portlet-column, .ie7 div.portlet-column {
  float: left;
  overflow: hidden;
  width: 100%; }

.ie6 div.aui-column-last, .ie7 div.aui-column-last {
  margin-right: -1px; }

.portlet-column-content {
  padding: 5px; }

.ie6 .portlet-column-content, .ie7 .portlet-column-content {
  zoom: 1; }

.portlet-column-content-only, .ltr .portlet-column-content-first, .rtl .portlet-column-content-last {
  padding-left: 15px; }

.portlet-column-content-only, .ltr .portlet-column-content-last, .rtl .portlet-column-content-first {
  padding-right: 0; }

/* ---------- Column widths ---------- */
.portlet-column-content.empty {
  padding: 50px; }

#main-content.dragging .portlet-column {
  border: 3px double #828F95;
  height: 100px;
  min-height: 100px; }

@media print {
  div#tabs ul.ui-tabs-nav {
    display: none; }

  div.countries-list, div.region-list {
    display: none; }

  div#header-menu, div#searchbox {
    display: none; }

  div#layout-column_column-1 {
    float: left;
    padding-right: 10px; }

  #sec-menu, #navigation, #heading {
    display: none; }

  nav#navigation, nav#sec-menu, hgroup#heading {
    display: none; }

  div#sb-ast, div#sb-np, div#sb-csst, div#sb-syi {
    display: none; }

  a.double-arrow {
    display: none; }

  div.db-search-fp {
    display: none; }

  ul#third-level-menu {
    display: none; }

  div.portlet-msg-error {
    display: none; }

  div#read-more-link {
    display: none; }

  select {
    display: none; }

  #footer {
    padding-top: 20px; }

  #footer a {
    float: left;
    margin-left: 100px; } }
/* ---------- Custom table  ---------- */
.CSSTableGenerator {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #3f7f00;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px; }

.CSSTableGenerator table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px; }

.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; }

.CSSTableGenerator tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.CSSTableGenerator tr:nth-child(odd) {
  background-color: #d2df92; }

.CSSTableGenerator tr:nth-child(even) {
  background-color: #ffffff; }

.CSSTableGenerator td {
  vertical-align: middle;
  border: 1px solid #3f7f00;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-weight: normal;
  color: #000000; }

.CSSTableGenerator tr:last-child td {
  border-width: 0px 1px 0px 0px; }

.CSSTableGenerator tr td:last-child {
  border-width: 0px 0px 1px 0px; }

.CSSTableGenerator tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px; }

.CSSTableGenerator tr:first-child td {
  background: -o-linear-gradient(bottom, #6d7a2b 5%, #a5bf26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6d7a2b), color-stop(1, #a5bf26));
  background: -moz-linear-gradient(center top, #6d7a2b 5%, #a5bf26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d7a2b", endColorstr="#a5bf26");
  background: -o-linear-gradient(top, #6d7a2b, a5bf26);
  background-color: #6d7a2b;
  border: 0px solid #3f7f00;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff; }

.CSSTableGenerator tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #6d7a2b 5%, #a5bf26 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6d7a2b), color-stop(1, #a5bf26));
  background: -moz-linear-gradient(center top, #6d7a2b 5%, #a5bf26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d7a2b", endColorstr="#a5bf26");
  background: -o-linear-gradient(top, #6d7a2b, a5bf26);
  background-color: #6d7a2b; }

.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px; }

.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px; }

.CSSTableGenerator ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

.CSSTableGenerator ul li {
  margin-bottom: 8px; }

/* ---------- links previous next  in urban ast ---------- */
#bottom-menu {
  margin: 5px 20px 20px 20px; }

#bottom-menu a {
  color: #2c330a;
  text-decoration: none; }

#bottom-menu a:hover {
  color: #758816; }

#previous-link {
  float: left;
  width: 150px;
  text-align: left; }

#contact-link {
  float: left;
  text-align: center;
  width: 310px; }

#contact-link a.bluebutton {
  margin-top: 0px;
  float: none; }

#next-link {
  width: 150px;
  float: right;
  text-align: right; }

.clear-both {
  clear: both; }

.aui hr {
  margin: 0px;
  color: #9aa854;
  height: 1px; }

.portlet-title-text {
  white-space: normal; }

/************** Urban adaptation map viewer menu ***************/
.menu-urban ul, .menu-urban li, .menu-urban a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

.menu-urban {
  width: 149px; }

.menu-urban li {
  list-style: none;
  margin: 0 0 2px 0;
  opacity: 0.75;
  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s; }

.menu-urban li:hover {
  opacity: 1; }

#content .ace_layout_col_1_2 a.menu-link {
  display: block;
  height: 80px;
  padding: 5px 5px 0 5px;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #f3f3f3;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

#heat_waves {
  background-image: url("/ace-theme/images/heat_waves.png"); }

#drought {
  background-image: url("/ace-theme/images/drought.png"); }

#flooding {
  background-image: url("/ace-theme/images/flooding.png"); }

#forest_fires {
  background-image: url("/ace-theme/images/forest_fires.png"); }

#content .ace_layout_col_1_2 .menu-urban li ul {
  opacity: 0;
  height: 0;
  background: #e9efc9;
  -webkit-transition: opacity .25s ease .1s, height .25s ease .1s;
  -moz-transition: opacity .25s ease .1s, height .25s ease .1s;
  -o-transition: opacity .25s ease .1s, height .25s ease .1s;
  -ms-transition: opacity .25s ease .1s, height .25s ease .1s;
  transition: opacity .25s ease .1s, height .25s ease .1s; }

/*
#content .ace_layout_col_1_2 .menu-urban li:hover ul { opacity: 1; height: 80px; }
*/
#content .ace_layout_col_1_2 .menu-urban ul li {
  padding: 3px;
  opacity: 1;
  line-height: 20px; }

#content .ace_layout_col_1_2 .menu-urban ul li a {
  padding: 0px 0px 0px 25px;
  background: url("/ace-theme/images/arrow.gif") no-repeat scroll 10px 5px transparent;
  text-decoration: none;
  font-size: 12px;
  color: #2C330A;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

#content .ace_layout_col_1_2 .menu-urban a:hover {
  color: #a5bf26; }

#content .ace_layout_col_1_2 .empty {
  display: none; }

/****** effects fo active links *****/
#content .ace_layout_col_1_2 .menu-urban li a.active {
  color: #a5bf26; }

/************************************************ BEGIN of fMayors ADAPT General Styles ********************************/
.menuBackground {
  background: #a5bf26; }

.dropDownMenu a {
  color: #a5bf26; }

.dropDownMenu,
.dropDownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.dropDownMenu li {
  padding: 0px 10px 0px 10px;
  position: relative;
  line-height: 15px; }

.dropDownMenu a {
  color: black;
  padding: 10px 20px;
  display: block;
  text-decoration: none; }

.dropDownMenu a:hover {
  background: #d2df92;
  color: black; }

/* Level 1 Drop Down Menu */
.dropDownMenu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px; }

.dropDownMenu > li:first-child {
  margin-left: 0; }

/* Level 2 */
.dropDownMenu > li > ul {
  text-align: left;
  width: 260px;
  display: none;
  background: #d2df92;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999999; }

.dropDownMenu > li:hover > ul {
  display: block; }

/* Level 3 */
.dropDownMenu > li > ul > li > ul {
  width: 260px;
  text-align: left;
  display: none;
  background: #d2df92;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9999999; }

.dropDownMenu > li > ul > li:hover > ul {
  display: block; }

.site-breadcrumbs {
  margin: 0px;
  padding: 0px; }

.site-breadcrumbs li {
  background-color: #E9ECC9; }

.site-breadcrumbs a {
  color: black;
  background-color: #E9ECC9; }

.aui .breadcrumb {
  background-color: #E9ECC9;
  padding: 3px 15px 2px;
  margin: -10px 0px 0px 0px; }

/************************************************ END of Mayors ADAPT General Styles ********************************/

