body {
	background-color: #eee;
	line-height: 1;
}
html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: solid;
}

h1, h2, h3, h4, h5, h6 {
	font-family: RobotoB;
}
h1 {
  color: #005C96;
  font-size: 23px;
}

h2 {
  color: #4F4F4F;
  font-size: 21px;
  line-height: 24px;
  padding: 10px 0;
}

h3 {
  color: #4F4F4F;
  font-size: 18px;
}

textarea:focus,
input:focus {
  outline: none;
}

p {
  color: #4F4F4F;
  font-family: RobotoR;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;
}

a {
  color: #1E7CB3;
  font-family: RobotoM;
  font-size: 14px;
}

a:focus,
a:hover {
  color: #2AA5ED;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #4F4F4F;
  font-style: italic;
}

:-moz-placeholder {
  color: #4F4F4F;
  font-style: italic;
}

::-moz-placeholder {
  color: #4F4F4F;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #4F4F4F;
  font-style: italic;
}

.fa {
  cursor: pointer;
}

.read-more-wrapper {
  bottom: 15px;
  position: absolute;
  right: 15px;
}

a.read-more {
  color: #EF7000;
  font-size: 12px;
}

a.read-more:hover {
  color: #ff963a;
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.standard-button {
  font-family: RobotoB;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.primary-button {
  background: #0170B7 linear-gradient(#0170B7, #1697E9) no-repeat;
  color: #fff;
  border: 2px solid #0170B7;
}

.primary-button:hover {
  background: #0170B7;
}
