@import "variables.less";

body {
  background-color: #eee;
  position: relative;
  height: 100vh;
}
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: solid;
}
button:focus {
  outline:0;
}
select {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: RobotoB;
}

h1 {
  color: @primary-blue;
  font-size: 23px;
  margin-bottom: 1em;
}

h2 {
  color: @dark-gray;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 1em;
}

h3 {
  color: @dark-gray;
  font-size: 18px;
}

em {
  font-family: RobotoI;
  font-size: 14px;
  font-weight: bold;
}

textarea:focus,
input:focus {
  outline: none;
}

p {
  color: @dark-gray;
  font-family: RobotoR;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;
}

a {
  color: @link-color;
  font-family: RobotoM;
  font-size: 14px;
}

//#content a:link,
//a:link,
//#content a:visited,
//a:visited {
//  color: @link-color;
//  border-bottom: none;
//}
//
//#content a:hover {
//  color: #1E7CB3 !important;
//}

/* @group Invisibles */
.hiddenStructure {
  display: block;
  /* safari bug */
  background: transparent none;
  border: none;
  height: 0.1em;
  overflow: hidden;
  padding: 0;
  margin: -0.1em 0 0 -0.1em;
  width: 1px;
}

.visualNoMarker {
  list-style:none;
  margin-left: 0;
}

.visualClear {
  clear: both;
}
/* @end */
/* @group Overlay windows */

/* styling for overlays (popups) */

.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display: none;
    /* some padding to layout nested elements nicely  */
    margin: 1em;
    font-size: 80%;
}

.overlay-iframe,
.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
}

.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper-left corner */
.overlaybg .close,
.overlay .close {
    background-image: url(pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax {
    overflow-y: auto;
}

.pb-ajax, .pb-image, .overlay iframe {
    background-color: #fff;
    border: 1px solid #999;
    white-space: normal;
    box-shadow: 0 0 3em 0.5em #666;
    -moz-box-shadow: 0 0 3em 0.5em #666;
    -webkit-box-shadow: 0 0 3em #666;
}

.pb-ajax > div {
    width: 100%;
    padding: 1em;
}

.pb-ajax .documentActions {display:none}

.overlay .close span {
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.overlay textarea { width: 100%; }

/* Hide form elements that don't make sense within an overlay. */
.overlay .link-parent { display: none; }
.overlay #createGroup legend { display: none; }
.overlay #createGroup fieldset { border: none; }

/* lets play nice with paragraphs, links, tabbed pages in overlay e.g. when plone.openid is installed */
.overlay p {
    margin-bottom: 1em;
}
.overlay label {
    margin-bottom: 0.25em;
}
.overlay a:hover {
    color: #75ad0a;
}
.overlay a:hover label{
    cursor: pointer;
}
.overlay .selected {
    color: #000000;
}
.overlay .formTab {
    margin-right:1em;
    font-weight: bold;
}
.overlay .formTab.lastFormTab {
    margin-right:0em;
}
.overlay .formControls a {
    display: block;
    margin: 0.75em;
}

.pull-left {
    margin: 0 1em 1em 0;
}

/* @end */
a:focus,
a:hover {
  color: #1E7CB3;
  text-decoration: none;
  outline: none;
}

.fa {
  cursor: pointer;
}

.read-more-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

a.read-more {
  color: #EF7000;
  font-size: 12px;
}

a.read-more:hover {
  color: #ff963a;
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.site-container {
  margin-top: 1em;
  min-height: 600px;
  // overflow: hidden;  /* change box model */
}

.page-body {
  padding: 2rem;
}

.standard-button {
  font-family: RobotoB;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
}

.sm-button {
  font-size: 14px;
}

.primary-button {
  background: @secondary-blue linear-gradient(#0170B7, #1697E9) no-repeat;
  color: #fff;
  border: 2px solid @secondary-blue;
}

.primary-button:hover {
  background: @secondary-blue;
}

.portalMessage {
  background-color: lightgrey;
}

#content .eu-strategy td > ul > li,
#content .aceitem-relevant-tile > ul > li,
#content ul.arrow-items > li,
#content ul#ast-menu ul > li {
  list-style-type: none;
  padding-left: 1.3em;
  margin-bottom: 1em;
}

#content .eu-strategy td > ul > li:before,
#content .aceitem-relevant-tile > ul > li:before,
#content ul.arrow-items > li:before,
#content ul#ast-menu ul > li:before {
  content: "\f101";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #2D9CDB;
}

#content .aceitem-relevant-tile h2 {
  color: @primary-green;
  font-family: RobotoM;
  font-size: 18px;
}

.panel-default {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.panel-default > .panel-heading {
  text-align: right;
  background-color: transparent;
}

.panel-default > .panel-heading a {
  text-transform: uppercase;
  color: #EF7000;
}

.panel-default > .panel-heading a:hover {
  color: #ff963a;
}

.section-eu-adaptation-policy #content {
  background-color:  transparent;
  padding: 0;
}

.content-column,
.content-sidebar {
  background-color: #fff;
  padding: 20px;
}

.content-column .tile-content p {
  margin: 0;
}

.content-sidebar .aceitem-search-tile ul li {
  list-style-type: none;
  padding-left: 1.3em;
  margin-bottom: 1em;
}

.content-sidebar .aceitem-search-tile ul li:before {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: @dark-gray;
}

.content-sidebar .aceitem-search-tile ul li a {
  color: @dark-gray;
  font-family: RobotoR;
}

.content-sidebar .aceitem-search-tile h2 {
  color: @primary-blue;
  font-size: 14px;
}

.share-your-info-ace-button button {
  font-size: 17px;
  font-family: RobotoM;
}
