.secundary-button {
  background: #8a9c3a;
  border: none;
  color: #fff;
  font-weight: 600;
}

.container-themes {
  display: flex;
  justify-content: space-around;

  .img-agriculture {
    background: url(/en/knowledge/c3sdataimg/img-agriculture.jpg) no-repeat;
    background-size: cover;
  }

  .img-energy {
    background: url(/en/knowledge/c3sdataimg/img-energy.jpg) no-repeat;
    background-size: cover;
  }

  .img-forestry {
    background: url(/en/knowledge/c3sdataimg/img-forestry.jpg) no-repeat;
    background-size: cover;
  }

  .img-tourism {
    background: url(/en/knowledge/c3sdataimg/img-tourism.jpg) no-repeat;
    background-size: cover;
  }

  .img-coastal {
    background: url(/en/knowledge/c3sdataimg/img-coastal.jpg) no-repeat;
    background-size: cover;
  }

  .img-insurance-and-disaster-risk-reduction {
    background: url(/en/knowledge/c3sdataimg/img-insurance.jpg) no-repeat;
    background-size: cover;
  }

  .img-health {
    background: url(/en/knowledge/c3sdataimg/img-health.jpg) no-repeat;
    background-size: cover;
  }

  .img-physical-climate-extremes {
    background: url(/en/knowledge/c3sdataimg/img-climate-extremes.jpg) no-repeat;
    background-size: cover;
  }

  .column {
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    height: 300px;
    margin-bottom: 50px;
  }

  .not-active-yet {
    opacity: 0.5;
    cursor: default;
  }

  .column h3 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0px 10px;
  }
}
