.cover-cards-tile {
  display: flex;
  flex-wrap: wrap;
  // padding: 1em;

  .card {
    width: 220px;
    padding: 1em;
    background-color: #f5f5f5;
    margin: 0.6em;
    border: 1px solid #eee;

    .image {
      text-align: center;
      min-height: 120px;
      // margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .card-content {
      padding-top: 1em;
      min-height: 7em;
    }

    .card-extra {
      .year {
        line-height: 2em;
      }
    }
  }
}
