.section-countries-regions #content-core {
  background: #fff;
}
.country-map {
  background-color: #fff;
}
.country-nodata2 {
  background-color: #72A0C1;
}
#country-tab {
  .country-header {
    color: #005c96;
    padding-top: 40px;
  }
  .panel-body {
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    font-size:16px;
  }
  .panel.panel-default {
      border-bottom: 1px solid #ddd;
  }
  .panel.panel-default h4 a.arrow-up {
    border-bottom: 1px solid #ddd !important;
  }
  .panel.panel-default h4 a.arrow-down {
    border-bottom: 0px !important;
  }
  .panel.panel-default a.accordion-toggle.arrow-up {
    padding-bottom: 15px;
  }

  h4.panel-title a{
    font-family: GalanoGrotesqueAlt-Medium, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    text-decoration: none;
    color: #005c96;
  }
}

#country-tab > div > div.panel.panel-default:first {
  border-top: 1px solid #00415A !important;
}

#country-tab > div > div.section:last-child div.section-body{
  border-bottom: 1px solid #00415A;
}

#country-tab {
  .country-profile-legend {
    background-color: #005c96;
    border-radius: 5px;
    // border: 2px solid #005c96;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5em;

    &.list {
      background-color: #003a5f;
    }
  }

  .country-profile-legend2 {
    border-radius: 5px;
    border-bottom: 1px solid #005c96;
    color: #005c96;
    font-weight: bold;
    padding: 0.5em;
  }

  .country-profile-accordion {
    .panel-body.text{
      border-left: 2px solid #8a9c3a;
      padding: 5px 10px 10px;
    }
    .panel-default {
      border: none;
      padding: 5px;
    }
    .panel-collapse {
      display: block;
      // height: 0px;
      overflow: hidden;
      position: relative;
    }
    .panel-heading {
      text-align: right;
      position: relative;
      left: 0px;
      top: -33px;
    }
    .accordion-toggle {
      background-color: #8a9c3a;
      border-radius: 5px;
      color: white;
      float: right;
      font-size: 14px;
      padding: 1px 5px 1px;
      text-align: center;
      width: 9em;

    }
  }
}
