@import "variables.less";

// edit bar
.edit-bar-wrapper {
  background-color: @edit-interface-bg-color;
  position: relative;
  z-index: 999;
  border-bottom: 2px solid darken(@edit-interface-bg-color, 10%);
}

#edit-bar {
  min-height: 2.5em;
  margin-bottom: 0;
  background-color: @edit-interface-bg-color;
  border: 0.25em solid @edit-interface-bg-color;
}

#edit-bar li {
  display: inline;
}

#plone-contentmenu-workflow .state-published {
  background-color: #1d1d1d;
}

#plone-contentmenu-workflow .state-private {
  background-color: #a0a0a0;
}

.state-private, .state-visible, .state-published, .state-pending {
  border-color: transparent !important;
}

#contentActionMenus dl.actionMenu a {
  padding: 0 0.25em;
  margin: 0;
  background-color: transparent;
}

#contentActionMenus dl.actionMenu.activated dd {
  background-color: #1d1d1d;
  border-radius: 0;
  border-bottom: none;
  padding: 0;
  z-index: 999;
}

#contentActionMenus dl.actionMenu.activated dd div {
  margin: 1em 0.25em;
}

#contentActionMenus dl.actionMenu.activated dd a:hover {
  color: #fff;
  background-color: #3c3b3b !important;
}

#login-form div.formControls {
  margin: 1em 0;
  text-align: center;
}

#content label {
  font-family: RobotoM;
}

#content legend {
  border-bottom: 1px solid #e5e5e5;
  font-size: 100%;
  padding-left: 0;
}

.formHelp {
  font-size: 14px;
  font-family: RobotoR;
}

.formTabs {
  margin-bottom: 1.5em;
}

div.formControls {
  margin: 1em 0;
}

#content select {
  vertical-align: unset;
}

#content-views {
  background-color: transparent;
  top: 1px;
  position: relative;
  @media (max-width: 767px) {
    float: none;
  }
}

#content-views li.selected a,
#content li.formTab a.selected,
#content-core li.formTab a.selected {
  font-weight: normal;
  font-family: RobotoM;
}

#content-core li.formTab a.selected {
  color: @primary-green;
  font-family: RobotoB;
}

#content-core li.formTab a:hover {
  color: @primary-green;
}


#contentActionMenus {
  background: @edit-interface-bg-color;
  top: 0;
}

#content,
.region-subpage #content {
  padding: 1.5em;
  background-color: #fff;
  border: 1px solid #E5E5E5;
}

#breadcrumbs-you-are-here {
  display: none;
}

#portal-breadcrumbs {
  margin-bottom: 1em;
}

#portal-breadcrumbs a {
  font-family: RobotoR;
}

#content a.link-overlay {
  border-bottom: none !important;
}

#content div.documentByLine {
  font-size: 12px;
  margin-bottom: 1em;
}

#content div.documentByLine a {
  font-size: 12px;
}

#content ul, #content ol {
  list-style-position: inside;
}


#breadcrumbs-current {
  font-family: RobotoB;
  color: @primary-green;
  font-size: 14px;
}

.breadcrumbSeparator {
  display: none;
}

#portal-breadcrumbs span:not(:last-child):after {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #2D9CDB;
}

#viewlet-below-content .row {
  margin: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: transparent;
}

.eu-policy-page #document-action-download_pdf {
  float: left;
  clear: left;
}

#document-action-download_pdf {
  list-style: none;
  margin-top: 3em;
  display: inline-block;
  a {
    color: @dark-gray;
    margin-left: 0;
  }
  a:before {
    content: '' !important;
  }
}

#document-action-download_pdf:before {
  content: '\f019';
  font-family: FontAwesome;
  margin-right: 10px;
  position: relative;
  color: @dark-gray;
}

#viewlet-below-content-title {
  padding-bottom: 0.5em;
}

#login-form .formControls input {
  font-family: RobotoM;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
  color: @dark-gray;
  font-size: 14px !important;
  margin-top: 10px;
}

#login-form .formControls input {
  font-size: 100%;
}

#login-form .formControls input:hover {
  background-color: #E0E0E0;
}

#login-form label {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-family: RobotoM;
  color: @dark-gray;
  font-size: 14px;
}

#login-form .field {
  margin: 1em 0;
  text-align: center;
}

#login-form .field > label[for="__ac_name"]:before,
#login-form .field > label[for="__ac_password"]:before, {
  font-family: FontAwesome;
  margin-right: 0.5em;
  font-size: 16px;
  color: @primary-blue;
}

#login-form .field > label[for="__ac_name"]:before {
  content: '\f007';
}

#login-form .field > label[for="__ac_password"]:before {
  content: '\f084';
}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
  border: 1px solid @primary-blue;
}

.panel-body {
  padding: 0;
}

#lock-icon img {
  display: none;
}

#lock-icon:before {
  content: '\f023';
  font-family: FontAwesome;
  color: #ffbe00;
  font-size: 14px;
}

.hiddenForAnon {
  margin-top: 0.2em !important;
}

#third-level-menu {
  li {
    display: block;
    margin-bottom: 0.5rem;
    &.fa.fa-angle-double-right:before {
      position: absolute;
      color: @link-color ;
    }
    & > a {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}

.subsection-funding-h2020 h2 > a,
.subsection-funding-h2020 h2 > strong > a {
  font-size:inherit;
}

.subsection-funding-h2020 h2 {
  margin-top: 1em;
}

.bluebutton {
  display: inline-block;
  position: relative;
  margin-top: 0.5em;
  padding: 10px 13px 10px 45px;
}

#portal-columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

#portal-column-content {
  width: 100%;
}

@media screen and (max-width: 480px) {
  /* For devices with narrow screens, phones, tablets, etc. */
  #portal-column-one,
  #portal-column-two,
  #portal-column-content {
    clear: both;
    // width: 97.75%;
    margin-left: 0;
    overflow-x: auto;
  }

}
