@import "variables.less";

#edit-bar {
  min-height: 2.34em;
  margin-bottom: 0;
  background-color: @edit-interface-bg-color;
  border: 0.25em solid @edit-interface-bg-color;
}

#content-views {
  background-color: @edit-interface-bg-color;
}

#content {
  margin: 0;
  padding: 1.5em;
  background: white;
}
