/*** footer ***/

.footer {
  background-color: #fff;
  margin-top: 25px;
}

.footer-nav {
  background-color: #005C96;
  border-top: 5px solid #7D9600;
  width: 100%;
}

.footer-nav nav ul li {
  display: inline-block;
  padding: 15px 20px 15px 0;
}

.footer-nav nav ul li a {
  color: #fff;
  text-transform: uppercase;
}

.footer-content {
  justify-content: space-between;
}

.footer-content .site-info {
  max-width: 600px;
  width: 100%;
}

.footer-content .footer-logos-wrapper {
  margin-top: 20px;
  text-align: center;
}

.footer-content .footer-logos-wrapper img {
  margin: 10px 30px;
}

.footer-content .footer-logos-wrapper .eea-logo {
  height: 50px;
}

.footer-content .eu-system {
  flex: 0 0 auto;
  text-align: center;
}

.footer-content .eu-system p {
  margin-bottom: 43px;
}

.footer-logos-list {
  display: table;
  margin: 0 auto;
}

.footer-logos-list li {
  display: table-cell;
  vertical-align: middle;
}

.footer-logos-list img {
  margin: 10px;
}
