/*** footer ***/

footer {
  background-color: #fff;
  margin-top: 10px;
}

.footer-nav-wrapper {
  background-color: #005C96;
  border-top: 5px solid #7D9600;
}

.footer-nav-item {
  display: inline-block;
  padding: 15px 20px 15px 0;
}

.footer-nav-link {
  color: #fff;
  text-transform: uppercase;
}

.footer-content {
  padding-top: 20px;
}

.footer-content .footer-logos-wrapper {
  margin-top: 20px;
  text-align: center;
}

.footer-content .footer-logos-wrapper img {
  margin-right: 30px;
}

.footer-content .eu-systems {
  text-align: center;
}

.footer-content .eu-systems p {
  margin-bottom: 43px;
}

.footer-logos {
  display: table;
  margin: 0 auto;
}

.footer-logo-item {
  display: table-cell;
  vertical-align: middle;
}

.footer-logo-item img {
  margin: 10px;
}
