@import "variables.less";

.fullwidth {
  .header {
    & > .content-container {
      max-width: 100%;
      background-color: @primary-blue;
    }
  }

  .header .main-nav {
    box-shadow: none;
    max-width: 1200px;
  }

  .site-container {
    max-width: 100%;
  }

  #portal-breadcrumbs {
    margin-left: 2em;
  }
}