/*** main area  ***/
.main-area .row {
  margin-right: -10px;
  margin-left: -10px;
}
.main-area .row:first-child {
  margin-top: 30px;
}

.main-area h2 {
  padding-top: 0;
}

.main-box {
  height: 305px;
  padding: 10px;
}

.box-container {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  height: 100%;
  padding: 20px;
  position: relative;
}

.box-listing li {
  padding: 15px 0;
}

.info-section {
  background-color: #0170B7;
  border: 1px solid transparent;
}

.content-body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info-section p {
  color: #fff;
  text-align: center;
}

.info-title-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  align-items: center;
  margin: auto;
}

.info-section .info-title {
  color: #fff;
  margin-left: 20px;
}

.info-section .info-title h5 {
  font-size: 27px;
  font-family: RobotoM;
}

.info-section .info-title span {
  color: #FFD554;
  font-family: RobotoB;
}

.info-section .info-button {
  background-color: transparent;
  border: 2px solid #fff;
  margin: auto;
  color: #fff;
}

.info-section .info-button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #0170B7;
}

.news-section,
.events-section {
  position: relative;
}

.news-time {
  font-size: 10px;
}

.newsletter-wrapper,
.rss-feed-wrapper {
  text-align: center;
}

.newsletter-wrapper h4 {
  font-size: 27px;
  color: #4F4F4F;
  margin: auto 0;
}

.newsletter-wrapper p,
.rss-feed-wrapper p {
  margin: 0 auto;
}

.newsletter-wrapper button,
.rss-feed-wrapper button {
  margin: auto;
}

.news-section .read-more-wrapper,
.events-section .read-more-wrapper {
  position: relative;
  text-align: right;
  bottom: auto;
}

.rss-feed-wrapper i {
  font-size: 50px;
  color: #FF6600;
  margin: auto 0;
}
