@import "variables.less";

/*** home page slider ***/
.slider {
  position: relative;
}

.slider-nav {
	width: 600px;
  position: absolute;
  bottom: 30px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  padding: 0 10px 10px 10px !important;

  .slick-next,
  .slick-prev {
    display: none !important;
  }
}

.slider-nav .slick-slide {
  margin: 0 5px;
  width: 120px !important;
}

.slider-nav-wrapper {
  height: 45px;
  position: relative;
  display: inline-block;
  flex: 1 1 auto;
  cursor: pointer;
  position: relative;
}

.slider-nav-wrapper:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: @primary-blue;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.active-slider:after {
  background-color: @primary-green;
}

.slider-nav-wrapper:not(:last-of-type) {
  margin-right: 10px;
}

.slider-layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px;
  width: 100%;
  font-size: 10px;
  font-family: OpenSansB;
  color: #fff;
  line-height: 14px;
  text-shadow: 2px 2px 5px #000;
}

.slider-image-wrapper {
  border-bottom: 5px solid @primary-green;
  height: 420px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.slider-image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.slider-nav .slick-slide {
  float: right;
}

.slider-nav .slick-track {
  width: auto !important;
}

.slider-nav .slick-list {
  padding: 0 !important;
}

.slider-caption {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 80px;
  padding: 10px;
  position: absolute;
  width: 100%;
  max-width: 600px;
  max-height: 200px;
  height: auto;
}

.slider-bottom-caption a {
  font-size: 13px;
}

.slider-bottom-caption .read-more-wrapper {
  bottom: auto;
  position: relative;
  right: auto;
  text-align: right;
}

.slider .slick-prev,
.slider .slick-next {
  display: none !important;
}

.slider-controls {
  position: relative;

  .pause {
    position: absolute;
    bottom: 40px;
    z-index: 999;
    cursor: pointer;
    left: 25px;
  }
  .pause:before {
    color: #fff;
    font-family: FontAwesome;
    font-size: 20px;
    padding: 10px;
    opacity: 0.8;
    content: '\f04c';
  }

  .pause-circle {
    position: absolute;
    bottom: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    opacity: 0.8;
  }
}
