@import "variables.less";

/*** dynamic area  - tab section ***/
.dynamic-area a {
  text-decoration: none;
}

.main-nav-tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  border-bottom: none;
  text-align: center;

  .main-tab-item {
    flex-grow: 1;

    a {
      border: none;
      color: @primary-blue;
      font-size: 16px;
      line-height: 18px;
      padding: 1em 2em;
      margin: 0;
    }
    a:hover {
      background-color: transparent;
    }

    .d-icon {
      background-position: 0 0;
      height: 40px;
      width: 40px;
      margin: 0 auto;
      margin-bottom: 8px;
      display: block;
      background: url("../images/d_tab_icons.svg") no-repeat;
    }

    .started-icon {
      background-position: 0 0;
    }
    .database-icon {
      background-position: -40px 0;
    }
    .policy-icon {
      background-position: -80px 0;
    }
    .eu-icon {
      background-position: -120px 0;
    }
    .case-icon {
      background-position: -160px 0;
    }
    .ast-icon {
      background-position: -200px 0;
    }
  }

  .main-tab-item.active {
    background-color: #fff;
    box-shadow: 4px 0 8px -4px rgba(0, 0, 0, 0.2), -4px 0 8px -4px rgba(0, 0, 0, 0.2);
    z-index: 2;

    .started-icon {
      background-position: 0 -40px;
    }
    .database-icon {
      background-position: -40px -40px;
    }
    .policy-icon {
      background-position: -80px -40px;
    }
    .eu-icon {
      background-position: -120px -40px;
    }
    .case-icon {
      background-position: -160px -40px;
    }
    .ast-icon {
      background-position: -200px -40px;
    }

    a:before,
    a:after {
      background-color: #fff;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
    }

    a:before {
      top: -5px;
    }
    a:after {
      bottom: -7px;
    }

    a,
    a:hover {
      border: none !important;
      color: @secondary-green !important;
    }

  }

}

.tab-container {
  position: relative;
  border-bottom: 20px solid @secondary-blue;

  .blue-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: @secondary-blue;
    z-index: -2;
  }
}

.tab-body {
  height: auto;
  background-color: #fff;
  border-bottom: 5px solid @primary-green;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3), 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.tab-pane {
  padding: 1.5em;
}

.ast-tab-pane {
  padding-top: 2.5em;
}

.tab-pane.tab-map {
  padding: 0;
  position: relative;
}

.dynamic-area h2 {
  font-size: 25px;
}

.map-tab:after {
  bottom: 0 !important;
}

.map-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
  max-width: 325px;
  height: auto;

  p {
    font-family: OpenSansM;
    word-break: normal;
  }
}

.map-islands {
  position: absolute;
  bottom: 20px;
  left: 272px;
}

.country-dropdown {
  margin-bottom: 1em;
}

/*** dynamic area  - Getting started ***/

.flex-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.thumbnail-wrapper,
.thumbnail-wrapper:hover {
  text-decoration: none;
}

.thumbnail-wrapper:hover .fa,
.thumbnail-wrapper:hover .video-caption strong {
  color: @secondary-green;
}

.video-caption {
  margin: 1em 2.5em;

  p {
    font-size: 12px;
    font-family: OpenSansR;
    text-align: center;
  }
}

.video-thumbnail {
  background-color: #dedede;
  height: 170px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  padding: 0.3em;

  .video-image {
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
  }

  .local-image {
    background-image: url("../images/getting-started-local.png");
  }

  .national-image {
    background-image: url("../images/getting-started-national.png");
  }

  .transnational-image {
    background-image: url("../images/getting-started-transnational.png");
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    font-size: 20px;
    color: @primary-blue;
  }

  .icon-bg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(0, 0, 0, 0.2);
  }

  .slider-layer {
    background-color: rgba(0, 0, 0, 0.05);
  }

}

/*** dynamic area  - Database ***/

.database-search-box {
  padding: 20px 0;
  text-align: center;

  .search-submit i {
    color: @dark-gray;
    font-size: 25px;
  }

  .search-submit i:hover {
    color: @secondary-blue;
  }

  input {
    border: none;
    border-bottom: 2px solid #E0E0E0;
    max-width: 450px;
    width: 100%;
    height: 35px;
    background-color: #fff;
  }
}

.db-category-wrapper {
  text-align: center;
  flex: 1 1 200px;
  padding: 1em 0;

  .db-category-icon {
    color: @secondary-blue;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;

    i {
      font-size: 40px;
    }
  }

  .total-items {
    background: #333;
    border-radius: 50%;
    bottom: -11px;
    color: #fff;
    font-size: 9.5px;
    height: 26px;
    width: 26px;
    line-height: 26px;
    position: absolute;
    right: -15px;
  }

  a:hover i,
  a:hover p {
    color: @secondary-green;
  }

  a:hover .research-icon {
    background: url("../images/db_research_icon.svg") no-repeat;
    height: 40px;
    width: 40px;
    background-position: -42px 0;
    margin: 0 auto;
  }

  .db-category-icon .research-icon {
    background: url("../images/db_research_icon.svg") no-repeat;
    height: 40px;
    width: 40px;
    background-position: 0 0;
    margin: 0 auto;
  }
}

.db-category-wrapper.db-research .total-items {
  right: 84px;
  bottom: 62px;
}

.policies-nav li p,
.db-category-wrapper p {
  font-size: 13px;
}


/*** dynamic area  - EU Policies ***/

.policies-nav {
  border-bottom: none;
  padding: 0 !important;
}

.policies-nav-item {
  text-align: center;
  width: 160px;
  flex: 1 1 auto;
  padding: 0 1em;
}

.policies-nav-link,
.policies-nav-link:hover {
  cursor: pointer !important;
}

.policies-nav-link:hover,
.policies-nav-link:focus {
  background-color: transparent !important;
}

.policies-nav-item.active .policies-nav-link p {
  color: @secondary-green;
}

.policies-nav-link,
.policies-nav-item.active .policies-nav-link,
.policies-nav-item.active .policies-nav-link:hover,
.policies-nav-item.active .policies-nav-link:focus {
  border-bottom-color: #ddd;
  border-radius: 4px;
}

.policy-icons {
  background: url("../images/policies_icons.svg") no-repeat;
  height: 47px;
  width: 47px;
  margin: 0 auto;
}

.policy-icons.agriculture {
  background-position: -12px -9px;
}

.policy-icons.forestry {
  background-position: -66px -9px;
}

.policy-icons.buildings {
  background-position: -127px -9px;
}

.policy-icons.energy {
  background-position: -180px -9px;
}

.policy-icons.transport {
  background-position: -233px -9px;
}

.policy-icons.financial {
  background-position: -296px -9px;
}

.policy-icons.health {
  background-position: -354px -9px;
}

.policy-icons.urban {
  background-position: -7px -116px;
}

.policy-icons.water {
  background-position: -63px -115px;
}

.policy-icons.coastal {
  background-position: -121px -113px;
}

.policy-icons.biodiversity {
  background-position: -182px -113px;
}

.policy-icons.marine {
  background-position: -243px -113px;
}

.policy-icons.disaster {
  background-position: -304px -113px;
}

.policy-icons.green-infrastructure {
  background-position: -355px -111px;
}

.policies-nav-link:hover p {
  color: @secondary-green;
}

.policies-nav-link:hover .policy-icons.agriculture,
.policies-nav-item.active .policy-icons.agriculture {
  background-position: -12px -58px;
}

.policies-nav-link:hover .policy-icons.forestry,
.policies-nav-item.active .policy-icons.forestry {
  background-position: -66px -58px;
}

.policies-nav-link:hover .policy-icons.buildings,
.policies-nav-item.active .policy-icons.buildings {
  background-position: -127px -58px;
}

.policies-nav-link:hover .policy-icons.energy,
.policies-nav-item.active .policy-icons.energy {
  background-position: -180px -58px;
}

.policies-nav-link:hover .policy-icons.transport,
.policies-nav-item.active .policy-icons.transport {
  background-position: -233px -58px;
}

.policies-nav-link:hover .policy-icons.financial,
.policies-nav-item.active .policy-icons.financial {
  background-position: -296px -58px;
}

.policies-nav-link:hover .policy-icons.health,
.policies-nav-item.active .policy-icons.health {
  background-position: -354px -58px;
}

.policies-nav-link:hover .policy-icons.urban,
.policies-nav-item.active .policy-icons.urban {
  background-position: -7px -165px;
}

.policies-nav-link:hover .policy-icons.water,
.policies-nav-item.active .policy-icons.water {
  background-position: -63px -164px;
}

.policies-nav-link:hover .policy-icons.coastal,
.policies-nav-item.active .policy-icons.coastal {
  background-position: -121px -162px;
}

.policies-nav-link:hover .policy-icons.biodiversity,
.policies-nav-item.active .policy-icons.biodiversity {
  background-position: -182px -162px;
}

.policies-nav-link:hover .policy-icons.marine,
.policies-nav-item.active .policy-icons.marine {
  background-position: -243px -162px;
}

.policies-nav-link:hover .policy-icons.disaster,
.policies-nav-item.active .policy-icons.disaster {
  background-position: -304px -162px;
}

.policies-nav-link:hover .policy-icons.green-infrastructure,
.policies-nav-item.active .policy-icons.green-infrastructure {
  background-position: -355px -160px;
}

.policies-tab-content {
  background-color: #F5F5F5;
  height: auto;
  margin-top: 1em;

  .row {
    margin: 0;
  }

  .policy-image {
    height: 137px;
    overflow: hidden;

    img {
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);

      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
    }
  }
}

.policy-description {
  padding-left: 1em;

  h3 {
    color: @secondary-green;
  }
}

/*** dynamic area  - Case studies ***/

.case-study {
  margin: 0;

  .col-md-9 {
    padding: 0.8em 1.5em 0 0;
  }

  .case-study-search {
    text-align: center;
    margin-bottom: 1em;
    border: 1px solid #bbb;
    padding: 1em;
    border-radius: 5px;
  }

  .ca-booklet {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    align-items: center;
    margin-top: 2em;

    p {
      margin-left: 1em;
    }
    .ca-booklet-link {
      display: block;
    }
  }
}

/*** dynamic area  - Adaptation support tool ***/

.ast-tab-pane .see-more-link {
  border-top: none;

  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  padding-top: 0;

  .ast-link-wrapper {
    position: absolute;
    bottom: 0;
  }
  .ast-link {
    position: relative;
    min-width: 220px;
  }
}

.ast-map-image {
  margin-top: 1.5em;
  p {
    font-size: 12px;
    margin: 5px 0;
  }
}

.ast-image-title {
  text-align: center;
  font-family: OpenSansB;
  color: @primary-blue;
  position: absolute;
  top: 63px;
  left: 34px;
  font-size: 17px;
}

.circle-1-text {
  top: -30px;
  right: -204px;
}

.circle-2-text {
  top: 20px;
  right: -229px;
}

.circle-3-text {
  top: 108px;
  right: -216px;
}

.circle-4-text {
  bottom: -81px;
  right: -12px;
  max-width: 160px !important;
}

.circle-5-text {
  top: 135px;
  left: -128px;
}

.circle-6-text {
  top: 53px;
  left: -230px;
}

.arrow-round {
  position: relative;
  width: 200px;
  height: 200px;
  border: 15px solid @primary-blue;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.white-bg {
  background-color: #fff;
  height: 80px;
  width: 73px;
  position: absolute;
  top: -23px;
  margin-left: auto;
  margin-right: auto;
  left: -37px;
  right: 0;
}

.arrow-round::after {
  content: "";
  position: absolute;
  border: 30px solid #005C96;
  border-bottom-color: #005C96;
  top: 0px;
  left: 9px;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-color: transparent;
}

.ast-map-image .ast-circle {
  background-color: @primary-green;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: initial;
  color: #fff;
  height: 35px;
  width: 35px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  position: absolute;

  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
}

.ast-map-image .step-text {
  position: absolute;
  max-width: 230px;
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  text-align: center;

  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
}

.ast-map-image .circle-1 {
  right: 59px;
  top: -24px;
}

.ast-map-image .circle-2 {
  right: -12px;
  top: 18px;
}

.ast-map-image .circle-3 {
  right: -17px;
  top: 103px;
}

.ast-map-image .circle-4 {
  right: 52px;
  bottom: -23px;
}

.ast-map-image .circle-5 {
  left: -7px;
  top: 126px;
}

.ast-map-image .circle-6 {
  left: -25px;
  top: 45px;
}

.ast-steps {
  display: none;
}

.ast-steps li:not(:last-child) {
  margin-bottom: 25px;
}

.ast-steps li:not(:last-child):after {
  background-color: lightgray;
  bottom: -17px;
  content: '';
  height: 15px;
  left: 3px;
  position: absolute;
  width: 2px;
}

.ast-steps .step-number {
  color: @secondary-blue;
  font-family: OpenSansM;
  padding-right: 5px;
}

.ast-steps li a {
  font-family: OpenSansM;
  color: @dark-gray;
}

.see-more-link {
  text-align: center;
  border-top: 1px solid #dcdada;
  padding-top: 1.5em;
}

.see-more-link p {
  margin-bottom: 0;
}

.see-more-link a {
  margin-left: 5px;
  display: inline-block;
}
