@import "variables.less";

.header ul {
  list-style: none;
}

.header .main-nav-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  text-align: center;
  position: relative;
  z-index: 10;
  background-color: @primary-blue;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.40);

  .fa-database {
    float: left;
    display: inline;
    margin-right: 5px;
    line-height: 18px;
    color: @primary-blue;
  }
}

.header .main-nav-item {
  flex-grow: 1;
  position: relative;
}

.header .main-nav-item:not(:last-child) {
  border-right: 1px solid #014673;
}

.header .main-nav-item > span {
  display: block;
}

.header .main-nav-item:hover > span {
  background: @primary-green;
}

.header .main-nav-link {
  display: inline-block;
  padding: 15px 0;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

.header .sub-menu {
  min-width: 200px;
  text-align: left;
}

.header .main-nav-item:hover > .sub-menu-wrapper {
  display: block;
}

.header .sub-menu-wrapper {
  position: absolute;
  left: 0;
  height: auto;
  background-color: #F7F7F7;
  z-index: 10;
  padding: 10px;
  border-bottom: 5px solid #7D9600;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.40);
  display: none;
}

.header .sub-menu-item:first-child {
  padding-top: 0;
}

.header .sub-menu-item:last-child {
  padding-bottom: 0;
}

.header .sub-menu-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .sub-menu-item {
  padding: 13px 0;
}

.header .sub-menu-link {
  color: @primary-blue;
  font-size: 14px;
  text-transform: uppercase;
}

.header .sub-sub-menu-item {
  display: block;
  padding-top: 8px;
}

.header .sub-sub-menu-link {
  color: @dark-gray;
  font-family: RobotoR;
  text-transform: none;
  font-size: 13px;
  display: block;
}

.header .sub-menu-link:hover,
.header .sub-sub-menu-link:hover {
  color: @primary-green;
}

.header .toggle-down {
  border: none;
  background-color: transparent;
  padding: 0;
}
