@import "variables.less";

@import "fonts.less";
@import "reset.less";
@import "base.less";
@import "fullwidth.less";
@import "topmenu.less";
@import "mainmenu.less";
@import "homepage-main.less";
@import "homepage-slider.less";
@import "homepage-dynamic.less";
@import "footer.less";
@import "cookie.less";

@import "custom-print-pdf.less";


@media (max-width: 1200px) {
  /* header navigation */
  .header .main-nav-item > a {
    font-size: 14px;
  }

  #portal-breadcrumbs {
    margin: 0 1em;
  }

  .portalMessage {
    margin-left: 1em;
    margin-right: 1em;
  }

  #content,
  .region-subpage #content,
  .template-edit #content {
    padding: 1em;
  }

  /* homepage dynamic area */
  .main-tab-heading .main-nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* footer section */
  .footer-nav {
    text-align: center;
  }
}

@media (max-width: 1080px) {
  .db-category-wrapper {
    flex: 1 1 170px;
  }
}

@media (max-width: 992px) {
  .main-area {
    padding: 0 10px;
  }
  .see-more-link {
    display: block;
  }
  .ast-tab-pane .see-more-link {
    display: flex;
  }
  .footer-content .site-info {
    margin: 0 auto;
    padding: 1.5em;
    border-bottom: 1px solid #E8E8E8;
  }
  .footer-content .eu-systems {
    margin-top: 1.5em;
    margin: 0 auto;
    padding: 1.5em;
  }
  .eu-systems-wrapper {
    float: none;
  }
  .footer-content .eu-systems p {
    margin: 15px;
  }

  .footer-content .site-info p {
    text-align: center;
  }

  .action-btn {
    margin-bottom: 25px;
  }

  .map-caption {
    position: relative;
    top: 0;
    left: auto;
    max-width: none;
    padding: 1em;
    bottom: auto;
    text-align: center;
    p {
      font-family: OpenSansR;
    }
  }

  .map-islands {
    left: 1em;
    bottom: 1em;
  }

  .footer-content {
    margin: 0;
  }

  // content
  .content-sidebar,
  .content-column,
  .interactive-maps,
  .detailed-content {
    border-left: 0;
    border-right: 0;
  }
  .content-sidebar.col-md-3 {
    width:100%;
    margin-top: 2%;
  }
  .content-column.col-md-9 {
    margin-right: 0;
  }
  .factsheet-pdf {
    display: block;
    margin-top: 2%;
  }
  .documentExportActions {
    float: none;
    display: inline-block;
  }
}

@media (max-width: 800px) {

  /* header area */

  .top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: top 0.2s ease-in-out;
  }

  .header.mobile-header .nav-up {
    top: auto;
  }

  .nav-up {
    top: -65px;
  }

  .header.mobile-header {

    .top-menu {
      position: fixed;
      height: auto;
      border-bottom: 1px solid #d3d3d3;
    }

    .top-menu-right-section {
      width: 100%;
      padding: 10px;
      margin: 0;
    }

    .top-menu-items {
      position: absolute;
      top: -30px;
      left: -20px;
    }

    .search-box input {
      width: auto;
    }

    .search-box {
      right: auto;
      display: block;
      text-align: center;
      padding: 10px 0;
      margin-top: 41px;
    }

    .toggle-down {
      position: absolute;
      right: 10px;
      top: 22px;
    }

    .sub-menu-item:last-child,
    .sub-menu-item:first-child {
      padding: 13px 0;
    }

    .main-nav-item {
      display: block;
      text-align: left;
    }

    .mobile-clearfix {
      display: block;
      clear: both;
    }

    .sub-menu-item:last-child {
      border-bottom: none;
    }

    .main-nav {
      display: block;
      text-align: left;
      overflow-y: auto;
      height: 99vh;
      box-shadow: none;
      display: block;
      position: fixed;
      top: 107px;
    }

    #main-nav-item-2 .sub-menu > .sub-menu-item:not(:first-child) {
      padding: 13px 0;
    }

    .main-nav-item:not(:last-child) {
      border-right: none;
      border-bottom: 1px solid #e2e1e1;
    }

    .main-nav-link {
      padding: 20px 10px;
      display: inline-block;
      font-size: 15px;
    }

    .sub-menu-link {
      padding: 0 10px;
      font-size: 13px;
      color: #464646;
      display:inline-block;
    }

    .sub-menu-item:last-of-type {
      padding-bottom: 10px;
    }

    .main-nav-menu .fa-database {
      margin: 0 0 0 10px;
    }

    .sub-sub-menu-link {
      padding: 5px 10px;
    }

    .sub-menu-wrapper {
      position: relative;
      box-shadow: none;
      border-bottom: none;
      background-color: #fff;
      padding: 0;
      column-count: auto !important;
    }

    .main-nav-item:hover > span {
      background: none;
    }

  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .header .main-nav,
  .top-menu-content,
  .search-box:after {
    display: none;
  }

  .nav-toggle {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .top-menu-nav {
    position: absolute;
    top: 10px;
  }

  #help-navbar{
    height: auto;
  }

  .header .sub-sub-menu-item:not(:first-child),
  .mobile-header .sub-sub-menu-item {
    padding: 0;
  }

  .header .main-nav-item:hover > .sub-menu-wrapper {
    display: none;
  }

  .main-tile-content .flex-wrapper {
    flex-direction: column;
  }

  .no-ovf .logo {
    display:none;
  }

  .slider-controls {
    display: none;
  }

  /* dynamic area */
  .main-tab-heading .db-highlighted a {
    padding: 1em 3em !important;
  }
  .database-search-box input {
    width: 70%;
  }

  /* homepage carousel */
  .slider-caption {
    max-height: 100%;
  }
  .slider-caption,
  .slider-nav {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 100%;
  }

  .newsletter-wrapper p,
  .rss-feed-wrapper p,
  .info-section p {
    margin: 25px;
  }
  .db-category-wrapper {
    flex: 1 1 120px;
  }

  #content,
  .region-subpage #content {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .ast-title-step {
    float:left;
  }
  .ast_header h1 {
    display: block;
  }
}

@media (max-width: 600px) {
  .header #main-nav-item-3 .sub-menu-wrapper,
  .header #main-nav-item-1 .sub-menu-wrapper {
    min-width: 100%;
  }
  .main-box  {
    height: auto;
  }
  .ast-steps {
    display: block;
    margin-top: 50px;
    text-align: center;
    list-style-type: none;
  }
  .step-text {
    display: none;
  }
  .ast-tab-pane .see-more-link {
    border-top: 1px solid #dcdada;
    margin-top: 30px;
  }
  .ast-tab-pane .see-more-link {
    display: block;
  }
  .ast-tab-pane .ast-link-wrapper {
    position: relative !important;
  }

  /* homepage dynamic area */
  .tab-pane {
    padding: 20px 15px;
  }
  #t-policies {
    padding: 20px 0;
  }
  .policies-nav li {
    padding: 10px 5px;
    flex: 1 120px;
  }
  .flex-wrapper {
    flex-wrap: wrap;
    padding: 0;
  }
  .database-search-box input {
    width: 80%;
  }
  .policy-description {
    padding: 0;
  }
  .policy-image {
    display: none;
  }
  .policy-description {
    width: 100% !important;
  }

  .action-bubble {
    width: 90%;
    margin: auto;
  }
  .see-more-link a {
    display: block;
  }
  .urban-area {
    margin-top: 20px;
  }
  .map-islands {
    display: none;
  }
  .country-dropdown {
    margin-bottom: 1em;
  }

  .footer-logo-item {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .slider-caption {
    bottom: 30px;
  }
  .slider-nav {
    display: none;
  }
  .slick-dots {
    width: auto;
    left: 2em;
    display: block !important;
  }

  .top-menu {
    height: 53px;
  }

  .nav-up {
    top: -53px;
  }

  .mobile-menu {
    top: 13px;
  }
  .logo {
    margin-left: 10px;
  }
  .logo a img {
    height: 38px;
  }

  #content, .region-subpage #content,
  .content-column,
  .footer-content .site-info {
    padding: 1em !important;
  }

  .footer-content {
    padding: 0;
  }

}

@import "fixes.less";
